.article {
  position: relative;

  box-sizing: border-box;

  width: 100%;
  margin: 0 auto 1.25rem;
  border-radius: 0.4rem;

  background: var(--bg-color-float);
  box-shadow: 0 1px 3px 1px var(--card-shadow);

  text-align: left;

  @media (max-width: hope-config.$pad) {
    margin: 0 auto 1rem;
  }

  @media (max-width: hope-config.$mobile) {
    border-radius: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 2px 6px 2px var(--card-shadow);
  }

  > a {
    display: block;
    padding: 0.75rem 1.25rem;
    color: inherit;

    @media (max-width: hope-config.$pad) {
      padding: 0.75rem 1rem;
    }
  }

  .sticky-icon {
    position: absolute;
    top: 0;
    right: 0;

    width: 1.5rem;
    height: 1.5rem;

    color: var(--theme-color);
  }

  .title {
    position: relative;

    display: inline-block;

    font-size: 1.25rem;
    font-family: var(--font-family-fancy);
    line-height: 1.6;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background: var(--theme-color);

      visibility: hidden;

      transition: transform 0.3s ease-in-out;
      transform: scaleX(0);
    }

    &:hover {
      cursor: pointer;

      &::after {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    a {
      color: inherit;
      font-weight: 600;
    }

    .lock-icon,
    .slides-icon {
      position: relative;
      bottom: -0.125em;

      display: inline-block;
      vertical-align: baseline;

      width: 1em;
      height: 1em;
      margin-right: 0.25em;

      color: var(--theme-color);
    }
  }

  .excerpt {
    overflow: hidden;
    line-height: 1.6;

    @media (max-width: hope-config.$pad) {
      font-size: 15px;
    }

    @media (max-width: hope-config.$mobile) {
      font-size: 14px;
    }

    h1 {
      display: none;
    }

    // stylelint-disable selector-max-compound-selectors
    h1 + p {
      margin-top: 0.5em;
    }
    // stylelint-enable selector-max-compound-selectors

    p:first-child {
      margin-top: 0.5em;
    }

    p:last-child {
      margin-bottom: 0.5em;
    }

    // code block fix
    pre {
      margin: 0.85rem 0;
      padding: 1.25rem 1.5rem;
      line-height: 1.4;
    }

    // line number fix
    .line-numbers-mode {
      // stylelint-disable selector-max-compound-selectors
      pre {
        padding-left: calc(var(--line-numbers-width) + 1rem);
      }
      // stylelint-enable selector-max-compound-selectors
    }

    // hide code demo
    .code-demo-wrapper {
      display: none;
    }

    // footnote fix
    .footnote-anchor {
      display: none;
    }

    section.footnotes {
      display: none;
    }
  }

  hr {
    margin-block-end: 0.375em;
    margin-block-start: 0.375em;
  }

  .page-info {
    > span {
      display: flex;
      flex-shrink: 0;
      align-items: center;

      margin-right: 0.5em;

      line-height: 1.8;

      &::after {
        --balloon-font-size: 8px;
        padding: 0.3em 0.6em !important;
      }
    }
  }
}
