.article-type-wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 0;

  list-style: none;

  font-weight: 600;
  font-size: 18px;

  @media (max-width: hope-config.$mobile) {
    font-size: 16px;
  }
}

.article-type {
  position: relative;

  vertical-align: middle;

  margin: 0.3em 0.8em;

  line-height: 1.2;

  cursor: pointer;

  &::after {
    content: " ";

    position: absolute;
    right: 50%;
    bottom: -6px;
    left: 50%;

    height: 2px;
    border-radius: 1px;

    background: var(--theme-color);

    visibility: hidden;

    transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
  }

  a {
    display: inline-block;
    color: inherit;
    transition: all 0.3s ease-in-out;
  }

  &.active {
    position: relative;

    a {
      color: var(--theme-color);
      transform: scale(1.1, 1.1);
    }
  }

  &:hover,
  &.active {
    &::after {
      right: calc(50% - 8px);
      left: calc(50% - 8px);
      visibility: visible;
    }
  }
}
