.page.blog {
  .blog-page-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;

    @media (min-width: hope-config.$tablet) {
      padding: 0 1rem;
    }

    @media (min-width: hope-config.$pad) {
      padding: 0 2rem;
    }

    @media (min-width: hope-config.$pc) {
      padding: 0;
    }

    .blog-home {
      flex: 1;
      overflow: hidden;
      max-width: 780px;

      @media (min-width: hope-config.$tablet) {
        margin: 0 15px;
      }
    }
  }

  #{hope-config.$content-class}:empty {
    padding: 0;
  }
}
