.vp-social-medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px auto;
}

.vp-social-media {
  width: 26px;
  height: 26px;
  margin: 4px;

  svg {
    transition: transform var(--vp-t-transform);
  }

  &:hover {
    cursor: pointer;

    svg {
      transform: scale(1.1, 1.1);
    }
  }

  &::after {
    --balloon-font-size: 10px;
    padding: 0.2em 0.4em !important;
  }
}

.vp-social-media-icon {
  width: 100%;
  height: 100%;
}
