.vp-social-medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px auto;
}

.vp-social-media {
  width: 26px;
  height: 26px;
  margin: 4px;

  transition: transform 0.18s ease-out 0.18s;
  transform: scale(1, 1);

  &:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
  }

  &::after {
    --balloon-font-size: 8px;
    padding: 0.3em 0.6em;
  }

  .icon {
    width: 100%;
    height: 100%;
  }
}
