@use "sass:color";
@use "sass:list";

.tag-list-wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding-inline-start: 0;

  list-style: none;

  a {
    color: inherit;
  }

  .tag {
    position: relative;

    display: inline-block;
    vertical-align: middle;

    overflow: hidden;

    min-width: 24px;
    margin: 4px 6px;
    padding: 3px 8px;
    border-radius: 8px;

    color: var(--white);
    box-shadow: 0 1px 6px 0 var(--box-shadow);

    font-size: 12px;
    text-align: center;
    word-break: break-word;

    cursor: pointer;

    transition:
      background var(--color-transition),
      box-shadow var(--color-transition),
      transform var(--color-transition);

    &:hover {
      cursor: pointer;
    }

    &.active {
      transform: scale(1.1, 1.1);
    }

    @each $color in hope-config.$colors {
      $index: list.index(hope-config.$colors, $color) - 1;

      &.color#{$index} {
        background: color.scale($color, $lightness: 10%);

        &:hover,
        &.active {
          background: color.scale($color, $lightness: -5%);
        }

        #{hope-config.$dark-selector} & {
          background: color.scale($color, $lightness: -5%);

          &:hover,
          &.active {
            background: color.scale($color, $lightness: 10%);
          }
        }
      }
    }
  }

  .tag-num {
    margin-inline-start: 0.5em;
  }
}
