@mixin dot() {
  content: " ";

  position: absolute;
  top: 50%;
  z-index: 2;

  margin-top: -6px;
  margin-inline-start: -6px;
  border: 2px solid var(--dot-border-color);
  border-radius: 50%;

  background: var(--dot-color);

  transition:
    background var(--color-transition),
    border-color var(--color-transition);
}

.timeline-wrapper {
  --dot-color: #fff;
  --dot-bar-color: #eaecef;
  --dot-border-color: #ddd;

  max-width: 740px;
  margin: 0 auto;
  padding: 40px 0;

  @media (max-width: hope-config.$tablet) {
    margin: 0 1.2rem;
  }

  #{hope-config.$dark-selector} & {
    --dot-color: #444;
    --dot-bar-color: #333;
    --dot-border-color: #555;
  }

  #toc {
    inset-inline: unset 0;
    min-width: 0;
  }

  .toc-wrapper {
    position: relative;
    z-index: 10;
  }

  .timeline-content {
    position: relative;
    box-sizing: border-box;
    padding-inline-start: 76px;
    list-style: none;

    &::after {
      content: " ";

      position: absolute;
      inset-inline-start: 64px;
      top: 14px;
      z-index: -1;

      width: 4px;
      height: calc(100% - 38px);
      margin-inline-end: -2px;

      background: var(--dot-bar-color);

      transition: background var(--color-transition);
    }
  }

  .motto {
    position: relative;
    color: var(--text-color);
    font-size: 18px;
    transition: color var(--color-transition);

    @media (min-width: hope-config.$laptop) {
      font-size: 20px;
    }

    &::before {
      @include dot;

      inset-inline-start: -10px;
      width: 8px;
      height: 8px;
    }
  }

  .timeline-year-title {
    margin-top: calc(3rem - var(--navbar-height));
    margin-bottom: 0.5rem;
    padding-top: var(--navbar-height);

    color: var(--text-color);

    font-weight: 700;
    font-size: 26px;
    font-family: var(--font-family-heading);

    transition: color var(--color-transition);

    span {
      position: relative;

      &::before {
        @include dot;

        inset-inline-start: -10px;
        width: 8px;
        height: 8px;
      }
    }
  }

  .timeline-year-wrapper {
    padding-inline-start: 0 !important;
  }

  .timeline-date {
    position: absolute;
    inset-inline-end: calc(100% + 24px);

    width: 50px;

    font-size: 14px;
    line-height: 30px;
    text-align: end;

    &::before {
      @include dot;

      inset-inline-end: -19px;
      width: 6px;
      height: 6px;
    }
  }

  .timeline-title {
    position: relative;

    display: block;

    color: inherit;

    font-size: 16px;
    line-height: 30px;

    transition:
      color var(--color-transition),
      font-size var(--transform-transition);
  }

  .timeline-item {
    position: relative;

    // make sure it won’t be covered by year heading
    z-index: 3;

    display: flex;

    // make sure dot is aligned
    padding: 30px 0 10px;
    border-bottom: 1px dashed var(--border-color);

    list-style: none;

    transition: border-color var(--color-transition);

    &:hover {
      cursor: pointer;

      .timeline-date {
        font-size: 16px;
        transition:
          border-color var(--color-transition),
          color var(--color-transition),
          font-size var(--transform-transition);

        // stylelint-disable-next-line max-nesting-depth
        &::before {
          border-color: var(--theme-color);
          background: var(--bg-color-secondary);
        }
      }

      .timeline-title {
        color: var(--theme-color);
        font-size: 18px;
      }
    }
  }
}
