@use "sass:color";
@use "vuepress-shared/styles/arrow";
@use "@sass-palette/helper";

.vp-sidebar-links {
  margin: 0 0 0 0.75em;
  padding: 0;

  li {
    list-style-type: none;
  }

  .vp-sidebar > & {
    margin: 0;
    padding: 1.5rem 0;

    @media (max-width: hope-config.$tablet) {
      padding: 1rem 0;
    }

    > li {
      > .vp-sidebar-link {
        font-size: 1.1em;
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }
}
