@use "vuepress-shared/styles/reset";

@keyframes search-pro-fade-in {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

.search-pro-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: auto;

  width: 100vw;
  height: 100vh;

  cursor: default;

  button {
    @include reset.button;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;

    width: 100vw;
    height: 100vh;

    animation: 0.25s search-pro-fade-in;

    backdrop-filter: blur(10px);
  }
}

.search-pro-modal {
  position: absolute;
  z-index: 999;

  display: flex;
  flex-direction: column;

  width: 92%;
  max-width: 56em;
  padding: 0.75rem;
  border-radius: 10px;

  background: var(--c-bg, #fff);
  box-shadow: 2px 2px 10px 0 var(--card-shadow);

  transition: background var(--color-transition);
  animation: 0.15s pwa-opened;

  @media (max-width: hope-config.$laptop) {
    animation: 0.25s pwa-mobile;
  }

  @media (max-width: hope-config.$pad) {
    width: calc(100% - 1.5rem);
    max-width: unset;
    height: calc(100% - 1.5rem);
  }
}

.search-pro-box {
  position: relative;
  display: flex;

  .search-icon {
    position: absolute;
    top: calc(50% - 0.75rem);
    left: 0.5rem;

    width: 1.5rem;
    height: 1.5rem;
  }

  input {
    flex: 1;

    min-width: 0;
    margin: 0;
    padding: 0.25rem 1rem 0.3rem 2.5rem;
    border: 0;
    border: 1px solid var(--c-brand, #3eaf7c);
    border-radius: 8px;

    background-color: var(--c-bg-light, #f3f4f5);
    color: var(--text-color);
    outline: none;

    font-size: 1.25rem;
    line-height: 2;
  }

  .close-button {
    @include reset.button;
    display: none;
    color: var(--grey3);

    @media (max-width: hope-config.$pad) {
      display: block;
    }
  }
}

.search-pro-result {
  flex-grow: 1;

  overflow-y: auto;

  min-height: 40vh;
  max-height: calc(90vh - 8rem);
  margin: 0.5rem 0;

  @media (max-width: hope-config.$pad) {
    min-height: unset;
    max-height: unset;
  }

  &.loading,
  &.empty {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem;

    font-weight: 600;
    font-size: 22px;
    text-align: center;
  }
}

.search-pro-hints {
  line-height: 1;
}

.search-pro-hint {
  display: inline-flex;
  align-items: center;
  margin: 0 0.5rem;

  kbd {
    width: 15px;
    height: 15px;
    margin: 0 0.5rem;
    padding: 2px;
    border: 1px solid (--c-border, #eaecef);

    box-shadow: 1px 1px 4px 0 var(--card-shadow);

    + kbd {
      margin-left: -0.25rem;
    }
  }

  svg {
    display: block;
    width: 15px;
    height: 15px;
  }
}
