.search-pro-button {
  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 0 0 16px;
  padding: 8px;
  border: 0;
  border-radius: 50%;

  background: var(--c-bg-light, #f3f4f5);

  font-weight: 500;

  cursor: pointer;

  transition: background var(--color-transition), color var(--color-transition);

  @media print {
    display: none;
  }

  .search-icon {
    display: block;
    width: 20px;
    height: 20px;
  }
}
