.search-pro-result {
  scrollbar-color: var(--c-brand, #3aa675) var(--c-border, #eaecef);
  scrollbar-width: thin;
  @media (max-width: hope-config.$mobile) {
    font-size: 13px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgb(0 0 0 / 10%);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--c-brand, #3aa675);

    &:active {
      background: var(--c-brand-light, #4abf8a);
    }
  }
}

.search-pro-result-list {
  margin: 0;
  padding: 0;
}

.search-pro-result-list-item {
  display: block;
  margin: 0.5rem 0;
  list-style: none;
}

.search-pro-result-title {
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
  text-indent: 0.5em;

  .search-pro-result-item.active & {
    color: var(--c-brand, #3aa675);
  }
}

.search-pro-result-type,
.search-pro-close-icon {
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  color: var(--c-brand, #3aa675);
}

.search-pro-result-type {
  display: block;
  margin-left: -0.5rem;
}

.search-pro-close-icon {
  box-sizing: content-box;
  margin-right: -0.5rem;
  border-radius: 50%;

  svg {
    width: 1rem;
    height: 1rem;
  }

  &:hover {
    background: rgb(128 128 128 / 30%);
  }
}

.search-pro-result-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  line-height: 1.5;

  .content-header {
    margin-bottom: 0.25rem;
    border-bottom: 1px solid var(--c-border-dark, #dfe2e5);
    font-size: 1.1em;
  }
}

.search-pro-result-item {
  display: flex;
  align-items: center;

  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;

  background-color: var(--c-bg-light, #f3f4f5);
  color: inherit;

  font-weight: normal;
  white-space: pre-wrap;
  word-wrap: break-word;

  strong {
    color: var(--c-brand, #3aa675);
  }

  &:hover,
  &.active {
    background-color: var(--c-brand-light, #4abf8a);
    color: var(--white);
    cursor: pointer;

    .search-pro-result-type,
    .search-pro-close-icon,
    strong {
      color: var(--white);
    }
  }
}
