@use "vuepress-shared/styles/reset";

.search-pro-result-wrapper {
  scrollbar-color: var(--vp-c-accent) var(--vp-c-border);
  scrollbar-width: thin;

  @media (max-width: hope-config.$mobile) {
    font-size: 14px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgb(0 0 0 / 10%);
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: var(--vp-c-accent-bg);

    &:active {
      background: var(--vp-c-accent-hover);
    }
  }

  mark {
    border-radius: 0.25em;
    line-height: 1;
  }
}

.search-pro-result-list {
  margin: 0;
  padding: 0;
}

.search-pro-result-list-item {
  display: block;
  list-style: none;
}

.search-pro-result-title {
  position: sticky;
  top: -2px;
  z-index: 10;

  margin: -4px;
  margin-bottom: 0.25rem;
  padding: 4px;

  background: var(--vp-c-bg);
  color: var(--vp-c-accent);

  font-weight: 600;
  font-size: 0.875em;
  line-height: 2rem;
  text-indent: 0.5em;

  .search-pro-result-item.active & {
    color: var(--vp-c-accent);
  }
}

.search-pro-result-type {
  display: block;

  width: 1rem;
  height: 1rem;
  margin-inline-start: -0.5rem;
  padding: 0.5rem;

  color: var(--vp-c-accent);
}

.search-pro-remove-icon {
  @include reset.button;
  box-sizing: content-box;
  height: 1.5rem;
  padding: 0;
  border-radius: 50%;

  color: var(--vp-c-accent);

  font-size: 1rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    background: rgb(128 128 128 / 30%);
  }
}

.search-pro-result-content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: stretch;
  justify-content: center;

  line-height: 1.5;

  .content-header {
    margin-bottom: 0.25rem;
    border-bottom: 1px solid var(--vp-c-border-hard);
    font-size: 0.9em;
  }
}

.search-pro-result-item {
  display: flex;
  align-items: center;

  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;

  background: var(--vp-c-bg-alt);
  color: inherit;
  box-shadow: 0 1px 3px 0 var(--vp-c-shadow);

  font-weight: normal;
  white-space: pre-wrap;
  word-wrap: break-word;

  strong {
    color: var(--vp-c-accent);
  }

  &:hover,
  &.active {
    background-color: var(--vp-c-accent-hover);
    color: var(--vp-c-white);
    cursor: pointer;

    .search-pro-result-type,
    .search-pro-remove-icon,
    strong {
      color: var(--vp-c-white);
    }
  }
}
