.search-pro-button {
  inset-inline-start: 16px;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0;
  padding: 8px;
  border: 0;
  border-radius: 50%;

  background: var(--c-bg-light, #f3f4f5);

  font-weight: 500;

  cursor: pointer;

  transition: background var(--t-color, 0.3s ease),
    color var(--t-color, 0.3s ease);

  @media print {
    display: none;
  }

  .search-icon {
    display: block;
    width: 20px;
    height: 20px;
  }
}
