@use "vuepress-shared/styles/reset";

.search-pro-button {
  @include reset.button;
  display: inline-block;

  box-sizing: content-box;

  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px;
  border: 0;
  border-radius: 50%;

  background: var(--c-bg-light, #f3f4f5);

  font-weight: 500;

  cursor: pointer;

  transition: background var(--t-color, 0.3s ease),
    color var(--t-color, 0.3s ease);

  margin-inline: 16px 0;

  @media print {
    display: none;
  }

  .search-icon {
    display: block;
    width: 20px;
    height: 20px;
  }
}
