@use "sass:color";
@use "sass:list";
@use "sass:map";

/** shadow */

$box-shadow: (
  light: #f0f1f2,
  dark: #0f0e0d,
) !default;

$card-shadow: (
  light: rgba(0, 0, 0, 0.15),
  dark: rgba(0, 0, 0, 0.3),
) !default;

/* contants */

$black: (
  light: #000,
  dark: #fff,
) !default;

$dark-grey: (
  light: #666,
  dark: #999,
) !default;

$light-grey: (
  light: #999,
  dark: #666,
) !default;

$white: (
  light: #fff,
  dark: #000,
) !default;

$grey3: (
  light: #333,
  dark: #bbb,
) !default;

$grey12: (
  light: #bbb,
  dark: #333,
) !default;

$grey14: (
  light: #eee,
  dark: #111,
) !default;
