/* responsive breakpoints */

// wide screen
$pc: 1440px !default;

// desktop
$laptop: 1280px !default;

// narrow desktop / iPad
$pad: 959px !default;

// wide mobile
$tablet: 719px !default;

// narrow mobile
$mobile: 419px !default;

/* rtl */
$rtl-selector: 'html[dir="rtl"]' !default;

/* Content Class */
$content-class: ".theme-default-content" !default;

/** dark mode selectors */
$dark-selector: "html.dark" !default;
$light-selector: "html:not(.dark)" !default;

/* Color list */
$colors: #cf1322, #fa541c, #f39c12, #2ecc71, #25a55b, #10a5a5, #096dd9, #aa6fe9,
  #eb2f96 !default;
