/* layout */
// navbar
$navbar-height: 3.6rem !default;

// content
$content-width: 740px !default;

// transition
$color-transition: "0.3s ease" !default;
$transform-transition: "0.3s ease" !default;
