/* layout */
// navbar
$navbarHeight: 3.6rem !default;
$navbarHorizontalPadding: 1.5rem !default;
$navbarVerticalPadding: 0.7rem !default;

// sidebar
$sidebarWidth: 20rem !default;
$mobileSidebarWidth: $sidebarWidth * 0.82 !default;

// content
$contentWidth: 740px !default;
$homePageWidth: 960px !default;

// font
$fontFamily: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif' !default;

// code
$fontFamilyCode: 'Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace' !default;

// transition
$colorTransition: "0.3 ease" !default;
$transformTransition: "0.3 ease" !default;
