@use "@hope/config";

#{config.$contentClass} {
  code {
    .token {
      &.deleted {
        color: #ec5975;
      }

      &.inserted {
        color: var(--accent-color);
      }
    }
  }

  pre,
  pre[class*="language-"] {
    line-height: 1.4;
    padding: 1rem;
    margin: 0.85rem 0;
    // TODO: removed
    // background: var(--code-bg-color);
    border-radius: 6px;
    overflow: auto;

    code {
      color: var(--grey3);
      padding: 0;
      background: transparent !important;
      border-radius: 0;
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
  }

  .line-number {
    font-family: var(--font-family-code);
  }
}

div[class*="language-"] {
  position: relative;
  background: var(--code-bg-color);
  border-radius: 6px;

  &::before {
    position: absolute;
    z-index: 3;
    top: 0.8em;
    right: 1em;
    font-size: 0.75rem;
  }

  pre,
  pre[class*="language-"] {
    // force override the background color to be compatible with shiki
    background: transparent !important;
    position: relative;
    z-index: 1;

    // TODO: new
    code {
      position: relative !important;
    }
  }

  .highlight-lines {
    user-select: none;
    padding-top: 1.1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.4;

    .highlight-line {
      background-color: var(--code-highlight-line-color);
    }
  }

  &:not(.line-numbers-mode) {
    .line-numbers {
      display: none;
    }
  }

  &.line-numbers-mode {
    .highlight-lines .highlight-line {
      position: relative;

      &:before {
        content: " ";
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        display: block;
        width: var(--code-ln-wrapper-width);
        height: 100%;
      }
    }

    pre {
      margin-left: var(--code-ln-wrapper-width) !important;
      vertical-align: middle;
    }

    .line-numbers {
      position: absolute;
      top: 0;
      left: 0;
      width: var(--code-ln-wrapper-width);
      text-align: center;
      padding: 1rem 0;
      // padding-top: 1.25rem;
      line-height: 1.4;

      br {
        user-select: none;
      }

      .line-number {
        position: relative;
        z-index: 4;
        user-select: none;
        font-size: 0.85em;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: var(--code-ln-wrapper-width);
      height: 100%;
      border-radius: 6px 0 0 6px;
      background: var(--code-bg-color);
      border-right: 1px solid var(--code-highlight-line-color);

      @media (max-width: config.$mobileS) {
        border-radius: 0;
      }
    }
  }
}

@each $lang in config.$codeLang {
  div[class*="language-"].ext-#{$lang} {
    &:before {
      content: "" + $lang;
    }
  }
}
