@use "@sass-palette/hope-config";

div[class*="language-"] {
  position: relative;
  border-radius: 6px;
  font-size: 16px;

  // narrow mobile
  @media (max-width: hope-config.$mobile) {
    .theme-hope-content > & {
      margin: 0.875rem -1.5rem;
      border-radius: 0;
    }
  }

  &::before {
    content: attr(data-title);

    position: absolute;
    top: 0;
    right: 1em;
    z-index: 3;

    color: var(--code-line-number-color);

    font-size: 0.75rem;
  }

  pre {
    position: relative;
    z-index: 1;

    overflow: auto;

    margin: 0.875rem 0;
    border-radius: 6px;

    // force overriding background color for shiki
    background: var(--code-bg-color) !important;

    line-height: 1.6;

    code {
      display: block;

      box-sizing: border-box;
      width: fit-content;
      min-width: 100%;
      padding: 1.25rem;
      border-radius: 0;

      background: transparent;
      color: var(--code-color);

      font-family: var(--font-family-mono);

      @media print {
        padding: 0.5rem;
      }
    }
  }

  /*
   * Highlight lines and notation highlight
   * - `// [!code highlight]` and `// [!code hl]` are the same:
   *   - `// [!code highlight]`
   *   - `// [!code highlight:3]`
   *   - `// [!code hl]`
   *   - `// [!code hl:3]`
   * - It also has the style of error level,
   *   covering the background color with 'warning' and 'error' classes.
   *   - `// [!code warning]`
   *   - `// [!code error]`
   *   - `// [!code warning:3]`
   *   - `// [!code error:3]`
   */
  .line.highlighted {
    display: inline-block;

    width: 100%;
    margin: 0 -1.25rem;
    padding: 0 1.25rem;

    background-color: var(--code-highlight-bg-color);

    transition: background-color 0.5s;

    &.error {
      background-color: var(--code-highlight-error-bg-color);
    }

    &.warning {
      background-color: var(--code-highlight-warning-bg-color);
    }
  }

  /*
   * notation diff line
   *
   * - class="diff add": `// [!code ++]` or `// [!code ++:3]`
   * - class="diff remove": `// [!code --]` or `// [!code --:3]`
   */
  .line.diff {
    display: inline-block;

    width: 100%;
    margin: 0 -1.25rem;
    padding: 0 1.25rem;

    transition: background-color 0.5s;

    &::before {
      position: absolute;
      left: 10px;
    }

    &.remove {
      background-color: var(--code-line-diff-remove-color);
      opacity: 0.7;

      &::before {
        content: "-";
        color: var(--code-line-diff-remove-symbol-color);
      }
    }

    &.add {
      background-color: var(--code-line-diff-add-color);

      &::before {
        content: "+";
        color: var(--code-line-diff-add-symbol-color);
      }
    }
  }

  /*
   * Focus lines
   * - `// [!code focus]`
   * - `// [!code focus:3]`
   */
  .has-focused-lines {
    .line:not(.has-focus) {
      opacity: 0.7;
      filter: blur(0.095rem);
      transition:
        filter 0.35s,
        opacity 0.35s;
    }

    &:hover .line:not(.has-focus) {
      opacity: 1;
      filter: blur(0);
    }
  }

  // notation word highlight
  // - `// [\!code word:xxx]`
  // - `// [\!code word:xxx:3]`
  .highlighted-word {
    margin: -1px -2px;
    padding: 1px 2px;
    border: solid 1px var(--code-word-highlight-border);
    border-radius: 4px;

    background-color: var(--code-word-highlight-bg-color);
  }

  // line numbers
  &.line-numbers-mode {
    &::after {
      content: "";

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 2;

      width: var(--code-line-number-width);
      border-right: 1px solid var(--code-highlight-bg-color);
      border-radius: 6px 0 0 6px;

      background: var(--code-bg-color);

      @media (max-width: hope-config.$mobile) {
        border-radius: 0;
      }

      @media print {
        display: none;
      }
    }

    pre {
      vertical-align: middle;
      margin-left: var(--code-line-number-width);

      @media print {
        margin-left: 0;
      }

      code {
        padding-left: 0.5rem;
      }
    }

    .line-numbers {
      counter-reset: line-number;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      display: flex;
      flex-flow: column;

      width: var(--code-line-number-width);
      padding: 1.25rem 0;

      color: var(--code-line-number-color);

      font-size: 0.875em;
      font-family: var(--font-family-mono);
      line-height: 1.6;
      text-align: center;

      @media print {
        display: none;
      }
    }

    .line-number {
      position: relative;
      z-index: 3;
      user-select: none;

      &::before {
        content: counter(line-number);
        counter-increment: line-number;
      }
    }
  }

  &:not(.line-numbers-mode) {
    .line-numbers {
      display: none;
    }
  }

  // whitespace
  .tab,
  .space {
    position: relative;
  }

  .tab::before,
  .space::before {
    position: absolute;
    opacity: 0.3;
  }

  .tab::before {
    content: "⇥";
  }

  .space::before {
    content: "·";
  }
}
