@use "@sass-palette/hope-config";

pre[class*="language-"] > code {
  background: none;
  color: var(--code-color);
  font-family: var(--font-family-code);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;

  transition: color var(--color-transition);
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

#{hope-config.$contentClass} {
  pre,
  pre[class*="language-"] {
    margin: 0.85rem 0;
    padding: 1rem;
    border-radius: 6px;

    line-height: 1.4;

    overflow: auto;

    code {
      padding: 0;
      border-radius: 0;

      background: transparent !important;

      overflow-wrap: unset;
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
  }

  .line-number {
    font-family: var(--font-family-code);
  }
}

div[class*="language-"] {
  position: relative;

  border-radius: 6px;
  background: var(--code-bg-color);

  transition: background-color var(--color-transition);

  &::before {
    position: absolute;
    z-index: 3;
    top: 0.8em;
    right: 1em;

    color: var(--code-line-color);
    font-size: 0.75rem;

    transition: color var(--color-transition);
  }

  pre,
  pre[class*="language-"] {
    position: relative;
    z-index: 1;
    background: transparent;

    // TODO: Add this in docs
    // force override the background color to be compatible with shiki
    // background: transparent !important;
  }

  .highlight-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding-top: 1rem;

    line-height: 1.4;
    user-select: none;
  }

  .highlight-line {
    background-color: var(--code-highlight-line-color);

    transition: background-color var(--color-transition);
  }

  &.line-numbers-mode {
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: var(--line-numbers-width);
      height: 100%;

      border-radius: 6px 0 0 6px;
      border-right: 1px solid var(--code-highlight-line-color);

      transition: border-color var(--color-transition);

      // edited
      @media (max-width: hope-config.$mobileS) {
        border-radius: 0;
      }
    }

    .highlight-line {
      position: relative;

      &:before {
        content: " ";
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        display: block;
        width: var(--line-numbers-width);
        height: 100%;
      }
    }

    pre {
      vertical-align: middle;

      // theme-default
      margin-left: var(--line-numbers-width);
      padding-left: 1rem;
    }

    .line-numbers {
      position: absolute;
      top: 0;
      left: 0;

      width: var(--line-numbers-width);
      padding: 1rem 0;

      color: var(--code-line-color);
      text-align: center;
      line-height: 1.4;

      transition: color var(--color-transition);

      br {
        user-select: none;
      }
    }

    .line-number {
      position: relative;
      z-index: 4;
      user-select: none;
      font-size: 0.85em;
      line-height: 0;
    }
  }

  &:not(.line-numbers-mode) {
    .line-numbers {
      display: none;
    }
  }
}

@each $lang in hope-config.$codeLang {
  div[class*="language-"].ext-#{$lang} {
    &:before {
      content: "" + $lang;
    }
  }
}

// narrow mobile
@media (max-width: hope-config.$mobileS) {
  #{hope-config.$contentClass} {
    div[class*="language-"] {
      margin: 0.85rem -1.5rem;
      border-radius: 0;
    }
  }
}
