// stylelint-disable scss/operator-no-newline-after
@use "sass:color";
@use "@sass-palette/hope-config";
@use "@sass-palette/helper";
@use "var";

@if helper.get-color(hope-config.$code-color) ==
  helper.get-dark-color(hope-config.$code-color) and
  helper.get-color(hope-config.$code-bg-color) ==
  helper.get-dark-color(hope-config.$code-bg-color)
{
  :root {
    @include var.color(
      $code-color: hope-config.$code-color,
      $code-bg-color: hope-config.$code-bg-color
    );
  }
} @else {
  #{hope-config.$light-selector} {
    @include var.color(
      $code-color: helper.get-color(hope-config.$code-color),
      $code-bg-color: helper.get-color(hope-config.$code-bg-color)
    );
  }

  #{hope-config.$dark-selector} {
    @include var.color(
      $code-color: helper.get-dark-color(hope-config.$code-color),
      $code-bg-color: helper.get-dark-color(hope-config.$code-bg-color)
    );
  }
}

#{hope-config.$light-selector} .shiki span {
  color: var(--shiki-light);
}

#{hope-config.$dark-selector} .shiki span {
  color: var(--shiki-dark);
}
