// stylelint-disable scss/operator-no-newline-after
@use "sass:color";
@use "@sass-palette/hope-config";
@use "@sass-palette/helper";
@use "var";

@if helper.get-color(hope-config.$code-color) ==
  helper.get-dark-color(hope-config.$code-color) and
  helper.get-color(hope-config.$code-bg-color) ==
  helper.get-dark-color(hope-config.$code-bg-color)
{
  :root {
    @include var.color(
      $code-color: hope-config.$code-color,
      $code-bg-color: hope-config.$code-bg-color
    );
  }
} @else {
  #{hope-config.$light-selector} {
    @include var.color(
      $code-color: helper.get-color(hope-config.$code-color),
      $code-bg-color: helper.get-color(hope-config.$code-bg-color)
    );
  }

  #{hope-config.$dark-selector} {
    @include var.color(
      $code-color: helper.get-dark-color(hope-config.$code-color),
      $code-bg-color: helper.get-dark-color(hope-config.$code-bg-color)
    );
  }
}

#{hope-config.$dark-selector} {
  .shiki,
  .shiki span {
    background-color: var(--shiki-dark-bg) !important;
    color: var(--shiki-dark) !important;

    font-weight: var(--shiki-dark-font-weight) !important;

    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

// force clearing the background color to be compatible with shiki
// otherwise highlight-lines can not work
div[class*="language-"] {
  pre {
    background: transparent !important;
  }
}
