@use "sass:list";
@use "sass:map";

// accent color
$vp-c-accent: (
  light: #299764,
  dark: #3dd68c,
) !default;
$vp-c-accent-bg: (
  light: #3eaf7c,
  dark: #3aa675,
) !default;
$vp-c-accent-hover: (
  light: #4abf8a,
  dark: #349469,
) !default;
$vp-c-accent-text: var(--vp-c-white) !default;
$vp-c-accent-soft: (
  light: rgb(16 185 129 / 14%),
  dark: rgb(16 185 129 / 16%),
) !default;

// background
$vp-c-bg: (
  light: #fff,
  dark: #1b1b1f,
) !default;
$vp-c-bg-alt: (
  light: #f6f6f7,
  dark: #161618,
) !default;
$vp-c-bg-elv: (
  light: #fff,
  dark: #202127,
) !default;

// text
$vp-c-text: (
  light: rgb(60 60 67),
  dark: rgb(235 235 245 / 86%),
) !default;
$vp-c-text-mute: (
  light: rgb(60 60 67 / 78%),
  dark: rgb(235 235 245 / 60%),
) !default;
$vp-c-text-subtle: (
  light: rgb(60 60 67 / 56%),
  dark: rgb(235 235 245 / 38%),
) !default;

// border
$vp-c-border: (
  light: #d7d9da,
  dark: #3e4c5a,
) !default;
$vp-c-border-hard: (
  light: #d1d4d7,
  dark: #405064,
) !default;
$vp-c-gutter: (
  light: #eaecef,
  dark: #373f4c,
) !default;

// shadow
$vp-c-shadow: (
  light: rgb(0 0 0 / 15%),
  dark: rgb(0 0 0 / 30%),
) !default;

// control
$vp-c-control: (
  light: #f9fafb,
  dark: #2d3135,
) !default;
$vp-c-control-hover: (
  light: #f1f3f5,
  dark: #303640,
) !default;
$vp-c-control-disabled: (
  light: #eaeaea,
  dark: #363636,
) !default;
