@use "sass:list";
@use "sass:map";

// background
$vp-c-bg: (
  light: #fff,
  dark: #1b1b1f,
) !default;
$vp-c-bg-alt: (
  light: #f6f6f7,
  dark: #161618,
) !default;
$vp-c-bg-elv: (
  light: #fff,
  dark: #202127,
) !default;

// text
$vp-c-text: (
  light: rgb(60 60 67),
  dark: rgb(235 235 245 / 86%),
) !default;

// border
$vp-c-border: (
  light: #c2c2c4,
  dark: #3c3f44,
) !default;
$vp-c-divider: (
  light: #e2e2e3,
  dark: #2e2e32,
) !default;

// shadow
$vp-c-shadow: (
  light: rgb(0 0 0 / 15%),
  dark: rgb(0 0 0 / 30%),
) !default;

// control
$vp-c-control: (
  light: rgb(142 150 170 / 10%),
  dark: rgb(101 117 133 / 12%),
) !default;
$vp-c-control-hover: (
  light: rgb(142 150 170 / 16%),
  dark: rgb(101 117 133 / 18%),
) !default;
$vp-c-control-disabled: (
  light: #eaeaea,
  dark: #363636,
) !default;
