@use "sass:list";
@use "sass:map";

$theme-color: #3eaf7c !default;
$text-color: (
  light: #2c3e50,
  dark: #9e9e9e,
) !default;
$bg-color: (
  light: #fff,
  dark: #0d1117,
) !default;
$bg-color-secondary: (
  light: #f8f8f8,
  dark: #161b22,
) !default;
$bg-color-tertiary: (
  light: #efeef4,
  dark: #21262c,
) !default;
$border-color: (
  light: #eaecef,
  dark: #30363d,
) !default;

// shadow
$box-shadow: (
  light: #f0f1f2,
  dark: #282a32,
) !default;
$card-shadow: (
  light: rgb(0 0 0 / 15%),
  dark: rgb(0 0 0 / 30%),
) !default;

// code
$code-highlight-error-bg-color: rgba(244 63 94 / 16%) !default;
$code-highlight-warning-bg-color: rgba(255 193 7 / 16%) !default;
$code-line-diff-add-color: rgba(16 185 129 / 16%) !default;
$code-line-diff-add-symbol-color: #298459 !default;
$code-line-diff-remove-color: rgba(244 63 94 / 16%) !default;
$code-line-diff-remove-symbol-color: #e0575b !default;
$code-word-highlight-bg-color: rgb(0 0 0 / 20%) !default;
$code-word-highlight-border: #636363 !default;

// constants
$black: (
  light: #000,
  dark: #fff,
);
$grey-dark: (
  light: #666,
  dark: #999,
);
$grey-light: (
  light: #999,
  dark: #666,
);
$white: (
  light: #fff,
  dark: #000,
);
$grey-darker: (
  light: #333,
  dark: #bbb,
);
$grey-lighter: (
  light: #bbb,
  dark: #333,
);
$grey14: (
  light: #eee,
  dark: #111,
);
