/** ensure default theme color */

// background
$vp-bg: "var(--bg-color)";

// background light
$vp-bgl: "var(--bg-color-light)";

// background lighter
$vp-bglt: "var(--bg-color-tertiary)";

// color
$vp-c: "var(--text-color)";

// color
$vp-cl: "var(--text-color-light)";

// color lighter
$vp-clt: "var(--text-color-lighter)";

// border-color
$vp-brc: "var(--border-color)";

// border-color dark
$vp-brcd: "var(--border-color-dark)";

// theme color
$vp-tc: "var(--theme-color)";
$vp-tcl: "var(--theme-color-light)";

// color transition
$vp-ct: "var(--color-transition)";

// transform transition
$vp-tt: "var(--transform-transition)";
