@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "@sass-palette/helper";

$vp-c-bg-soft: (
  light: color.change(helper.get-color($vp-c-bg), $alpha: 0.9),
  dark: color.change(helper.get-dark-color($vp-c-bg), $alpha: 0.9),
) !default;
$vp-c-bg-elv-soft: (
  light: color.change(helper.get-color($vp-c-bg-elv), $alpha: 0.9),
  dark: color.change(helper.get-dark-color($vp-c-bg-elv), $alpha: 0.9),
) !default;
