/**
 * Lucario Theme originally by Raphael Amorim [@raphamorim]
 * https://github.com/raphamorim/lucario
 *
 * Ported for PrismJS by Christopher Kapic [@christopher-kapic]
 * Copied from https://github.com/PrismJS/prism-themes/blob/master/themes/prism-lucario.css
 */

@use "../../var";

#app {
  @include var.color($code-color: #f8f8f2, $code-bg-color: #263e52);
}

pre[class*="language-"] {
  text-shadow: 0 1px rgb(0 0 0 / 30%);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c98cd;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f05e5d;
}

.token.boolean,
.token.number {
  color: #bc94f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #fcfcd6;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #66d8ef;
}

.token.keyword {
  color: #6eb26e;
}

.token.regex,
.token.important {
  color: #f05e5d;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
