.page.not-found {
  display: block;
  max-width: var(--home-page-width);
  min-height: 80vh;
  margin: 0 auto;
  padding: calc(var(--navbar-height) + 1rem) 2rem 0 2rem !important;
  text-align: center;

  @media (max-width: hope-config.$pad) {
    padding-top: calc(var(--navbar-mobile-height) + 1rem);
  }

  .page-404-icon {
    max-width: 600px;
    margin: 0 1.5rem;

    #{hope-config.$darkSelector} & {
      filter: invert(70%);
    }
  }

  .action-button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 0.25rem;
    padding: 0.5rem 1rem;
    border-width: 0;
    border-bottom: 1px solid var(--theme-color-dark);
    border-radius: 0.25rem;
    background: var(--theme-color);
    color: var(--white);
    font-size: 1rem;
    outline: none;
    transition: background 0.1s ease;

    &:hover {
      cursor: pointer;
      background: var(--theme-color-light);
    }
  }
}
