@use "@sass-palette/hope-config";
@use "wrapper";

// plugin-catalog
.vp-catalog-title,
.vp-catalog-sub-title {
  .vp-icon {
    margin-inline-end: 0.25rem;
  }
}

// plugin-comment
[vp-comment] {
  @include wrapper.wrapper;
}

// plugin-docsearch
#docsearch-container {
  min-width: 145.7px !important;

  @media (max-width: hope-config.$pad) {
    min-width: 36px !important;
  }
}

// stylelint-disable selector-class-pattern
.DocSearch {
  &.DocSearch-Button {
    margin-left: 0;

    @media (max-width: hope-config.$pad) {
      min-width: 36px !important;
    }
  }

  .DocSearch-Button-Placeholder {
    display: inline-block;
    padding-block: 4px;
    padding-inline: 6px 12px;
    font-size: 14px;

    @media (max-width: 719px) {
      display: none;
    }
  }

  .DocSearch-Search-Icon {
    width: 1.25em;
    height: 1.25em;
  }

  .DocSearch-Button-Keys {
    @media (max-width: hope-config.$pad) {
      display: none;
    }
  }

  .DocSearch-Button-Key {
    background: var(--vp-c-bg);
    box-shadow: none;
  }
}
// stylelint-enable selector-class-pattern

// plugin-icon
:root {
  --fa-fw-width: 1em;
}

// plugin-markdown-hint
.hint-container {
  @media (max-width: hope-config.$mobile) {
    margin-inline: -0.75rem;
  }
}

// plugin-markdown-stylize
[data-theme="dark"] .spoiler {
  color: rgb(235 235 245);
}
