@import "_variables";

%wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 2rem 2.5rem;

  @media (max-width: $pad) {
    padding: 2rem;
  }

  @media (max-width: $mobileS) {
    padding: 1.5rem;
  }
}
