@use "@mr-hope/vuepress-shared/styles/arrow";
@use "@mr-hope/vuepress-shared/styles/wrapper";

.theme-container {
  .page {
    // leave space for navbar
    padding-top: var(--navbar-height);

    // leave space for sidebar
    padding-left: calc(var(--sidebar-width) + 2rem);

    // change sidebar width
    @media (max-width: hope-config.$pad) {
      padding-top: var(--navbar-mobile-height);
      padding-left: calc(var(--sidebar-mobile-width) + 2rem);
    }

    // do not leave space for sidebar on wide mobile
    @media (max-width: hope-config.$mobile) {
      padding-left: 0;
    }
  }

  .sidebar {
    top: var(--navbar-height);

    @media (max-width: hope-config.$pad) {
      top: var(--navbar-mobile-height);
    }
  }

  &.no-navbar {
    .page {
      // clear space for navbar
      padding-top: 0;
    }

    .sidebar {
      // clear space for navbar
      top: 0;

      @media (max-width: hope-config.$mobile) {
        // clear space for navbar
        top: 0;
      }
    }
  }

  &.hide-navbar {
    .sidebar {
      @media (max-width: hope-config.$mobile) {
        // clear space for navbar
        top: 0;
      }
    }
  }

  &.no-sidebar {
    .page {
      // clear space for sidebar
      padding-left: 0;
    }

    // hide toggle button
    .toggle-sidebar-button,
    .toggle-sidebar-wrapper {
      display: none;
    }

    // hide sidebar
    .sidebar {
      display: none;
    }
  }

  &.sidebar-open {
    .sidebar {
      box-shadow: 2px 0 8px var(--card-shadow);
      transform: translateX(0);
    }
  }

  &:not(.sidebar-open) {
    @media (min-width: (hope-config.$mobile + 1px)) {
      .page {
        // spaces for toggle button
        padding-left: 2rem;
      }

      .sidebar {
        transform: translateX(-100%);
      }
    }

    .sidebar {
      box-shadow: none;
    }

    .toggle-sidebar-wrapper {
      left: 0;
    }
  }

  &.has-toc {
    .page {
      // add padding for anchor
      @media (min-width: hope-config.$wide) {
        padding-right: 16rem;
      }
    }
  }
}

.toggle-sidebar-wrapper {
  position: fixed;
  top: calc(var(--navbar-height));
  bottom: 0;
  left: calc(var(--sidebar-width));
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;

  transition: left var(--transform-transition);

  @media (max-width: hope-config.$pad) {
    top: calc(var(--navbar-mobile-height));
    left: calc(var(--sidebar-mobile-width));
  }

  &:hover {
    background-color: rgb(127 127 127 / 5%);
    cursor: pointer;
  }

  .arrow {
    @include arrow.arrow;
  }
}

#{hope-config.$content-class} {
  &.custom {
    margin: 0;
    padding: 0;

    img {
      max-width: 100%;
    }
  }

  &:not(.custom) {
    @include wrapper.wrapper;

    padding-top: 0;

    a:hover {
      text-decoration: underline;
    }

    img {
      max-width: 100%;
    }
  }
}
