@use "vuepress-shared/styles/arrow";
@use "vuepress-shared/styles/wrapper";

.toggle-sidebar-wrapper {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  left: var(--sidebar-space);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;

  transition: left var(--transform-transition);

  @media (max-width: hope-config.$tablet) {
    display: none;
  }

  @media (min-width: hope-config.$pc) {
    display: none;
  }

  &:hover {
    background: rgb(127 127 127 / 5%);
    cursor: pointer;
  }

  .arrow {
    @include arrow.arrow;
  }
}

.theme-container {
  .page {
    // leave space for navbar
    padding-top: var(--navbar-height);

    // leave space for sidebar
    padding-left: calc(var(--sidebar-space) + 2rem);

    // do not leave space for sidebar on wide mobile
    @media (max-width: hope-config.$tablet) {
      padding-inline: 0;
    }

    @media (min-width: hope-config.$pc) {
      padding-right: calc(
        100vw - var(--content-width) - var(--sidebar-space) - 6rem
      );
    }
  }

  .sidebar {
    // add space for navbar
    top: var(--navbar-height);
  }

  &.no-navbar {
    .page {
      // clear space for navbar
      padding-top: 0;
    }

    .sidebar {
      // clear space for navbar
      top: 0;

      @media (max-width: hope-config.$tablet) {
        // clear space for navbar
        top: 0;
      }
    }
  }

  &.hide-navbar {
    .sidebar {
      @media (max-width: hope-config.$tablet) {
        // clear space for navbar
        top: 0;
      }
    }
  }

  // close state on desktop
  &.sidebar-collapsed {
    .page {
      padding-left: 0;
    }

    .sidebar {
      // hide box shadow
      box-shadow: none;

      // collapse sidebar
      transform: translateX(-100%);
    }

    .toggle-sidebar-wrapper {
      left: 0;
    }
  }

  // sidebar is disabled
  &.no-sidebar {
    .page {
      padding-inline: 0;
    }

    &.has-toc {
      .page {
        // add padding for anchor
        @media (min-width: hope-config.$pc) {
          padding-right: 16rem;
        }
      }
    }

    // hide toggle button
    .toggle-sidebar-button,
    .toggle-sidebar-wrapper {
      display: none;
    }

    // hide sidebar
    .sidebar {
      display: none;
    }
  }

  // open state on mobile
  &.sidebar-open {
    .sidebar {
      // show box shadow
      box-shadow: 2px 0 8px var(--card-shadow);

      // show sidebar
      transform: translateX(0);
    }
  }
}
