@use "@mr-hope/vuepress-shared/styles/wrapper";

.theme-container {
  &.no-navbar {
    .page {
      padding-top: 0;
    }

    .sidebar {
      top: 0;

      @media (max-width: hope-config.$mobile) {
        top: 0;
      }
    }
  }

  &.no-sidebar {
    @media (min-width: (hope-config.$mobile + 1px)) {
      .page {
        padding-left: 0;
      }

      .sidebar {
        display: none;
      }
    }
  }
}

#{hope-config.$contentClass} {
  &.custom {
    padding: 0;
    margin: 0;

    img {
      max-width: 100%;
    }
  }

  &:not(.custom) {
    @include wrapper.wrapper;

    padding-top: 0;

    a:hover {
      text-decoration: underline;
    }

    img {
      max-width: 100%;
    }
  }
}
