.fade-slide-y-enter-active {
  transition: all 0.3s ease !important;
}

.fade-slide-y-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1) !important;
}

.fade-slide-y-enter-from,
.fade-slide-y-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
