.vp-feature-panel {
  // margin-inline: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;

  // NOTE: Compatible with Android Wechat
  // padding-inline: 1.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.vp-feature-title {
  margin: 1rem 1.75rem 0.5rem;
  border-bottom: none;

  font-weight: bold;
  font-size: 1.75rem;
  font-family: var(--font-family);
  text-align: center;
}

.vp-features-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  justify-content: center;

  @media print {
    display: block;
  }

  &:first-child {
    border-top: 1px solid var(--border-color);
    transition: border-color var(--color-transition);
  }
}

.vp-feature {
  position: relative;

  flex-basis: calc(33% - 3rem);

  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;

  transition: background var(--color-transition),
    box-shadow var(--color-transition), transform var(--transform-transition);

  @media (min-width: hope-config.$pc) {
    flex-basis: calc(25% - 3rem);
  }

  @media (max-width: hope-config.$pad) {
    flex-basis: calc(50% - 3rem);
  }

  @media (max-width: hope-config.$tablet) {
    flex-basis: 100%;
    font-size: 0.95rem;
  }

  @media (max-width: hope-config.$mobile) {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }

  &.link {
    cursor: pointer;

    @media print {
      text-decoration: none;
    }
  }

  .icon {
    display: inline-block;

    width: 1.1em;
    margin-inline-end: 0.5rem;

    color: var(--theme-color);

    font-weight: normal;
    font-size: 1.1em;
  }

  &:hover {
    background-color: var(--bg-color-secondary);
    box-shadow: 0 2px 12px 0 var(--card-shadow);
    transform: scale(1.05);
  }

  &:only-child {
    flex-basis: 100%;
  }

  &:first-child:nth-last-child(2),
  &:nth-child(2):last-child {
    flex-basis: calc(50% - 3rem);

    @media (max-width: hope-config.$tablet) {
      flex-basis: 100%;
    }
  }
}

.vp-feature-header {
  margin: 0.25rem 0 0.5rem;

  color: var(--text-color-light);

  font-weight: bold;
  font-size: 1.3rem;
  font-family: var(--font-family);

  @media (max-width: hope-config.$mobile) {
    font-size: 1.2rem;
  }
}

.vp-feature-content {
  margin: 0;
  color: var(--text-color-lighter);
  line-height: 1.4;
}
