.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.75rem 2rem;
  border-top: 1px solid var(--border-color);
  background: var(--bg-color);
  color: var(--dark-color);
  text-align: center;
  transition: border-top-color var(--color-transition),
    background var(--color-transition);

  @media (min-width: hope-config.$mobile) {
    padding-left: calc(var(--sidebar-width) + 2rem);

    .no-sidebar & {
      padding-left: 2rem;
    }
  }

  & > div {
    @media (max-width: hope-config.$mobileS) {
      width: 100%;
    }
  }

  .footer {
    margin: 0.5rem 1rem;
    font-size: 14px;
  }

  .copyright {
    margin: 6px 0;
    font-size: 13px;
  }
}

.page:not(.not-found) + .footer-wrapper {
  margin-top: -2rem;
}
