.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  padding: 0.75rem 2rem 0.75rem calc(var(--sidebar-space) + 2rem);
  border-top: 1px solid var(--border-color);

  background: var(--bg-color);
  color: var(--dark-color);

  text-align: center;

  transition: border-top-color var(--color-transition),
    background var(--color-transition), padding var(--transform-transition);

  @media (max-width: hope-config.$tablet) {
    padding-left: 2rem;
  }

  @media print {
    margin: 0 !important;
    padding: 0 !important;
  }

  .no-sidebar &,
  .sidebar-collapsed & {
    padding-left: 2rem;
  }

  > div {
    @media (max-width: hope-config.$mobile) {
      width: 100%;
    }
  }

  .footer {
    margin: 0.5rem 1rem;
    font-size: 14px;

    @media print {
      display: none;
    }
  }

  .copyright {
    margin: 6px 0;
    font-size: 13px;
  }
}

.page:not(.not-found) + .footer-wrapper {
  margin-top: -2rem;
}
