@use "vuepress-shared/styles/wrapper";

.home.project {
  --content-width: var(--home-page-width);
  display: block;
  flex: 1;
  padding-top: var(--navbar-height);

  .hero-info-wrapper {
    @include wrapper.horizontal-wrapper;
  }

  .feature-panel {
    @include wrapper.horizontal-wrapper;
  }

  #{hope-config.$content-class} {
    padding-bottom: 1.5rem;
  }
}
