@use "sass:color";
@use "sass:list";

.home.project {
  display: block;

  max-width: var(--home-page-width);
  min-height: calc(100vh - var(--navbar-height));
  margin: 0 auto;
  padding: var(--navbar-height) 2rem 0;

  @media (max-width: hope-config.$mobile) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .hero {
    text-align: center;

    @media (min-width: hope-config.$pad) {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      text-align: left;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 280px;
      margin: 0;

      @media (max-width: hope-config.$pad) {
        margin: 3rem auto 1.5rem;
      }

      @media (max-width: hope-config.$tablet) {
        max-height: 240px;
        margin: 2rem auto 1.2rem;
      }

      @media (max-width: hope-config.$mobile) {
        max-height: 210px;
        margin: 1.5rem auto 1rem;
      }

      &.light {
        display: block;

        #{hope-config.$dark-selector} & {
          display: none;
        }
      }

      &.dark {
        display: none;

        #{hope-config.$dark-selector} & {
          display: block;
        }
      }
    }

    h1,
    .description,
    .action {
      margin: 1.8rem auto;

      @media (min-width: hope-config.$pad) {
        margin: 1.8rem 0;
      }

      @media (max-width: hope-config.$tablet) {
        margin: 1.5rem auto;
      }

      @media (max-width: hope-config.$mobile) {
        margin: 1.2rem auto;
      }
    }

    h1 {
      font-size: 3.6rem;
      font-family: var(--font-family-fancy);

      @media (max-width: hope-config.$tablet) {
        font-size: 2.5rem;
      }

      @media (max-width: hope-config.$mobile) {
        font-size: 2rem;
      }
    }

    .description {
      max-width: 35rem;

      color: var(--text-color-bright);

      font-size: 1.6rem;
      font-family: var(--font-family-fancy);
      line-height: 1.3;

      @media (max-width: hope-config.$tablet) {
        font-size: 1.4rem;
      }

      @media (max-width: hope-config.$mobile) {
        font-size: 1.2rem;
      }
    }

    .action-button {
      display: inline-block;

      overflow: hidden;

      margin: 0.6rem 0.8rem;
      padding: 0.75rem 1.5rem;
      border: 2px solid var(--theme-color);
      border-radius: 0.5rem;

      color: var(--theme-color);

      font-size: 1.2rem;

      transition: background-color var(--color-transition),
        color var(--color-transition);

      @media (max-width: hope-config.$tablet) {
        padding: 0.8rem 1.2rem;
        font-size: 1.1rem;
      }

      @media (max-width: hope-config.$mobile) {
        font-size: 1rem;
      }

      &:hover {
        background-color: var(--theme-color);
        color: var(--white);
      }

      &.primary {
        background-color: var(--theme-color);
        color: var(--white);

        // stylelint-disable max-nesting-depth
        &:hover {
          border-color: var(--theme-color-light);
          background-color: var(--theme-color-light);
        }
        // stylelint-enable max-nesting-depth
      }
    }
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;

    overflow: hidden;

    margin: 0 -2rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--border-color);

    transition: border-color var(--color-transition);

    @media (max-width: hope-config.$mobile) {
      margin: 0 -1.5rem;
    }
  }

  .feature {
    position: relative;

    flex-basis: calc(33% - 4rem);

    overflow: hidden;

    margin: 0.5rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;

    text-align: center;

    transition: transform 0.3s, box-shadow 0.3s;

    @media (min-width: hope-config.$pc) {
      flex-basis: calc(25% - 4rem);
    }

    @media (max-width: hope-config.$pad) {
      flex-basis: calc(50% - 4rem);
    }

    @media (max-width: hope-config.$tablet) {
      font-size: 0.95rem;
    }

    @media (max-width: hope-config.$mobile) {
      flex-basis: calc(100%);
      margin: 0.5rem 0;
      border-radius: 0;
      font-size: 0.9rem;
    }

    &.link {
      cursor: pointer;
    }

    &:hover {
      box-shadow: 0 2px 12px 0 var(--card-shadow);
      transform: scale(1.05);
    }

    .icon {
      display: inline-block;
      margin-bottom: 0.5rem;
      color: var(--theme-color);
      font-size: 2rem;
    }

    h2 {
      margin: 0.25rem 0;
      border-bottom: none;

      color: var(--text-color-light);

      font-weight: bold;
      font-size: 1.25rem;

      @media (max-width: hope-config.$mobile) {
        font-size: 1.2rem;
      }
    }

    p {
      margin: 0;
      color: var(--text-color-lighter);
      line-height: 1.4;
    }
  }

  #{hope-config.$content-class} {
    padding-bottom: 1.5rem;
  }
}
