@use "sass:color";
@use "sass:list";

@keyframes bounce {
  0% {
    transform: scale(1) translateY(0);
  }

  10% {
    transform: scale(
        var(--bounce-start-scale-x, 1.1),
        var(--bounce-start-scale-y, 0.9)
      )
      translateY(0);
  }

  30% {
    transform: scale(
        var(--bounce-jump-scale-x, 0.9),
        var(--bounce-jump-scale-y, 1.1)
      )
      translateY(var(--bounce-height, -0.5em));
  }

  50% {
    transform: scale(
        var(--bounce-land-scale-x, 1.05),
        var(--bounce-land-scale-y, 0.95)
      )
      translateY(0);
  }

  57% {
    transform: scale(1) translateY(var(--bounce-rebound, -0.125em));
  }

  64% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

.home.project {
  display: block;

  max-width: var(--home-page-width);
  min-height: calc(100vh - var(--navbar-height));
  margin: 0 auto;
  padding: var(--navbar-height) 2rem 0;

  @media (max-width: hope-config.$mobile) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .hero {
    @media (min-width: hope-config.$pad) {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 280px;
      margin: 0;

      @media (max-width: hope-config.$pad) {
        margin: 3rem auto 1.5rem;
      }

      @media (max-width: hope-config.$tablet) {
        max-height: 240px;
        margin: 2rem auto 1.2rem;
      }

      @media (max-width: hope-config.$mobile) {
        max-height: 210px;
        margin: 1.5rem auto 1rem;
      }

      &.light {
        display: block;

        #{hope-config.$dark-selector} & {
          display: none;
        }
      }

      &.dark {
        display: none;

        #{hope-config.$dark-selector} & {
          display: block;
        }
      }
    }

    h1,
    .description,
    .actions {
      margin: 1.8rem 0;

      @media (max-width: hope-config.$tablet) {
        margin: 1.5rem 0;
      }

      @media (max-width: hope-config.$pad) {
        margin: 1.5rem auto;
        text-align: center;
      }

      @media (max-width: hope-config.$mobile) {
        margin: 1.2rem 0;
      }
    }

    h1 {
      font-size: 3.6rem;
      font-family: var(--font-family-fancy);

      @media (max-width: hope-config.$tablet) {
        font-size: 2.5rem;
      }

      @media (max-width: hope-config.$mobile) {
        font-size: 2rem;
      }
    }

    .description {
      max-width: 35rem;

      color: var(--text-color-bright);

      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.3;

      @media (max-width: hope-config.$tablet) {
        font-size: 1.4rem;
      }

      @media (max-width: hope-config.$mobile) {
        font-size: 1.2rem;
      }
    }

    .action-button {
      display: inline-block;

      overflow: hidden;

      margin: 0.5rem;
      padding: 0.5em 1.5rem;
      border: 1px solid var(--text-color);
      border-radius: 2rem;

      background: var(--bg-color-secondary);
      color: var(--text-color);

      font-size: 1.2rem;

      transition: color var(--color-transition), color var(--color-transition),
        transform var(--transform-transition);

      @media (max-width: hope-config.$tablet) {
        padding: 0.8rem 1.2rem;
        font-size: 1.1rem;
      }

      @media (max-width: hope-config.$mobile) {
        font-size: 1rem;
      }

      &:hover {
        border-color: var(--text-color-bright);
        color: var(--text-color-bright);
      }

      &.primary {
        border-color: var(--theme-color);
        background: var(--theme-color);
        color: var(--white);

        // stylelint-disable max-nesting-depth
        &:hover {
          border-color: var(--theme-color-light);
          background: var(--theme-color-light);
        }
        // stylelint-enable max-nesting-depth
      }
    }
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;

    margin: 0 -1rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--border-color);

    transition: border-color var(--color-transition);

    @media (max-width: hope-config.$mobile) {
      margin: 0 -0.5rem;
    }
  }

  .feature {
    position: relative;

    flex-basis: calc(33% - 4rem);

    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;

    transition: background var(--color-transition),
      box-shadow var(--color-transition), transform var(--transform-transition);

    @media (min-width: hope-config.$pc) {
      flex-basis: calc(25% - 3rem);
    }

    @media (max-width: hope-config.$pad) {
      flex-basis: calc(50% - 3rem);
    }

    @media (max-width: hope-config.$tablet) {
      font-size: 0.95rem;
    }

    @media (max-width: hope-config.$mobile) {
      flex-basis: calc(100%);
      margin: 0.5rem 0;
      font-size: 0.9rem;
    }

    &.link {
      cursor: pointer;
    }

    &:hover {
      background-color: var(--bg-color-secondary);
      box-shadow: 0 2px 12px 0 var(--card-shadow);
      transform: scale(1.05);
    }

    .icon {
      display: inline-block;
      margin-right: 0.5rem;
      color: var(--theme-color);
      font-size: 1.1em;
    }

    h2 {
      margin: 0.25rem 0 0.5rem;
      color: var(--text-color-light);
      font-weight: bold;
      font-size: 1.3rem;

      @media (max-width: hope-config.$mobile) {
        font-size: 1.2rem;
      }
    }

    p {
      margin: 0;
      color: var(--text-color-lighter);
      line-height: 1.4;
    }
  }

  &:not(.pure) {
    .action-button:active {
      transform: scale(0.96);
    }

    .feature:hover .icon {
      animation-name: bounce;
      animation-duration: var(--fa-animation-duration, 1s);
      animation-timing-function: var(
        --fa-animation-timing,
        cubic-bezier(0.28, 0.84, 0.42, 1)
      );
      animation-delay: var(--fa-animation-delay, 0s);
      animation-direction: var(--fa-animation-direction, normal);
    }
  }

  #{hope-config.$content-class} {
    padding-bottom: 1.5rem;
  }
}
