@use '@hope/config';
@use 'footer';
@import "_wrapper";

.page {
  padding-top: var(--navbar-height);
  padding-left: var(--sidebar-width);
}

.theme-container {
  &.no-navbar {
    .page {
      padding-top: 0;
    }

    .sidebar {
      top: 0;
    }
  }
}

@media (min-width: (config.$mobile + 1px)) {
  .theme-container.no-sidebar {
    .sidebar {
      display: none;
    }

    .page {
      padding-left: 0;
    }
  }
}

.theme-default-content:not(.custom) {
  @extend %wrapper;

  padding-top: 0;

  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
  }
}

.theme-default-content.custom {
  padding: 0;
  margin: 0;

  img {
    max-width: 100%;
  }
}

// narrow desktop / iPad
@media (max-width: config.$pad) {
  .sidebar {
    font-size: 15px;
    width: var(--mobile-sidebar-width);
  }

  .page {
    padding-left: var(--mobile-sidebar-width);
  }
}

// wide mobile
@media (max-width: config.$mobile) {
  .sidebar {
    top: 0;
    padding-top: var(--navbar-height);
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }

  .page {
    padding-left: 0;
  }

  .theme-container {
    &.sidebar-open {
      .sidebar {
        transform: translateX(0);
      }
    }

    &.no-navbar {
      .sidebar {
        padding-top: 0;
      }
    }
  }
}

// narrow mobile
@media (max-width: config.$mobileS) {
  h1 {
    font-size: 1.9rem;
  }
}
