@use "vuepress-shared/styles/normalize";
@use "@sass-palette/hope-config";
@use "fonts/crimson.css";

html,
body {
  background: var(--bg-color);
  transition: background-color var(--color-transition);
}

#{hope-config.$dark-selector} {
  color-scheme: dark;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
}

a {
  color: var(--theme-color);
}

kbd {
  border-color: var(--grey14);
  background: var(--bg-color-light);
  font-family: var(--font-family-code);
}

code {
  font-family: var(--font-family-code);
  transition: background-color var(--color-transition),
    color var(--color-transition);

  #{hope-config.$dark-selector} & {
    background: #333;
  }

  p a & {
    color: var(--theme-color);
  }
}

blockquote {
  border-color: #eee;
  color: #666;
  transition: border-color var(--color-transition),
    color var(--color-transition);

  #{hope-config.$dark-selector} & {
    border-color: #333;
  }
}

h1 {
  // narrow mobile
  @media (max-width: hope-config.$mobile) {
    font-size: 1.9rem;
  }
}

h2 {
  border-color: var(--border-color);
  transition: border-bottom-color var(--color-transition);
}

hr {
  border-color: var(--border-color);
  transition: border-top-color var(--color-transition);
}

tr {
  border-color: var(--grey14);

  &:nth-child(2n) {
    background: var(--bg-color-light);

    #{hope-config.$dark-selector} & {
      background: #252322;
    }
  }
}

th,
td {
  border-color: var(--grey14);
}
