.vp-page {
  display: block;
  flex-grow: 1;
  padding-bottom: 2rem;
  transition: padding var(--transform-transition);

  // ensure page margin
  @media print {
    min-height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.page-cover {
  object-fit: cover;
  width: calc(100% + 2rem);
  max-height: 25vh;
  margin-left: -2rem;

  @media (max-width: hope-config.$tablet) {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  @media (min-width: hope-config.$pc) {
    width: calc(100% - 2rem);
    margin: 0 1rem;
    border-radius: 0.5rem;
  }

  .sidebar-collapsed {
    width: 100%;
    margin-left: 0;
  }
}
