@use '@hope/config';
@use '@mr-hope/vuepress-shared/styles/wrapper';
@import "_wrapper";

.page {
  padding-bottom: 2rem;
  display: block;
}

/* Page Meta */

.page-meta {
  @extend %wrapper;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;

  .meta-item {
    cursor: default;
    margin-top: 0.8rem;

    .label {
      font-weight: 500;
      color: var(--text-color-lighter);
    }

    .info {
      font-weight: 400;
      color: var(--dark-grey);
    }
  }

  .edit-link {
    display: inline-block;
    font-size: 14px;
    margin-right: 0.25rem;

    .icon {
      position: relative;
      bottom: -0.125em;
      width: 1em;
      height: 1em;
    }

    @media (max-width: config.$mobile) {
      margin-bottom: 8px;
    }
  }

  .update-time {
    float: right;

    font-size: 14px;

    @media (max-width: config.$mobile) {
      float: none;
      font-size: 13px;
      text-align: left;
    }
  }

  .contributors {
    font-size: 14px;
    text-align: right;

    @media (max-width: config.$mobile) {
      font-size: 13px;
      text-align: left;
    }
  }
}

/* Page Nav */

.page-nav {
  @extend %wrapper;
  padding-top: 0.75rem;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid var(--border-color);
    padding-top: 1rem;
    // clear float
    overflow: auto;
  }

  .prev .icon,
  .next .icon {
    position: relative;
    top: 0.125em;
    width: 1em;
    height: 1em;
    color: var(--accent-color);
  }

  .next {
    float: right;
  }
}
