@use "vuepress-shared/styles/arrow";

.vp-page-nav {
  display: flex;
  flex-wrap: wrap;

  min-height: 2rem;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  // NOTE: Compatible with Android Wechat
  // padding-inline: 2rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  border-top: 1px solid var(--border-color);

  transition: border-top var(--color-transition);

  @media (max-width: hope-config.$pad) {
    // NOTE: Compatible with Android Wechat
    // padding-inline: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }

  @media print {
    display: none;
  }

  .nav-link {
    display: inline-block;
    flex-grow: 1;

    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;

    &:hover {
      background: var(--bg-color-secondary);
    }

    .hint {
      color: var(--light-grey);
      font-size: 0.875rem;
      line-height: 2;
    }

    .arrow {
      @include arrow.arrow;

      font-size: 0.75rem;
    }
  }

  .prev {
    text-align: start;

    .icon {
      margin-inline-end: 0.25em;
    }
  }

  .next {
    text-align: end;

    .icon {
      margin-inline-start: 0.25em;
    }
  }
}
