@use "vuepress-shared/styles/arrow";
@use "vuepress-shared/styles/wrapper";

.page-nav {
  @include wrapper.horizontal-wrapper;

  // clear float
  overflow: auto;

  min-height: 2rem;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid var(--border-color);

  transition: border-top var(--color-transition);

  .nav-link {
    display: inline-block;
    padding: 0.25rem;

    .hint {
      color: var(--light-grey);
      font-size: 0.875rem;
      line-height: 2;
    }

    .arrow {
      @include arrow.arrow;

      font-size: 0.75rem;
    }
  }

  .prev {
    text-align: left;

    .icon {
      margin-right: 0.25em;
    }
  }

  .next {
    float: right;
    text-align: right;

    .icon {
      margin-left: 0.25em;
    }
  }
}
