@use "@mr-hope/vuepress-shared/styles/wrapper";
@use "@sass-palette/hope-config";

#{hope-config.$content-class} {
  &:not(.custom) {
    @include wrapper.wrapper;

    > {
      // heading fix
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: calc(0.5rem - var(--navbar-height));
        margin-bottom: 0.5rem;
        padding-top: calc(1rem + var(--navbar-height));
        outline: none;

        // stylelint-disable max-nesting-depth
        .theme-container.no-navbar & {
          margin-top: 1.5rem;
          padding-top: 0;
        }
        // stylelint-enable max-nesting-depth
      }

      // paragraph fix
      p,
      ul p,
      ol p {
        text-align: justify;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: auto;

        @media (max-width: hope-config.$mobileS) {
          text-align: left;
        }
      }

      a:hover {
        text-decoration: underline;
      }
    }

    // unknown container
    p.demo {
      padding: 1rem 1.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    img {
      max-width: 100%;
    }
  }

  &.custom {
    margin: 0;
    padding: 0;

    img {
      max-width: 100%;
    }
  }

  // md-enhance footnote fix
  // footnote anchor position
  .footnote-item {
    @media (max-width: hope-config.$pad) {
      margin-top: calc(0rem - var(--navbar-mobile-height));
      padding-top: calc(var(--navbar-mobile-height) + 0.5rem);
    }
  }

  .footnote-anchor {
    @media (max-width: hope-config.$pad) {
      top: calc(-0.5rem - var(--navbar-mobile-height, --navbar-height));
    }
  }
}
