@use "@mr-hope/vuepress-shared/styles/wrapper";
@use "@sass-palette/hope-config";

#{hope-config.$contentClass} {
  &:not(.custom) {
    @include wrapper.wrapper;

    > {
      // heading fix
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: calc(0.5rem - var(--navbar-height));
        padding-top: calc(1rem + var(--navbar-height));
        margin-bottom: 0.5rem;
        outline: none;

        .theme-container.no-navbar & {
          margin-top: 1.5rem;
          padding-top: 0;
        }
      }

      // paragraph fix
      p,
      ul p,
      ol p {
        text-align: justify;
        word-break: break-word;
        hyphens: auto;
        overflow-wrap: break-word;

        @media (max-width: hope-config.$mobileS) {
          text-align: left;
        }
      }

      a:hover {
        text-decoration: underline;
      }
    }

    // unknown container
    p.demo {
      padding: 1rem 1.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    img {
      max-width: 100%;
    }
  }

  &.custom {
    padding: 0;
    margin: 0;

    img {
      max-width: 100%;
    }
  }
}
