@use "vuepress-shared/styles/wrapper";
@use "@sass-palette/hope-config";

#{hope-config.$content-class} {
  &:not(.custom) {
    @include wrapper.wrapper;

    > {
      // heading fix
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: calc(0.5rem - var(--navbar-height));
        margin-bottom: 0.5rem;
        padding-top: calc(1rem + var(--navbar-height));
        outline: none;

        // stylelint-disable max-nesting-depth
        .theme-container.no-navbar & {
          margin-top: 1.5rem;
          padding-top: 0;
        }
        // stylelint-enable max-nesting-depth
      }

      // paragraph fix
      p,
      ul p,
      ol p {
        text-align: justify;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: auto;

        @media (max-width: hope-config.$mobile) {
          text-align: left;
        }
      }
    }

    a:hover {
      text-decoration: underline;
    }

    img {
      max-width: 100%;
    }
  }

  &.custom {
    margin: 0;
    padding: 0;

    img {
      max-width: 100%;
    }
  }
}
