@use "vuepress-shared/styles/wrapper";
@use "@sass-palette/hope-config";

@media (min-width: hope-config.$laptop) {
  .chart-wrapper,
  .flowchart-wrapper,
  .mermaid-wrapper {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track-piece {
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background: rgb(0 0 0 / 10%);
    }
  }
}

// TODO: Add it upstream
.external-link-icon {
  @media print {
    display: none;
  }
}
