@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "@sass-palette/hope-config";

$enable-theme-color: map.has-key(
  meta.module-variables("hope-config"),
  "theme-colors"
);

$theme-colors: "";

@if ($enable-theme-color) {
  @each $color in hope-config.$theme-colors {
    @if (string.length($theme-colors) > 0) {
      $theme-colors: $theme-colors + "|";
    }
    $theme-colors: $theme-colors + #{$color};
  }
}

:export {
  mobileBreakPoint: hope-config.$tablet;
  pcBreakPoint: hope-config.$pc;
  enableThemeColor: $enable-theme-color;
  themeColors: string.unquote($theme-colors);
  colorNumber: list.length(hope-config.$colors);
}
