@use "@sass-palette/hope-config";

:root {
  /* complete default theme color to make 3rd-party plugins work */

  // theme color
  --c-brand: var(--theme-color);
  --c-brand-light: var(--theme-color-light);

  // text
  --c-text: var(--text-color);

  // background colors
  --c-bg: var(--bg-color);
  --c-bg-light: var(--bg-color-light);
  --c-border: var(--border-color);

  // layout
  --navbar-bg-color: var(--bg-color-float-blur);
  --sidebar-bg-color: var(--bg-color-blur);
}

#{hope-config.$darkSelector} {
  /* complete default theme color to make 3rd-party plugins work */

  // theme color
  --c-brand: var(--theme-color);
  --c-brand-light: var(--theme-color-light);

  // text
  --c-text: var(--text-color);

  // background
  --c-bg: var(--bg-color);
  --c-bg-light: var(--bg-color-light);
  --c-border: var(--border-color);

  /* others */

  // layout
  --navbar-bg-color: var(--bg-color-blur);
  --sidebar-bg-color: var(--bg-color-blur);
}

// code-block fix
#app {
  // code blocks vars
  --code-hl-bg-color: var(--code-highlight-line-color);
  --code-ln-color: var(--code-line-color);
  --code-ln-wrapper-width: var(--line-numbers-width);
}

// plugin-docsearch
.DocSearch {
  --docsearch-primary-color: var(--c-theme-color);
  --docsearch-text-color: var(--text-color);
  --docsearch-highlight-color: var(--theme-color);
  --docsearch-muted-color: var(--light-gery);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: var(--bg-color-light);
  --docsearch-searchbox-background: var(--bg-color-lighter);
  --docsearch-searchbox-focus-background: var(--bg-color);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--theme-color);
  --docsearch-hit-color: var(--text-color-light);
  --docsearch-hit-active-color: var(--bg-color);
  --docsearch-hit-background: var(--bg-color);
  --docsearch-hit-shadow: 0 1px 3px 0 var(--border-color);
  --docsearch-footer-background: var(--bg-color);

  // plugin-docsearch
  #{hope-config.$darkSelector} & {
    --docsearch-logo-color: var(--c-text);
    --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
    --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
      0 2px 2px 0 rgba(3, 4, 9, 0.3);
    --docsearch-key-gradient: linear-gradient(-225deg, #444950, #1c1e21);
    --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
      0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

// plugin-md-enhance
#app {
  // plugin md-enhance code group
  --code-group-nav-text-color: var(--text-color);
  --code-group-nav-bg-color: var(--code-border-color);
  --code-group-nav-hover-color: var(--code-highlight-line-color);
}

// plugin-nprogress
#nprogress {
  --nprogress-color: var(--theme-color);
}

// plugin-search
.search-box {
  --search-bg-color: var(--bg-color);
  --search-accent-color: var(--theme-color);
  --search-text-color: var(--text-color);
  --search-border-color: var(--border-color);

  --search-item-text-color: var(--text-color-lighter);
  --search-item-focus-bg-color: var(--bg-color-light);
}

// plugin-external-link-icon
.external-link-icon {
  --external-link-icon-color: var(--light-grey);
}
