@use "@sass-palette/hope-config";

:root {
  /* complete default theme color to make 3rd-party plugins work */

  // theme color
  --c-brand: var(--theme-color);
  --c-brand-light: var(--theme-color-light);

  // text
  --c-text: var(--text-color);

  // background colors
  --c-bg: var(--bg-color);
  --c-bg-light: var(--bg-color-light);
  --c-border: var(--border-color);

  // layout
  --navbar-bg-color: var(--bg-color-float-blur);
  --sidebar-bg-color: var(--bg-color-blur);
}

#{hope-config.$dark-selector} {
  /* complete default theme color to make 3rd-party plugins work */

  // theme color
  --c-brand: var(--theme-color);
  --c-brand-light: var(--theme-color-light);

  // text
  --c-text: var(--text-color);

  // background
  --c-bg: var(--bg-color);
  --c-bg-light: var(--bg-color-light);
  --c-border: var(--border-color);

  /* others */

  // layout
  --navbar-bg-color: var(--bg-color-blur);
  --sidebar-bg-color: var(--bg-color-blur);
}

#app {
  // code-block fix
  --code-hl-bg-color: var(--code-highlight-line-color);
  --code-ln-color: var(--code-line-color);
  --code-ln-wrapper-width: var(--line-numbers-width);

  // plugin md-enhance code tabs
  --code-tabs-nav-text-color: var(--text-color);
  --code-tabs-nav-bg-color: var(--code-border-color);
  --code-tabs-nav-hover-color: var(--code-highlight-line-color);

  // override mobile variables
  @media (max-width: hope-config.$pad) {
    --navbar-height: var(--navbar-mobile-height);
    --navbar-vertical-padding: var(--navbar-mobile-vertical-padding);
    --navbar-horizontal-padding: var(--navbar-mobile-horizontal-padding);
    --sidebar-width: var(--sidebar-mobile-width);
  }
}

// plugin-docsearch
// stylelint-disable selector-class-pattern
.DocSearch-Button,
.DocSearch {
  --docsearch-primary-color: var(--c-theme-color);
  --docsearch-text-color: var(--text-color);
  --docsearch-highlight-color: var(--theme-color);
  --docsearch-muted-color: var(--light-gery);
  --docsearch-container-background: rgb(9 10 17 / 80%);
  --docsearch-modal-background: var(--bg-color-float);
  --docsearch-searchbox-background: var(--bg-color-secondary);
  --docsearch-searchbox-focus-background: var(--bg-color);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--theme-color);
  --docsearch-hit-color: var(--text-color-light);
  --docsearch-hit-active-color: var(--bg-color);
  --docsearch-hit-background: var(--bg-color);
  --docsearch-hit-shadow: 0 1px 3px 0 var(--border-color);
  --docsearch-footer-background: var(--bg-color);

  #{hope-config.$dark-selector} & {
    --docsearch-logo-color: var(--c-text);
    --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
    --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
      0 2px 2px 0 rgb(3 4 9 / 30%);
    --docsearch-key-gradient: linear-gradient(-225deg, #444950, #1c1e21);
    --docsearch-footer-shadow: inset 0 1px 0 0 rgb(73 76 106 / 50%),
      0 -4px 8px 0 rgb(0 0 0 / 20%);
  }
}
// stylelint-enable selector-class-pattern

// plugin-nprogress
#nprogress {
  --nprogress-color: var(--theme-color);
}

// plugin-search
.search-box {
  --search-bg-color: var(--bg-color);
  --search-accent-color: var(--theme-color);
  --search-text-color: var(--text-color);
  --search-border-color: var(--border-color);
  --search-item-text-color: var(--text-color-lighter);
  --search-item-focus-bg-color: var(--bg-color-light);
}

// plugin-external-link-icon
.external-link-icon {
  --external-link-icon-color: var(--light-grey);
}
