@use '@hope/config';

.sidebar-nav-links {
  display: none;
  padding: 0.5rem 0 0.75rem 0;
  border-bottom: 1px solid var(--border-color);

  @media (max-width: config.$mobile) {
    display: block;
  }

  ul {
    padding: 0;
    margin: 0.25rem 0 0;
    list-style-type: none;
  }

  .navbar-links-item {
    position: relative;
    display: block;
    padding: 0.5rem 0 0.5rem 1.5rem;
    font-size: 1.1em;
    line-height: 1.25rem;

    // newly added
    &:first-child {
      margin-left: 0;
    }
  }
}
