/**
 * Shades of Purple Theme for Prism.js
 *
 * @author Ahmad Awais <https://twitter.com/MrAhmadAwais/>
 * @support Follow/tweet at https://twitter.com/MrAhmadAwais/
 * Copied from https://github.com/PrismJS/prism-themes/blob/master/themes/prism-shades-of-purple.css
 */

@use "../../var";

#app {
  @include var.color($code-color: #9efeff, $code-bg-color: #1e1e3f);
}

code[class*="language-"],
pre[class*="language-"] {
  letter-spacing: 0.5px;
  text-shadow: 0 1px #222245;

  // tab size

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  // Selection
  &::selection,
  ::selection {
    background: #a599e9;
    color: inherit;
  }
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #b362ff;
}

.token.delimiter,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #ff9d00;
}

.token.operator,
.token.attr-name {
  color: rgb(255 180 84);
}

.token.punctuation {
  color: #fff;
}

.token.boolean {
  color: rgb(255 98 140);
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: rgb(255 157 0);
}

.token.entity,
.token.symbol {
  color: #6897bb;
}

.token.number {
  color: #ff628c;
}

.token.property,
.token.constant,
.token.variable {
  color: #ff628c;
}

.token.string,
.token.char {
  color: #a5ff90;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a5c261;
}

.token.attr-value .punctuation:first-child {
  color: #a9b7c6;
}

.token.url {
  color: #287bde;
  text-decoration: underline;
}

.token.function {
  color: rgb(250 208 0);
}

.token.regex {
  background: #364135;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #0f0;
}

.token.deleted {
  background: #ff000d;
}

.language-css .token.property,
.language-css .token.property + .token.punctuation {
  color: #a9b7c6;
}

.language-css .token.id {
  color: #ffc66d;
}

.language-css .token.selector > .token.class,
.language-css .token.selector > .token.attribute,
.language-css .token.selector > .token.pseudo-class,
.language-css .token.selector > .token.pseudo-element {
  color: #ffc66d;
}

.token.class-name {
  color: #fb94ff;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none;
}
