.nav-screen-links {
  display: none;
  padding-bottom: 0.75rem;

  @media (max-width: hope-config.$tablet) {
    display: block;
  }

  .navbar-links-item {
    position: relative;

    display: block;

    padding: 12px 4px 11px 0;
    border-bottom: 1px solid var(--border-color);

    font-size: 16px;
    line-height: 1.5rem;
  }

  .auto-link {
    display: inline-block;
    width: 100%;
    color: var(--grey-dark);
    font-weight: normal;

    &:hover {
      color: var(--text-color);
    }

    &.route-link-active {
      color: var(--theme-color);
    }
  }
}
