.nav-actions-wrapper {
  display: flex;
  align-items: center;

  > * {
    position: relative;
    margin: 0 0.25rem !important;

    &:first-child {
      margin-left: 0 !important;
    }

    &:last-child {
      margin-right: 0 !important;
    }
  }

  .repo-link {
    display: inline-block;
    margin: auto;
    padding: 6px;
    color: var(--dark-grey);

    &:hover,
    &:active {
      color: var(--accent-color);
    }
  }
}
