.nav-link {
  line-height: 1.4rem;

  .navbar & {
    color: var(--dark-grey);

    &.active {
      color: var(--accent-color);
    }
  }

  .sidebar & {
    color: var(--text-color);

    &:hover,
    &.active {
      color: var(--accent-color);
    }
  }
}
