@use "@hope/config";

.navbar {
  --navbar-line-height: calc(
    var(--navbar-height) - var(--navbar-vertical-padding) * 2
  );

  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  padding: var(--navbar-vertical-padding) var(--navbar-horizontal-padding);
  background: var(--bg-color-blur);
  box-sizing: border-box;
  box-shadow: 0 2px 8px var(--card-shadow-color);
  backdrop-filter: saturate(200%) blur(20px);
  line-height: var(--navbar-line-height);
  transition: transform ease-in-out 0.3s, background-color ease 0.3s;

  @media (max-width: config.$mobile) {
    --navbar-line-height: calc(
      var(--mobile-navbar-height) - var(--mobile-navbar-vertical-padding) * 2
    );

    height: var(--mobile-navbar-height);
    padding: var(--mobile-navbar-vertical-padding)
      var(--mobile-navbar-horizontal-padding);
    padding-left: calc(var(--mobile-navbar-horizontal-padding) + 2.4rem);
  }

  .hide-navbar &.auto-hide {
    transform: translateY(-100%);
  }

  a,
  span,
  img {
    display: inline-block;
  }

  .home-link:hover .site-name {
    color: var(--accent-color);
  }

  .logo {
    min-width: var(--navbar-line-height);
    height: var(--navbar-line-height);
    margin-right: 0.8rem;
    vertical-align: top;

    &.light {
      display: block;
    }

    &.dark {
      display: none;
    }

    html.dark & {
      &.light {
        display: none;
      }

      &.dark {
        display: block;
      }
    }
  }

  .site-name {
    font-size: 1.5rem;
    color: var(--text-color);
    position: relative;

    @media (max-width: config.$mobile) {
      width: calc(100vw - 9.4rem);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .navbar-links-wrapper {
    position: absolute;
    top: var(--navbar-vertical-padding);
    right: var(--navbar-horizontal-padding);
    display: flex;
    box-sizing: border-box;
    padding-left: 1.5rem;
    font-size: 0.9rem;
    white-space: nowrap;

    @media (max-width: config.$mobile) {
      padding-left: 0;
      top: var(--mobile-navbar-vertical-padding);
      right: var(--mobile-navbar-horizontal-padding);
    }
  }
}
