@use "sass:color";

@use "@mr-hope/vuepress-shared/styles/svg";
@use "icons";

:root {
  --info-title-color: #193c47;
  --info-bg-color: #eef9fd;
  --info-border-color: #4cb3d4;

  --note-title-color: #474748;
  --note-bg-color: #fdfdfe;
  --note-border-color: #d4d5d8;

  --tip-title-color: #003100;
  --tip-bg-color: #e6f6e6;
  --tip-border-color: #009400;

  --warning-title-color: #4d3800;
  --warning-bg-color: #fff8e6;
  --warning-border-color: #e6a700;

  --danger-title-color: #4b1113;
  --danger-bg-color: #ffebec;
  --danger-border-color: #e13238;

  --detail-bg-color: #eee;
  --detail-text-color: inherit;
}

#{hope-config.$darkSelector} {
  --info-title-color: #eef9fd;
  --info-bg-color: #193c47;

  --note-title-color: #fdfdfe;
  --note-bg-color: #474748;

  --tip-title-color: #e6f6e6;
  --tip-bg-color: #003100;

  --warning-title-color: #fff8e6;
  --warning-bg-color: #4d3800;

  --danger-title-color: #ffebec;
  --danger-bg-color: #4b1113;

  --detail-bg-color: #353535;
  --detail-text-color: #a8a8a8;
}

.custom-container {
  position: relative;
  transition: background-color var(--color-transition),
    border-color var(--color-transition), color var(--color-transition);

  .custom-container-title {
    position: relative;
    font-weight: 600;
    line-height: 1.25;
  }

  &.info,
  &.note,
  &.tip,
  &.warning,
  &.danger {
    margin: 1rem 0;
    padding: 0.25rem 1rem;
    border-left-width: 0.3rem;
    border-left-style: solid;
    border-radius: 0.5rem;
    color: inherit;

    .custom-container-title {
      padding-left: 1.5rem;

      &::before {
        content: " ";
        position: absolute;
        left: 0px;
        width: 20px;
        height: 20px;
        background-position: left;
        background-repeat: no-repeat;
      }
    }

    p {
      line-height: 1.5;
    }

    a {
      color: var(--c-brand, #3eaf7c);
    }

    div[class*="language-"] {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  &.info {
    border-color: var(--info-border-color);
    background: var(--info-bg-color);

    .custom-container-title {
      color: var(--info-title-color);

      &::before {
        @include svg.background-svg(icons.$info-icon);

        #{hope-config.$darkSelector} & {
          @include svg.background-svg(icons.$info-dark-icon);
        }
      }
    }
  }

  &.note {
    border-color: var(--note-border-color);
    background: var(--note-bg-color);

    .custom-container-title {
      color: var(--note-title-color);

      &::before {
        @include svg.background-svg(icons.$note-icon);

        #{hope-config.$darkSelector} & {
          @include svg.background-svg(icons.$note-dark-icon);
        }
      }
    }
  }

  &.tip {
    border-color: var(--tip-border-color);
    background: var(--tip-bg-color);

    .custom-container-title {
      color: var(--tip-title-color);

      &::before {
        @include svg.background-svg(icons.$tip-icon);

        #{hope-config.$darkSelector} & {
          @include svg.background-svg(icons.$tip-dark-icon);
        }
      }
    }
  }

  &.warning {
    border-color: var(--warning-border-color);
    background: var(--warning-bg-color);

    .custom-container-title {
      color: var(--warning-title-color);

      &::before {
        @include svg.background-svg(icons.$warning-icon);

        #{hope-config.$darkSelector} & {
          @include svg.background-svg(icons.$warning-dark-icon);
        }
      }
    }
  }

  &.danger {
    border-color: var(--danger-border-color);
    background: var(--danger-bg-color);

    .custom-container-title {
      color: var(--danger-title-color);

      &::before {
        @include svg.background-svg(icons.$danger-icon);

        #{hope-config.$darkSelector} & {
          @include svg.background-svg(icons.$danger-dark-icon);
        }
      }
    }
  }
}

.custom-block.details {
  display: block;
  position: relative;
  margin: 1.6em 0;
  padding: 1.6em;
  background: var(--detail-bg-color);
  color: var(--detail-text-color);
  border-radius: 0.25rem;

  h4 {
    margin-top: 0;
  }

  figure,
  p {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  a {
    color: var(--c-brand, #3eaf7c);
  }

  summary {
    outline: none;
    cursor: pointer;
  }

  &[open] summary {
    margin-bottom: 0.5em;
  }
}
