@use "sass:color";
@use "@hope/config";
@use "@hope/helper";
@use "@mr-hope/vuepress-shared/styles/svg";
@use "icons";

$darkBgColor: helper.get-color(config.$bgColor, $isDark: true);
$darkTextColor: helper.get-color(config.$textColor, $isDark: true);

.custom-container {
  position: relative;
  transition: background-color var(--color-transition),
    border-color var(--color-transition), color var(--color-transition);

  .custom-container-title {
    position: relative;
    font-weight: 600;
    line-height: 1.25;
  }

  &.info,
  &.note,
  &.tip,
  &.warning,
  &.danger {
    margin: 1rem 0;
    padding: 0.25rem 1rem;
    border-color: var(--hint-box-border-color);
    border-left-width: 0.3rem;
    border-left-style: solid;
    border-radius: 0.5rem;
    background: var(--hint-box-bgcolor);
    color: inherit;

    #{config.$darkSelector} & {
      background: var(--hint-box-title-color);

      code {
        background: #444;
      }
    }

    .custom-container-title {
      padding-left: 1.5rem;
      color: var(--hint-box-title-color);

      #{config.$darkSelector} & {
        color: var(--hint-box-bgcolor);
      }

      &::before {
        content: " ";
        position: absolute;
        left: 0px;
        width: 20px;
        height: 20px;
        background-position: left;
        background-repeat: no-repeat;
      }
    }

    p {
      line-height: 1.25;
    }

    a {
      color: var(--accent-color);
    }
  }

  &.info {
    --hint-box-border-color: #4cb3d4;
    --hint-box-bgcolor: #eef9fd;
    --hint-box-title-color: #193c47;

    .custom-container-title {
      &::before {
        @include svg.background-svg(icons.$info-icon);

        #{config.$darkSelector} & {
          @include svg.background-svg(icons.$info-dark-icon);
        }
      }
    }
  }

  &.note {
    --hint-box-border-color: #d4d5d8;
    --hint-box-bgcolor: #fdfdfe;
    --hint-box-title-color: #474748;

    .custom-container-title {
      &::before {
        @include svg.background-svg(icons.$note-icon);

        #{config.$darkSelector} & {
          @include svg.background-svg(icons.$note-dark-icon);
        }
      }
    }
  }

  &.tip {
    --hint-box-border-color: #009400;
    --hint-box-bgcolor: #e6f6e6;
    --hint-box-title-color: #003100;

    .custom-container-title {
      &::before {
        @include svg.background-svg(icons.$tip-icon);

        #{config.$darkSelector} & {
          @include svg.background-svg(icons.$tip-dark-icon);
        }
      }
    }
  }

  &.warning {
    --hint-box-border-color: #e6a700;
    --hint-box-bgcolor: #fff8e6;
    --hint-box-title-color: #4d3800;

    .custom-container-title {
      &::before {
        @include svg.background-svg(icons.$warning-icon);

        #{config.$darkSelector} & {
          @include svg.background-svg(icons.$warning-dark-icon);
        }
      }
    }
  }

  &.danger {
    --hint-box-border-color: #e13238;
    --hint-box-bgcolor: #ffebec;
    --hint-box-title-color: #4b1113;

    .custom-container-title {
      &::before {
        @include svg.background-svg(icons.$danger-icon);

        #{config.$darkSelector} & {
          @include svg.background-svg(icons.$danger-dark-icon);
        }
      }
    }
  }
}

.custom-block.details {
  display: block;
  position: relative;
  margin: 1.6em 0;
  padding: 1.6em;
  background: #eee;
  border-radius: 0.25rem;

  h4 {
    margin-top: 0;
  }

  figure,
  p {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  a {
    color: var(--accent-color);
  }

  summary {
    outline: none;
    cursor: pointer;
  }

  &[open] summary {
    margin-bottom: 0.5em;
  }

  #{config.$darkSelector} & {
    background: color.scale($darkBgColor, $lightness: 10%);
    color: color.scale($darkTextColor, $lightness: 10%);

    code {
      background: #444;
    }
  }
}
