**/dist/**
**/node_modules/**

packages/**/*.js
packages/**/index.d.ts
packages/theme/src/lib/*.js
packages/theme/src/lib/*.d.ts

!packages/**/test/*.js
!packages/**/globals.d.ts
!packages/theme-types/index.d.ts
!.vuepress/**
