# Node modules
node_modules/

# Build files
packages/*/client/
packages/*/node/

# Vuepress Cache
.cache/
# Vuepress Temp
.temp/
# Vuepress Output
dist/

# VS Code Config file
.vscode/

# Rollup Cache
.rollup.cache/

# Typescript build info
*.tsbuildinfo

# Coverage Files
coverage/
