
packages/**/*.js
packages/**/*.d.ts

!packages/**/types/**/*.d.ts

!packages/pwa/node/skip-waiting.js
!packages/theme/util/noopModule.js

!packages/**/test/**/*.js

*.map

# Node modules
node_modules/

# Dist files
lib/

# VuePress Output
dist/

# VS Code Config file
.vscode/

# Typescript build info
*.tsbuildinfo

# Test files
!packages/**/__tests__/**/*.js
