**/dist/**
**/node_modules/**

packages/**/*.js
packages/**/*.d.ts

!packages/**/types/**/*.d.ts

!packages/pwa/node/skip-waiting.js
!packages/theme/util/noopModule.js

!packages/**/test/**/*.js

.vscode/
*.map
*.tsbuildinfo
