**/dist/**
**/node_modules/**

**/footnote.md
**/markdown.md

docs/theme/src/basic/vuepress/theme/dev.md
docs/theme/src/en/guide/layout/breadcrumb.md
docs/theme/src/en/guide/layout/page.md
docs/theme/src/guide/layout/breadcrumb.md

packages/**/*.js
packages/**/*.d.ts

!packages/pwa/src/skip-waiting.js
!packages/theme/src/lib/clientRootMixin.js
!packages/theme/src/lib/noopModule.js

!packages/**/test/*.js
!packages/**/types/*.d.ts
!.vuepress/**

*.vue
