**/dist/**
**/node_modules/**

**/footnote.md
**/markdown.md

docs/theme/src/basic/vuepress/theme/dev.md
docs/theme/src/zh/guide/feature/page-info.md
docs/theme/src/zh/guide/layout/navbar.md
docs/theme/src/zh/guide/layout/sidebar.md
docs/theme/src/guide/feature/page-info.md
docs/theme/src/guide/layout/navbar.md
docs/theme/src/guide/layout/sidebar.md

packages/**/*.js
packages/**/*.d.ts

!packages/pwa/src/skip-waiting.js
!packages/theme/src/lib/clientRootMixin.js
!packages/theme/src/lib/noopModule.js

!packages/**/test/*.js
!packages/**/types/*.d.ts
!.vuepress/**

*.vue
