.vp-catalog-wrapper {
  margin-top: 8px;
  margin-bottom: 8px;

  &.index {
    ol {
      padding-inline-start: 0;
    }

    li {
      list-style-type: none;
    }

    .vp-catalogs {
      padding-inline-start: 0;
    }

    .vp-catalog {
      list-style-type: none;
    }

    .vp-catalog-title::before {
      content: "ยง" counter(catalog-item, upper-roman) " ";
    }

    .vp-child-catalogs {
      counter-reset: child-catalog;
    }

    .vp-child-catalog {
      counter-increment: child-catalog;

      .vp-catalog-title::before {
        content: counter(catalog-item) "." counter(child-catalog) " ";
      }
    }

    .vp-sub-catalogs {
      padding-inline-start: 0.5rem;
    }
  }
}

.vp-catalogs {
  margin: 0;
  counter-reset: catalog-item;

  &.deep {
    padding-inline-start: 0;

    .vp-catalog {
      list-style-type: none;
    }
  }

  .font-icon {
    vertical-align: baseline;
    margin-inline-end: 0.25rem;
  }
}

.vp-catalog {
  counter-increment: catalog-item;

  &-main-title {
    margin-top: calc(0.5rem - var(--navbar-height, 3.6rem));
    margin-bottom: 0.5rem;
    padding-top: var(--navbar-height, 3.6rem);

    font-weight: 500;
    font-size: 1.75rem;

    &:first-child {
      margin-bottom: 0.5rem !important;
    }

    &:only-child {
      margin-bottom: 0 !important;
    }
  }

  &-child-title {
    margin-bottom: 0.5rem !important;

    &.has-children {
      margin-top: calc(0.5rem - var(--navbar-height, 3.6rem));
      padding-top: var(--navbar-height, 3.6rem);
      border-bottom: 1px solid var(--vp-brc);

      font-weight: 500;
      font-size: 1.3rem;

      transition: border-color var(--vp-ct);

      &:only-child {
        margin-bottom: 0 !important;
      }
    }
  }

  &-sub-title {
    font-weight: 500;
    font-size: 1.1rem;

    &:only-child {
      margin-bottom: 0 !important;
    }
  }

  &-title {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--vp-tc);
    }
  }
}

.vp-child-catalogs {
  margin: 0;
}

.vp-child-catalog {
  list-style-type: disc;
}

.vp-sub-catalogs {
  counter-reset: sub-catalog;
}

.vp-sub-catalog {
  counter-increment: sub-catalog;

  .vp-link::before {
    content: counter(catalog-item) "." counter(child-catalog) "."
      counter(sub-catalog) " ";
  }
}

.vp-sub-catalogs-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.vp-sub-catalog-link {
  display: inline-block;

  margin: 4px 8px;
  padding: 4px 8px;
  border-radius: 6px;

  background-color: var(--vp-bgl);

  line-height: 1.5;
  overflow-wrap: break-word;

  transition:
    background-color var(--vp-ct),
    color var(--vp-ct);

  &:hover {
    background-color: var(--vp-tcl);
    color: var(--vp-bg);
    text-decoration: none !important;
  }
}

.vp-empty-catalog {
  font-size: 1.25rem;
  text-align: center;
}
