/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

@use "sass:color";
@use "@sass-palette/hope-config";
@use "helper/helper";
@use "highlight/light";

$link-color: #2a76dd;

@include helper.theme(
  "white",
  (
    background-color: #fff,
    main-color: #222,
    heading-color: #222,
    main-font-size: 42px,
    main-font: (
      "Source Sans Pro",
      helvetica,
      sans-serif,
    ),
    heading-font: (
      "Source Sans Pro",
      helvetica,
      sans-serif,
    ),
    heading-text-shadow: none,
    heading-letter-spacing: normal,
    heading-text-transform: uppercase,
    heading-font-weight: 600,
    link-color: $link-color,
    link-color-hover: color.scale($link-color, $lightness: 15%),
    selection-background-color: color.scale($link-color, $lightness: 25%),
    heading1-size: 2.5em,
    heading2-size: 1.6em,
    heading3-size: 1.3em,
    heading4-size: 1em,
    overlay-element-bg-color: (
      240,
      240,
      240,
    ),
    overlay-element-fg-color: (
      0,
      0,
      0,
    ),
  )
) {
  @include light.highlight;
  @include helper.darkmode-text-color(#fff);
}
