@use "@mr-hope/vuepress-shared/styles/reset";

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-9px);
  }

  20% {
    transform: translateX(8px);
  }

  30% {
    transform: translateX(-7px);
  }

  40% {
    transform: translateX(6px);
  }

  50% {
    transform: translateX(-5px);
  }

  60% {
    transform: translateX(4px);
  }

  70% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(2px);
  }

  90% {
    transform: translateX(-1px);
  }
}

.password-modal {
  height: calc(80vh - var(--navbar-height));
  margin-top: var(--navbar-height);

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: hope-config.$pad) {
    height: calc(80vh - var(--navbar-mobile-height));
    margin-top: var(--navbar-mobile-height);
  }

  &.expand {
    margin-top: 0;
  }

  .hint {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 22px;
    line-height: 2;

    &.tried {
      color: red;
      animation-name: shake;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: both;
    }
  }

  .input {
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: center;

    input {
      flex: 1;
      width: calc(100% - 60px);
      padding-left: 20px;

      border: 2px solid var(--theme-color);
      border-radius: 22px 0 0 22px;

      background: var(--bg-color) !important;
      color: var(--black) !important;

      font-size: 20px;
      letter-spacing: 0.5em;
      line-height: 2;

      outline: none;

      transition: background var(--color-transition),
        color var(--color-transition);
    }

    button {
      @include reset.button;

      width: 70px;
      padding-right: 10px;
      border-width: 0;
      border-radius: 0 22px 22px 0;

      background: var(--theme-color);
      color: var(--bg-color);

      font-size: 20px;
      line-height: 2;

      outline: none;

      transition: color var(--color-transition);

      &:hover {
        background: var(--theme-color-light);
      }
    }
  }
}
