@use "vuepress-shared/styles/reset";

.blog-hero {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 450px;
  margin-bottom: 1rem;

  color: #eee;

  font-family: var(--font-family-fancy);

  @media (max-width: hope-config.$tablet) {
    height: 350px;
    margin: 0 -1.5rem 1rem;
  }

  @media (max-width: hope-config.$mobile) {
    margin: 0 0 1rem;
  }

  .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::after {
      content: " ";

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      display: block;

      background: var(--light-grey);

      opacity: 0.2;
    }
  }

  > :not(.mask) {
    position: relative;
    z-index: 2;
  }

  h1 {
    margin: 0.5rem auto;
    font-size: 2rem;

    @media (max-width: hope-config.$pad) {
      font-size: 1.875rem;
    }

    @media (max-width: hope-config.$tablet) {
      font-size: 2rem;
    }

    @media (max-width: hope-config.$mobile) {
      font-size: 1.875rem;
    }
  }

  .hero-image + h1 {
    margin: 0 auto;
  }

  .description {
    margin: 1.2rem auto 0;
    font-size: 20px;

    @media (max-width: hope-config.$pad) {
      font-size: 18px;
    }

    @media (max-width: hope-config.$tablet) {
      font-size: 20px;
    }

    @media (max-width: hope-config.$mobile) {
      font-size: 18px;
    }
  }

  .slide-down-button {
    @include reset.button;
    position: absolute;
    bottom: 0;
    left: calc(50vw - 30px);

    display: none;

    width: 60px;
    height: 60px;
    padding: 10px;

    .icon {
      width: 30px;
      margin: -15px 0;

      animation-name: bounce-down;
      animation-duration: 1.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      &:first-child {
        color: rgb(255 255 255 / 15%);
      }

      &:nth-child(2) {
        color: rgb(255 255 255 / 50%);
      }
    }
  }

  &.fullscreen {
    height: calc(100vh - var(--navbar-height)) !important;

    .mask {
      background-position-y: top !important;
    }

    .slide-down-button {
      display: block;
    }
  }
}

@keyframes bounce-down {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}
