.page.blog {
  .blog-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;

    @media (min-width: hope-config.$mobile) {
      padding: 0 1rem;
    }

    @media (min-width: hope-config.$pad) {
      padding: 0 2rem;
    }

    @media (min-width: hope-config.$wide) {
      padding: 0;
    }

    .blog-home {
      max-width: 780px;
      overflow: hidden;
      flex: 1;

      @media (min-width: hope-config.$mobile) {
        margin: 0 15px;
      }
    }
  }

  #{hope-config.$contentClass}:empty {
    padding: 0;
  }
}
