.blog-info-wrapper {
  .sidebar & {
    .blogger-info {
      display: none;
    }
  }

  .page & {
    position: sticky;
    box-sizing: border-box;
    top: var(--navbar-height);
    flex: 0 0 300px;
    height: auto;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    transition: all 0.3s;

    @media (max-width: hope-config.$pad) {
      top: var(--navbar-mobile-height);
    }

    @media (max-width: hope-config.$mobile) {
      display: none;
    }

    .blogger-info {
      margin-bottom: 16px;
      padding: 8px 0;
      border-radius: 8px;
      box-shadow: 0 1px 3px 1px var(--card-shadow);

      &:hover {
        box-shadow: 0 2px 6px 2px var(--card-shadow);
      }
    }
  }
}
