.pagination-wrapper {
  margin: 1.25rem 0 0.75rem;
  font-weight: 600;
  font-size: 15px;
  line-height: 2;

  .pagination-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    user-select: none;
  }

  .page-number {
    display: flex;
    align-items: stretch;

    overflow: hidden;

    height: 30px;
    margin: 0 0.5rem;
    border: 1px solid var(--c-border, #eaecef);
    border-radius: 0.25rem;

    div {
      position: relative;

      padding: 0 0.5rem;

      background: var(--c-bg, #fff);
      color: var(--c-brand, #3eaf7c);

      cursor: pointer;

      &::before {
        content: " ";

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        width: 1px;

        background: var(--c-border, #eaecef);
      }

      &:first-child::before {
        background: transparent;
      }

      &:hover,
      &.active {
        background: var(--c-brand, #3eaf7c);
        color: var(--white, #fff);

        // stylelint-disable max-nesting-depth
        &::before {
          background: var(--c-brand, #3eaf7c);
        }
        // stylelint-enable max-nesting-depth
      }

      // stylelint-disable selector-max-compound-selectors
      &.active + div,
      &:hover + div {
        // stylelint-disable max-nesting-depth
        &::before {
          background: var(--c-brand, #3eaf7c);
        }
        // stylelint-enable max-nesting-depth
      }
      // stylelint-enable selector-max-compound-selectors

      &.prev,
      &.next {
        font-size: 13px;
        line-height: 30px;
      }

      &.active,
      &.ellipsis {
        cursor: default;
      }
    }
  }

  .navigate-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;

    input {
      width: 3.5rem;
      margin: 6px 5px;
      border: 1px solid var(--c-border, #eaecef);
      border-radius: 0.25em;

      background: var(--c-bg, #fff);
      color: var(--c-text, #2c3e50);
      outline: none;

      line-height: 2;
      text-align: center;
    }

    .navigate {
      overflow: hidden;

      padding: 0 0.75em;
      border: 1px solid var(--c-border, #eaecef);
      border-radius: 0.25em;

      background: var(--c-bg, #fff);
      color: var(--c-brand, #3eaf7c);
      outline: none;

      font-weight: 600;
      font-size: 15px;
      line-height: 2;

      cursor: pointer;

      &:hover {
        border-color: var(--c-brand, #3eaf7c);
        background: var(--c-brand, #3eaf7c);
        color: var(--white);
      }
    }
  }
}
