@use "sass:color";
@use "sass:list";

.tag-list.tags-wrapper {
  margin: 4vh 0;
  line-height: 3.5rem;


  .tag {
    font-size: 1.4rem;
    padding-left: 1em;  // em, not rem, becuase it's leaving space
                        // for the first character
  }
}

