.timeline-wrapper {
  --dot-color: #fff;
  --dot-bar-color: #eaecef;
  --dot-border-color: #ddd;

  max-width: 740px;
  margin: 0 auto;
  padding: 40px 0;

  @media (max-width: hope-config.$mobile) {
    margin: 0 1.2rem;
  }

  #{hope-config.$darkSelector} & {
    --dot-color: #444;
    --dot-bar-color: #333;
    --dot-border-color: #555;
  }

  #toc-list {
    left: unset;
    right: 0;
    min-width: 0;
  }

  .toc-wrapper {
    position: relative;
    z-index: 10;
  }

  .timeline-content {
    box-sizing: border-box;
    position: relative;
    padding-left: 76px;
    list-style: none;

    &::after {
      content: " ";
      position: absolute;
      top: 14px;
      left: 64px;
      z-index: -1;
      width: 4px;
      height: calc(100% - 38px);
      margin-left: -2px;
      background: var(--dot-bar-color);
    }

    .desc {
      position: relative;
      color: var(--text-color);
      font-size: 18px;

      @media (min-width: hope-config.$desktop) {
        font-size: 20px;
      }

      &:before {
        content: " ";
        position: absolute;
        z-index: 2;
        left: -12px;
        top: 50%;
        width: 8px;
        height: 8px;
        margin-left: -6px;
        margin-top: -6px;
        background: var(--dot-color);
        border: 2px solid var(--dot-border-color);
        border-radius: 50%;
      }
    }

    .year {
      margin-top: calc(3rem - var(--navbar-height));
      margin-bottom: 0.5rem;
      padding-top: var(--navbar-height);
      color: var(--text-color);
      font-family: var(--font-family-fancy);
      font-size: 26px;
      font-weight: 700;

      span {
        position: relative;

        &:before {
          content: " ";
          position: absolute;
          z-index: 2;
          left: -12px;
          top: 50%;
          width: 8px;
          height: 8px;
          margin-left: -6px;
          margin-top: -6px;
          background: var(--dot-color);
          border: 2px solid var(--dot-border-color);
          border-radius: 50%;
        }
      }
    }

    .year-wrapper {
      padding-left: 0 !important;

      li {
        position: relative;
        display: flex;
        // make sure dot is aligned
        padding: 30px 0 10px;
        border-bottom: 1px dashed var(--border-color);
        list-style: none;
        // make sure it won't be covered by year heading
        z-index: 3;

        .title {
          display: block;
          color: inherit;
        }

        &:hover {
          cursor: pointer;

          .date {
            font-size: 16px;
            transition: font-size 0.3s ease-out;

            &::before {
              background-color: var(--bg-color-active);
              border-color: var(--theme-color);
            }
          }

          .title {
            color: var(--theme-color);
            font-size: 18px;
            transition: font-size 0.3s ease-out;
          }
        }

        .date {
          position: absolute;
          right: calc(100% + 24px);
          text-align: right;
          width: 40px;
          font-size: 14px;
          line-height: 30px;

          &::before {
            content: " ";
            position: absolute;
            z-index: 2;
            right: -16px;
            top: 50%;
            width: 6px;
            height: 6px;
            margin-left: -6px;
            margin-top: -6px;
            background: var(--dot-color);
            border: 2px solid var(--dot-border-color);
            border-radius: 50%;
          }
        }

        .title {
          position: relative;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }
}
