@use "vuepress-shared/styles/wrapper";

.waline-wrapper {
  --waline-theme-color: var(--vp-tc);
  --waline-text-color: var(--vp-c);
  --waline-active-color: var(--vp-tcl);
  --waline-border: 1px solid var(--vp-brc);
  --waline-border-color: var(--vp-brc);
  --waline-bgcolor: var(--vp-bg);
  --waline-bgcolor-light: var(--vp-bgl);

  @include wrapper.wrapper;

  @media print {
    display: none !important;
  }
}
