@use "vuepress-shared/styles/wrapper";

.waline-wrapper {
  --waline-theme-color: var(--c-brand, #3eaf7c);
  --waline-text-color: var(--c-text, #2c3e50);
  --waline-active-color: var(--c-brand-light, #4abf8a);
  --waline-border: 1px solid var(--c-border, #eaecef);
  --waline-border-color: var(--c-border, #eaecef);
  --waline-bgcolor: var(--c-bg, #fff);
  --waline-bgcolor-light: var(--c-bg-light, #f3f4f5);

  @include wrapper.wrapper;

  @media print {
    display: none !important;
  }
}
