@use "vuepress-theme-hope/presets/shinning-feature-panel";

:root {
  --bg-2: url("https://theme-hope-assets.vuejs.press/bg/2-light.svg");
  --bg-9: url("https://theme-hope-assets.vuejs.press/bg/9-light.svg") no-repeat
    center/cover;
  --bg-10: url("https://theme-hope-assets.vuejs.press/bg/10-light.svg")
    no-repeat center/cover;
  --bg-10-inverse: url("https://theme-hope-assets.vuejs.press/bg/10-dark.svg")
    no-repeat center/cover;
}

[data-theme="dark"] {
  --bg-2: url("https://theme-hope-assets.vuejs.press/bg/2-dark.svg");
  --bg-9: url("https://theme-hope-assets.vuejs.press/bg/9-dark.svg") no-repeat
    center/cover;
  --bg-10: url("https://theme-hope-assets.vuejs.press/bg/10-dark.svg") no-repeat
    center/cover;
  --bg-10-inverse: url("https://theme-hope-assets.vuejs.press/bg/10-light.svg")
    no-repeat center/cover;
}

.catalog-display-container {
  overflow: visible auto;

  max-height: 75vh;
  margin: 0.5rem;
  border-radius: 0.5rem;

  overflow-wrap: break-word;
}

.code-block-title-bar {
  &[data-title=".vuepress/config.ts"],
  &[data-title=".vuepress/client.ts"],
  &[data-title=".vuepress/theme.ts"],
  &[data-title$=".scss"],
  &[data-title$=".md"],
  &[data-title$=".vue"] {
    display: flex;
    align-items: center;

    &::before {
      content: " ";

      display: inline-block;

      width: 1.5em;
      height: 1.5em;
      margin-inline-end: 0.5em;

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.code-block-title-bar {
  &[data-title=".vuepress/config.ts"],
  &[data-title=".vuepress/client.ts"] {
    &::before {
      background-image: url("https://ecosystem.vuejs.press/images/hero.png");
    }
  }
}

.code-block-title-bar[data-title=".vuepress/theme.ts"]::before {
  background-image: url("https://theme-hope-assets.vuejs.press/logo.svg");
}

.code-block-title-bar[data-title$=".scss"]::before {
  background-image: url("https://sass-lang.com/assets/img/logos/logo.svg");
}

.code-block-title-bar[data-title$=".md"]::before {
  background-image: url("https://theme-hope.vuejs.press/assets/image/markdown.svg");
}

.code-block-title-bar[data-title$=".vue"]::before {
  background-image: url("https://theme-hope.vuejs.press/assets/image/vue.svg");
}
