.theme-hope-content a {
  &[href*="github.com"],
  &[href*=".vuejs.org"],
  &[href*="/v2/blog/"],
  &[href*="/v2/comment/"],
  &[href*="/v2/components/"],
  &[href*="/v2/copy-code/"],
  &[href*="/v2/copyright/"],
  &[href*="/v2/feed/"],
  &[href*="/v2/lightgallery/"],
  &[href*="/v2/md-enhance/"],
  &[href*="/v2/photo-swipe/"],
  &[href*="/v2/pwa/"],
  &[href*="/v2/reading-time/"],
  &[href*="/v2/redirect/"],
  &[href*="/v2/sass-palette/"],
  &[href*="/v2/seo/"],
  &[href*="/v2/sitemap/"],
  &[href*="/guide/"],
  &[href*="/config/"],
  &[href*="/cookbook/"],
  &[href*="/migration/"] {
    &::before {
      position: relative;
      bottom: 0.125em;

      vertical-align: middle;

      margin-right: 0.25em;

      color: var(--theme-color);

      font-family: iconfont, sans-serif;
    }
  }

  &[href*="github.com"]::before {
    content: "\e653";
  }

  &[href*=".vuejs.org"]::before {
    content: "\f25f";
  }

  &[href*="sfc.vuejs.org"]::before {
    display: none;
  }

  &[href*="/v2/blog/"]::before {
    content: "\e655";
  }

  &[href*="/v2/comment/"]::before {
    content: "\e666";
  }

  &[href*="/v2/components/"]::before {
    content: "\eb48";
  }

  &[href*="/v2/copy-code/"]::before {
    content: "\e7a0";
  }

  &[href*="/v2/copyright/"]::before {
    content: "\e6b3";
  }

  &[href*="/v2/feed/"]::before {
    content: "\e9ca";
  }

  &[href*="/v2/md-enhance/"]::before {
    content: "\e7ea";
  }

  &[href*="/v2/lightgallery/"]::before,
  &[href*="/v2/photo-swipe/"]::before {
    content: "\e72c";
  }

  &[href*="/v2/pwa/"]::before {
    content: "\e60f";
  }

  &[href*="/v2/reading-time/"]::before {
    content: "\e861";
  }

  &[href*="/v2/redirect/"]::before {
    content: "\e6dc";
  }

  &[href*="/v2/sass-palette/"]::before {
    content: "\e7cc";
  }

  &[href*="/v2/seo/"]::before {
    content: "\e9fe";
  }

  &[href*="/v2/sitemap/"]::before {
    content: "\e664";
  }

  &[href*="/config/"]::before {
    content: "\e656";
  }

  &[href*="/guide/"]::before {
    content: "\e718";
  }

  &[href*="/cookbook/"]::before {
    content: "\e62f";
  }

  &[href*="/migration/"]::before {
    content: "\e609";
  }

  &[href*="/guide/interface/"]::before {
    content: "\e7cc";
  }

  &[href*="/guide/markdown/"]::before {
    content: "\e7ea";
  }

  &[href*="/guide/layout/"]::before {
    content: "\e6fd";
  }

  &[href*="/guide/feature/"]::before {
    content: "\e6ba";
  }

  &[href*="/guide/blog/"] ::before {
    content: "\e655";
  }

  &[href*="/guide/advanced/"]::before {
    content: "\e77c";
  }
}
