.vp-sidebar-group {
  &:not(.collapsible) {
    .vp-sidebar-header:not(.clickable) {
      color: inherit;
      cursor: auto;
    }
  }

  .vp-sidebar-group {
    padding-inline-start: 0.75rem;

    .vp-sidebar-header {
      font-size: 1em;
    }
  }

  .vp-sidebar-link {
    padding-inline-start: 1.25rem;
  }
}
