.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 125;

  overflow-y: auto;
  box-sizing: border-box;

  width: var(--sidebar-width);
  margin: 0;

  background: var(--sidebar-bg-color);

  font-size: 16px;

  transition: background-color var(--color-transition),
    box-shadow var(--color-transition), transform var(--transform-transition);
  transform: translateX(-100%);

  backdrop-filter: saturate(150%) blur(12px);
  scrollbar-color: var(--theme-color) var(--border-color);

  scrollbar-width: thin;

  @media (max-width: hope-config.$pad) {
    font-size: 15px;
  }

  a {
    display: inline-block;
    color: var(--text-color);
    font-weight: normal;
  }

  .icon {
    margin-right: 0.25em;
  }

  &.hide-icon .icon {
    display: none !important;
  }

  .blogger-info.mobile {
    display: none;

    @media (max-width: hope-config.$tablet) {
      display: block;
    }

    + hr {
      display: none;

      @media (max-width: hope-config.$tablet) {
        display: block;
        margin-top: 16px;
      }
    }
  }
}

.sidebar-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  width: 100vw;
  height: 100vh;

  background-color: rgb(0 0 0 / 15%);

  &.fade-enter-active,
  &.fade-leave-active {
    transition: opacity 0.25s;
  }

  &.fade-enter-from,
  &.fade-leave-to {
    opacity: 0;
  }
}
