@use "sass:color";
@use "vuepress-shared/styles/arrow";
@use "@sass-palette/helper";

.sidebar-heading {
  display: flex;
  align-items: center;

  // fix strange outline
  overflow: hidden;
  box-sizing: border-box;

  width: 100%;
  margin: 0;
  padding: 0.35rem 1rem 0.35rem 1.25rem;
  border-width: 0;
  border-left: 0.25rem solid transparent;

  background: transparent;
  color: var(--text-color);

  font-size: 1.1em;

  user-select: none;

  transition: color 0.15s ease;
  transform: rotate(0);

  &.open {
    color: inherit;
  }

  &.clickable {
    &:hover {
      background: var(--bg-color-secondary);
    }

    &.exact {
      border-left-color: var(--theme-color);
      color: var(--theme-color);

      a {
        color: inherit;
      }
    }
  }

  .icon {
    margin-right: 0.25em;
  }

  .title {
    flex: 1;
  }

  .arrow {
    @include arrow.arrow;

    font-size: 1.5em;
  }
}

button.sidebar-heading {
  outline: none;

  font-weight: inherit;
  line-height: inherit;
  text-align: left;

  cursor: pointer;
}

.sidebar-link {
  display: inline-block;

  box-sizing: border-box;

  width: 100%;
  padding: 0.35rem 1rem 0.35rem 1.25rem;
  border-left: 0.2rem solid transparent;

  color: var(--text-color);

  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;

  .icon {
    margin-right: 0.25em;
  }

  &:hover {
    background: var(--bg-color-secondary);
  }

  &.active {
    border-left-color: var(--theme-color);
    background: var(--theme-color-mask);
    color: var(--theme-color);
    font-weight: 500;

    .icon {
      color: var(--theme-color);
    }
  }

  .sidebar-sub-headers & {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-left: none;

    &.active {
      background: transparent;
      font-weight: 500;
    }
  }
}
