.sidebar-group {
  .sidebar-group {
    padding-inline-start: 0.5em;
  }

  &:not(.collapsible) {
    .sidebar-heading:not(.clickable) {
      color: inherit;
      cursor: auto;
    }
  }

  .sidebar-link {
    padding-inline-start: 1.5rem;
  }
}
