.vp-sidebar {
  position: fixed;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;

  // this prevents footer issue on tablet
  z-index: 1;

  overflow-y: auto;

  width: var(--sidebar-width);
  margin: 0;
  padding-inline-start: calc(var(--sidebar-space) - var(--sidebar-width));

  background: var(--sidebar-bg-color);
  box-shadow: 2px 0 8px var(--card-shadow);

  font-size: 0.94rem;

  backdrop-filter: saturate(150%) blur(12px);

  transition:
    padding var(--transform-transition),
    transform var(--transform-transition);

  scrollbar-color: var(--theme-color) var(--border-color);
  scrollbar-width: thin;

  @media (max-width: hope-config.$pad) {
    font-size: 0.86em;
  }

  // on mobile
  @media (max-width: hope-config.$tablet) {
    z-index: 125;

    // a collapsed sidebar should not have box shadow
    box-shadow: none;

    // sidebar should be collapsed by default
    transform: translateX(-100%);

    #{hope-config.$rtl-selector} & {
      transform: translateX(100%);
    }
  }

  @media (min-width: hope-config.$pc) {
    // WARNING: this value should be greater than footer height, and users should manually override it
    padding-bottom: 3rem;
    box-shadow: none;
    font-size: 1rem;
  }

  @media print {
    display: none;
  }

  a {
    display: inline-block;
    color: var(--text-color);
    font-weight: normal;
  }

  .icon {
    margin-inline-end: 0.25em;
    font-size: 1em;
  }

  img.icon {
    vertical-align: -0.125em;
    height: 1em;
  }
}

.vp-sidebar-mask {
  position: fixed;
  inset: 0;
  z-index: 100;
  background: rgb(0 0 0 / 15%);

  &.fade-enter-active,
  &.fade-leave-active {
    transition: opacity 0.25s;
  }

  &.fade-enter-from,
  &.fade-leave-to {
    opacity: 0;
  }
}
