@use "sass:color";
@use "vuepress-shared/styles/arrow";
@use "@sass-palette/helper";

.vp-sidebar-links {
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;

    &.vp-sidebar-sub-headers {
      padding-inline-start: 0.75rem;
      font-size: 0.95em;

      .has-toc & {
        @media (min-width: hope-config.$pc) {
          display: none;
        }
      }
    }
  }

  li {
    list-style-type: none;
  }

  .vp-sidebar > & {
    padding: 1.5rem 0;

    @media (max-width: hope-config.$tablet) {
      padding: 1rem 0;
    }

    > li {
      // stylelint-disable selector-max-compound-selectors
      > .vp-sidebar-link {
        font-size: 1.1em;
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
      // stylelint-enable selector-max-compound-selectors
    }
  }
}
