@mixin arrow() {
  display: inline-block;
  vertical-align: middle;

  width: 1em;
  height: 1em;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(0,0,0,0.5)' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;

  line-height: normal;

  transition: all 0.3s;

  [data-theme="dark"] & {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(255,255,255,0.5)' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E%3C/svg%3E");
  }

  &.down {
    transform: rotate(180deg);

    [dir="rtl"] & {
      transform: rotate(-180deg);
    }
  }

  &.end {
    transform: rotate(90deg);

    [dir="rtl"] & {
      transform: rotate(-90deg);
    }
  }

  &.start {
    transform: rotate(-90deg);

    [dir="rtl"] & {
      transform: rotate(90deg);
    }
  }
}
