html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--text-color);
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: none;
}

p a code {
  font-weight: 400;
  color: var(--accent-color);
}

kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}

blockquote {
  font-size: 1rem;
  color: var(--light-grey);
  border-left: 0.2rem solid #dfe2e5;
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;

  & > p {
    margin: 0;
  }
}

ul,
ol {
  padding-left: 1.2em;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--border-color);
  transition: border-bottom-color 0.3s ease;
}

h3 {
  font-size: 1.35rem;
}

a.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;
  transition: opacity 0.2s;

  &:hover {
    text-decoration: none;
  }
}

code,
kbd,
.line-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
ul,
ol {
  line-height: 1.7;
}

hr {
  border: 0;
  border-top: 1px solid var(--border-color);
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

tr {
  border-top: 1px solid #dfe2e5;

  &:nth-child(2n) {
    background: #f6f8fa;

    & {
      background: #252322;
    }
  }
}

th,
td {
  border: 1px solid var(--grey14);
  padding: 0.6em 1em;

  & {
    border: 1px solid var(--grey12);
  }
}
