html,
body {
  margin: 0;
  padding: 0;
  background: var(#fff);
}

body {
  min-height: 100vh;

  color: #2c3e50;

  font-size: 16px;

  font-display: optional;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #3eaf7c;
  font-weight: 500;
  text-decoration: none;
  overflow-wrap: break-word;
}

p a code {
  color: #3eaf7c;
  font-weight: 400;
}

kbd {
  padding: 0 0.15em;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;

  background: #eee;
}

code {
  margin: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;

  background: rgba(127 127 127 / 12%);

  font-size: 0.85em;
  overflow-wrap: break-word;
}

blockquote {
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
  border-left: 0.2rem solid #ddd;

  color: #666;

  font-size: 1rem;

  & > p {
    margin: 0;
  }
}

ul,
ol {
  padding-left: 1.2em;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;

  &:hover .header-anchor {
    opacity: 1;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eaecef;
  font-size: 1.65rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 1.05rem;
}

h6 {
  font-size: 1rem;
}

a.header-anchor {
  float: left;

  margin-top: 0.125em;
  margin-left: -0.87em;
  padding-right: 0.23em;

  font-size: 0.85em;

  opacity: 0;

  transition: opacity 0.2s;

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    opacity: 1;
  }
}

p,
ul,
ol {
  line-height: 1.7;
}

hr {
  border: 0;
  border-top: 1px solid #eaecef;
}

table {
  display: block;
  overflow-x: auto;
  margin: 1rem 0;
  border-collapse: collapse;
}

tr {
  border-top: 1px solid #dfe2e5;

  &:nth-child(2n) {
    background: #f6f8fa;
  }
}

th,
td {
  padding: 0.6em 1em;
  border: 1px solid #dfe2e5;
}
