@use "@mr-hope/vuepress-palette";

@mixin wrapper(
  $contentWidth: vuepress-palette.$contentWidth,
  $pad: vuepress-palette.$pad,
  $mobileS: vuepress-palette.$mobileS
) {
  max-width: $contentWidth;
  margin: 0 auto;
  padding: 2rem 2.5rem;

  @media (max-width: $pad) {
    padding: 1.5rem;
  }

  @media (max-width: $mobileS) {
    padding: 1rem 1.5rem;
  }
}
