@use "@mr-hope/vuepress-palette";

@mixin wrapper(
  $contentWidth: vuepress-palette.$contentWidth,
  $screenL: vuepress-palette.$screenL,
  $screenS: vuepress-palette.$screenS
) {
  max-width: $contentWidth;
  margin: 0 auto;
  padding: 2rem 2.5rem;

  @media (max-width: $screenL) {
    padding: 1.5rem;
  }

  @media (max-width: $screenS) {
    padding: 1rem 1.5rem;
  }
}
