/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

@use "sass:color";
@use "@sass-palette/hope-config";
@import "template/mixins";
@import "template/settings";
@import "template/theme";

// Override theme settings (see ../template/settings.scss)
$background-color: #fff;
$main-color: #222;
$heading-color: #222;
$main-font-size: 42px;
$main-font: "Source Sans Pro", helvetica, sans-serif;
$heading-font: "Source Sans Pro", helvetica, sans-serif;
$heading-text-shadow: none;
$heading-letter-spacing: normal;
$heading-text-transform: uppercase;
$heading-font-weight: 600;
$link-color: #2a76dd;
$link-color-hover: color.scale($link-color, $lightness: 15%);
$selection-background-color: color.scale($link-color, $lightness: 25%);
$heading1-size: 2.5em;
$heading2-size: 1.6em;
$heading3-size: 1.3em;
$heading4-size: 1em;

.reveal[theme="white"] {
  @include dark-bg-text-color(#fff);
}

@include theme("[data-theme='white']");

#{hope-config.$light-selector} {
  @include theme("[data-theme='auto']");
}
