@use "vuepress-shared/styles/reset";

@keyframes pwa-opened {
  from {
    opacity: 0.4;
    transform: scale(0.8, 0.8);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes pwa-mobile {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@keyframes pwa-fadein {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

.modal-button {
  @include reset.button;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 50;

  padding: 0 16px;
  border-radius: 1.2rem;

  background: var(--c-brand, #3eaf7c);
  color: var(--white);
  outline: none;

  font-weight: 600;
  line-height: 2.2rem;

  // stylelint-disable media-feature-name-no-unknown
  @media (display-mode: standalone) {
    display: none;
  }
  // stylelint-enable media-feature-name-no-unknown

  &:hover,
  &:active {
    background: var(--c-brand-light, #4abf8a);
  }
}

#install-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: auto;

  width: 100vw;
  height: 100vh;

  button {
    @include reset.button;
  }

  .background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;

    animation: 0.25s pwa-fadein;

    backdrop-filter: blur(10px);
  }

  .install-modal {
    position: absolute;
    z-index: 999;

    display: flex;
    flex-direction: column;

    max-width: 56em;
    border-radius: 10px;

    background: var(--c-bg, #fff);

    animation: 0.15s pwa-opened;

    @media (max-width: hope-config.$laptop) {
      width: 92%;
      animation: 0.25s pwa-mobile;
    }

    @media (max-width: hope-config.$mobile) {
      overflow-y: auto;
      max-height: 80%;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .header {
    margin: 40px 40px 32px;

    @media (max-width: hope-config.$pad) {
      margin-bottom: 24px;
    }

    @media (max-width: hope-config.$tablet) {
      margin: 20px;
    }

    .close-button {
      @include reset.button;
      float: right;
      color: var(--grey3);

      &:hover,
      &:focus {
        color: var(--dark-grey);
      }
    }

    .logo {
      display: flex;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 7px;
      color: var(--dark-gery);
      font-size: 34px;

      @media (max-width: hope-config.$pad) {
        margin-bottom: 0;
      }

      @media (max-width: hope-config.$mobile) {
        font-size: 26px;
      }
    }

    img {
      width: 122px;
      height: 122px;
      margin-right: 24px;
      padding: 12px;
      border-radius: 24px;

      background: #eee;

      @media (max-width: hope-config.$pad) {
        width: 60px;
        height: 60px;
      }

      @media (max-width: hope-config.$tablet) {
        margin-right: 12px;
        padding: 8px;
      }

      @media (max-width: hope-config.$mobile) {
        width: 40px;
        height: 40px;
        padding: 6px;
      }

      #{hope-config.$dark-selector} & {
        background: #444;
      }
    }

    .desc {
      overflow: hidden;

      max-width: 40em;

      color: var(--grey);

      font-size: 14px;
      text-overflow: ellipsis;
      white-space: pre-wrap;

      @media (max-width: hope-config.$pad) {
        display: none;
      }
    }
  }

  .content {
    flex: 1;
    margin: 0 40px;
    color: var(--grey3);

    @media (max-width: hope-config.$tablet) {
      margin: 0 20px;
    }

    h3 {
      margin-bottom: 12px;
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }
  }

  .highlight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;

    @media (max-width: hope-config.$tablet) {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0;
    }

    h3 {
      margin-top: 0;
      font-weight: 600;
      font-size: 22px;
      line-height: 225%;

      @media (max-width: hope-config.$mobile) {
        margin-bottom: 0;
        font-size: 18px;
      }
    }
  }

  .feature-wrapper {
    overflow: hidden;
    padding-right: 2em;

    ul {
      margin-block-start: 12px;
      padding-inline-start: 22px;

      @media (max-width: hope-config.$mobile) {
        margin-top: 0;
      }
    }

    li {
      color: var(--dark-grey);
      font-weight: 600;
      font-size: 16px;
      line-height: 29px;
    }
  }

  .screenshot-wrapper {
    display: flex;
    max-width: 30em;
    max-height: 220px;

    @media (max-width: hope-config.$tablet) {
      width: 100%;
    }

    button {
      @include reset.button;
      width: 4em;
      transition: background 0.2s;

      &:hover,
      &:focus {
        background: #bbb;
      }

      // stylelint-disable selector-max-compound-selectors
      svg {
        width: 28px;
        fill: #6b6969;
      }
      // stylelint-enable selector-max-compound-selectors
    }
  }

  .screenshot {
    display: flex;
    flex-flow: column wrap;

    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    width: 22em;
    max-height: 220px;

    scroll-snap-type: x mandatory;

    @media (max-width: hope-config.$laptop) {
      justify-content: center;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 14em;

      background: #efefef;

      scroll-snap-align: start;
    }

    img {
      object-fit: contain;
      height: 100%;

      @media (max-width: hope-config.$tablet) {
        height: 180px;
      }
    }
  }

  .description {
    margin-bottom: 3em;
  }

  .button-wrapper {
    width: 100%;
    padding: 1rem 0;
    text-align: right;

    @media (max-width: hope-config.$tablet) {
      text-align: center;
    }
  }

  .install-button,
  .cancel-button {
    @include reset.button;
    display: inline-block;
    flex: 0 0 auto;

    min-width: 80px;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border: solid 2px var(--c-brand, #3eaf7c);
    border-radius: 20px;

    font-weight: 600;
    font-size: 14px;
  }

  .install-button {
    background: var(--c-brand, #3eaf7c);
    color: var(--white);

    @media (max-width: hope-config.$mobile) {
      span {
        display: none;
      }
    }

    &:hover,
    &:focus {
      background: var(--c-brand-light, #4abf8a);
    }
  }

  .cancel-button {
    background: transparent;
    color: var(--c-brand, #3eaf7c);

    &:hover,
    &:focus {
      background: var(--c-brand-light, #4abf8a);
      color: var(--white);
    }
  }

  .ios-text {
    position: fixed;
    bottom: 0;

    box-sizing: border-box;

    width: 92%;
    margin: 2em auto;
    padding: 0.5em 2em;
    border-radius: 8px;

    background: var(--white);
    box-shadow: 0 2px 12px 0 var(--card-shadow);

    font-weight: bold;
    font-size: 14px;
    text-align: center;

    &::after {
      content: " ";

      position: absolute;
      bottom: -1em;
      left: calc(50% - 0.8em);

      width: 0;
      height: 0;
      border-top: 1em solid var(--white);
      border-right: 0.8em solid transparent;
      border-left: 0.8em solid transparent;
    }

    p {
      margin: 0 0 0.5em;
    }

    .success {
      @include reset.button;
      margin-bottom: 0.5em;
      padding: 0.5em 1em;
      border: none;
      border-radius: 1em;

      background: #07c160;
      color: var(--white);
    }
  }
}
