.sidebar-group {
  .sidebar-group {
    padding-left: 0.5em;

    .sidebar-heading {
      font-size: 1em;
    }
  }

  &:not(.collapsable) {
    .sidebar-heading:not(.clickable) {
      color: inherit;
      cursor: auto;
    }
  }

  .sidebar-link {
    padding-left: 1.75rem;
  }
}
