@use "sass:color";
@use "@mr-hope/vuepress-shared/styles/arrow";
@use "@sass-palette/helper";

.sidebar-link {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.35rem 1rem 0.35rem 1.25rem;
  border-left: 0.2rem solid transparent;
  color: var(--text-color);
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;

  .icon {
    margin-right: 0.25em;
  }

  &:hover {
    background-color: var(--bg-color-active);
  }

  &.active {
    border-left-color: var(--theme-color);
    background-color: var(--theme-color-mask);
    color: var(--theme-color);
    font-weight: 500;

    .icon {
      color: var(--theme-color);
    }
  }

  .sidebar-sub-headers & {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-left: none;

    &.active {
      background-color: transparent;
      font-weight: 500;
    }
  }
}

.sidebar-heading {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0.35rem 1rem 0.35rem 1.25rem;
  border-width: 0;
  border-left: 0.25rem solid transparent;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.1em;

  display: flex;
  align-items: center;

  transition: color 0.15s ease;
  user-select: none;

  // fix strange outline
  overflow: hidden;
  -webkit-transform: rotate(0);
  transform: rotate(0);

  &.open {
    color: inherit;
  }

  &.clickable {
    &:hover {
      background-color: var(--bg-color-active);
    }

    &.exact {
      border-left-color: var(--theme-color);
      color: var(--theme-color);

      a {
        color: inherit;
      }
    }
  }

  .icon {
    margin-right: 0.25em;
  }

  .title {
    flex: 1;
  }

  .arrow {
    @include arrow.arrow;

    font-size: 1.5em;
  }
}

button.sidebar-heading {
  font-weight: inherit;
  text-align: left;
  line-height: inherit;
  outline: none;

  cursor: pointer;
}
