@use "sass:color";
@use "@mr-hope/vuepress-shared/styles/arrow";
@use "@sass-palette/helper";

.sidebar-links {
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &.sidebar-sub-headers {
      padding-left: 0.75rem;
      font-size: 0.95em;

      .has-toc & {
        @media (min-width: hope-config.$wide) {
          display: none;
        }
      }
    }
  }

  .sidebar > & {
    padding: 1.5rem 0;

    @media (max-width: hope-config.$mobile) {
      padding: 1rem 0;
    }

    & > li {
      & > .sidebar-link {
        font-size: 1.1em;
        line-height: 1.7;
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }
}
