@use "sass:color";

// Base settings for all themes that can optionally be overridden by the super-theme

// Background of the presentation
$background-color: #2b2b2b;
$viewport-color: null;

// Primary/body text
$main-color: #eee;
$main-font: "Lato", sans-serif;
$main-font-size: 40px;

// Vertical spacing between blocks of text
$block-margin: 20px;

// Headings
$heading-margin: 0 0 $block-margin 0;
$heading-font: "League Gothic", impact, sans-serif;
$heading-color: #eee;
$heading-line-height: 1.2;
$heading-letter-spacing: normal;
$heading-text-transform: uppercase;
$heading-text-shadow: none;
$heading-font-weight: normal;
$heading1-text-shadow: $heading-text-shadow;
$heading1-size: 3.77em;
$heading2-size: 2.11em;
$heading3-size: 1.55em;
$heading4-size: 1em;
$code-font: monospace;

// Links and actions
$link-color: #13daec;
$link-color-hover: color.scale($link-color, $lightness: 20%);

// Text selection
$selection-background-color: #ff5e99;
$selection-color: #fff;

// Colors used for UI elements that are overlaid on top of
// the presentation
$overlay-element-bg-color: 240, 240, 240;
$overlay-element-fg-color: 0, 0, 0;
