@use "vuepress-shared/styles/svg";

$car-icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#888" d="M323.319 615.348H685.51c-8.533-13.274-12.326-27.496-12.326-43.615 0-22.755 9.482-43.614 24.652-58.785s36.03-24.652 58.785-24.652c22.756 0 43.615 9.482 58.785 24.652s24.652 36.03 24.652 58.785c0 13.274-2.844 24.652-8.533 36.03 26.548-5.689 53.096-15.17 70.163-33.185l-12.326-83.437c-56.889-21.808-143.17-30.341-207.644-38.874-42.667-28.445-95.763-52.148-157.393-72.06-72.06-5.688-122.311-8.533-189.63 0-31.289 13.274-52.148 30.341-72.059 52.149-38.874 4.74-87.23 20.859-116.622 34.133L128 566.993c13.274 19.91 30.34 31.288 48.356 40.77h2.844q-8.533-17.067-8.533-36.978c0-22.755 9.481-43.615 24.652-58.785 15.17-15.17 36.03-24.652 58.785-24.652s43.615 9.482 58.785 24.652 24.652 36.03 24.652 58.785c-1.897 17.067-6.637 31.29-14.222 44.563m559.407-109.037c-10.43.948-20.86 1.896-32.237 3.793-13.274-11.378-27.496-18.015-42.667-20.86 0-2.844.948-5.688.948-8.533 31.29 3.793 56.89 10.43 73.956 25.6m-738.607 25.6c3.792-19.911 7.585-38.874 11.377-58.785 9.482-2.845 18.963-6.637 28.445-9.482 1.896 4.741 2.844 9.482 4.74 14.223-18.014 11.377-27.496 31.289-33.185 54.044zm260.74-78.696 244.622 6.637c1.897 23.704 0 47.407-4.74 69.215-3.793 21.807-11.378 42.666-19.911 62.577H419.08c-17.066-49.303-21.807-81.54-21.807-103.348h42.667v-14.222h-41.719c1.897-9.481 4.741-16.118 6.637-20.86m250.311 6.637c1.897 24.652 0 48.355-4.74 71.111s-11.378 44.563-20.86 65.422v.948H415.29l-.948-1.896c-31.29-90.074-22.756-127.052-15.17-143.17l-70.164-1.897c8.534-18.963 18.963-36.977 33.186-54.044 44.563-5.689 97.659-4.74 154.548-.948 18.963 4.74 142.222 62.578 138.43 64.474m-402.963 37.926c19.912 0 38.874 8.533 52.149 21.807s21.807 31.29 21.807 52.148c0 19.911-8.533 38.874-21.807 52.148-13.275 13.275-31.29 21.808-52.149 21.808-19.91 0-38.874-8.533-52.148-21.808-13.274-13.274-21.807-31.288-21.807-52.148 0-19.91 8.533-38.874 21.807-52.148 14.222-13.274 32.237-21.807 52.148-21.807m503.467 29.392c2.845 0 5.689 0 8.533.949l.949-8.534c11.377 1.896 21.807 7.585 29.392 15.17 4.74 4.741 7.585 9.482 10.43 15.17l-8.534 2.845c1.897 4.741 3.793 10.43 3.793 15.17l8.533-1.896v6.637c0 13.275-4.74 25.6-13.274 36.03l-6.637-6.637c-3.792 3.793-7.585 7.585-12.326 10.43l5.69 7.585c-7.586 4.74-17.067 7.585-27.497 7.585-7.585 0-14.222-1.896-20.86-4.74l4.741-8.534c-4.74-1.896-9.481-4.74-13.274-8.533l-5.689 7.585c-.948-.948-1.896-1.896-2.844-1.896-9.481-9.482-16.119-23.704-16.119-37.926 0-2.845 0-4.741.949-7.586l8.533 1.897c.948-5.69 1.896-10.43 4.74-15.17l-8.533-2.845c2.845-5.689 5.69-10.43 10.43-14.222 7.585-7.585 18.015-13.274 29.393-15.17l.948 8.533c2.844-1.897 5.689-1.897 8.533-1.897m0-29.392c19.911 0 38.874 8.533 52.148 21.807s21.808 31.29 21.808 52.148c0 19.911-8.534 38.874-21.808 52.148s-31.289 21.808-52.148 21.808c-19.911 0-38.874-8.533-52.148-21.808-13.274-13.274-21.807-31.288-21.807-52.148 0-19.91 8.533-38.874 21.807-52.148s32.237-21.807 52.148-21.807m0 16.118c16.119 0 31.289 6.637 41.719 17.067s17.066 25.6 17.066 41.718-6.637 31.29-17.066 41.719c-10.43 10.43-25.6 17.067-41.719 17.067-16.118 0-31.289-6.637-41.718-17.067s-17.067-25.6-17.067-41.719c0-16.118 6.637-31.288 17.067-41.718s25.6-17.067 41.718-17.067M252.207 527.17c2.845 0 5.69 0 8.534.949l.948-8.534c11.378 1.896 21.807 7.585 29.392 15.17 4.741 4.741 7.586 9.482 10.43 15.17l-8.533 2.845c1.896 4.741 3.792 10.43 3.792 15.17l8.534-1.896v6.637c0 13.275-4.741 25.6-13.274 36.03l-6.637-6.637c-3.793 3.793-7.586 7.585-12.326 10.43l5.689 7.585c-7.586 4.74-17.067 7.585-27.497 7.585-7.585 0-14.222-1.896-20.859-4.74l4.74-8.534c-4.74-1.896-9.48-4.74-13.273-8.533l-5.69 7.585c-.947-.948-1.896-1.896-2.844-1.896-9.481-9.482-16.118-23.704-16.118-37.926v-7.586l8.533 1.897c.948-5.69 1.896-10.43 4.74-15.17l-8.532-2.845c2.844-5.689 5.688-10.43 10.43-14.222 7.584-7.585 18.014-13.274 29.392-15.17l.948 8.533c4.74-1.897 7.585-1.897 9.481-1.897m.949-13.274c16.118 0 31.288 6.637 41.718 17.067s17.067 25.6 17.067 41.718-6.637 31.29-17.067 41.719-25.6 17.067-41.718 17.067-31.29-6.637-41.719-17.067-17.067-25.6-17.067-41.719c0-16.118 6.637-31.288 17.067-41.718s24.652-17.067 41.719-17.067"/></svg>';

hr {
  position: relative;

  overflow: visible;

  box-sizing: content-box;
  height: 1rem;
  margin: 0.8rem auto;
  border: none;

  background: transparent;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    height: 0;
    border: 1px dashed var(--vp-c-text);

    opacity: 0.5;
  }

  &::after {
    @include svg.background-svg($car-icon);

    content: "";

    position: absolute;
    top: -0.4em;
    left: 0;
    z-index: 2;

    width: 1.6em;
    height: 1.6em;

    color: var(--vp-c-text);

    line-height: 1.6em;

    opacity: 0.8;

    transition: 1s;
  }

  &:hover {
    &::after {
      left: calc(100% - 1.6em);
    }
  }
}
