.vp-navbar {
  transition:
    background var(--vp-ct),
    box-shadow var(--vp-ct);
}

.transparent-navbar {
  .vp-navbar {
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: none;

    &:has(.vp-toggle-navbar-button.is-active) {
      background-color: var(--navbar-bg-color);
    }
  }

  .vp-dropdown-wrapper .vp-dropdown {
    border: none;
    background: rgb(0 0 0 / 25%);
  }

  .search-pro-button {
    border-color: transparent;
    background-color: transparent;
  }

  // stylelint-disable-next-line selector-class-pattern
  .DocSearch-Button {
    background: transparent;
  }
}
