// Exposes theme’s variables for easy re-use in CSS for plugin authors

:root {
  --reveal-background-color: #{$background-color};
  --reveal-main-font: #{$main-font};
  --reveal-main-font-size: #{$main-font-size};
  --reveal-main-color: #{$main-color};
  --reveal-block-margin: #{$block-margin};
  --reveal-heading-margin: #{$heading-margin};
  --reveal-heading-font: #{$heading-font};
  --reveal-heading-color: #{$heading-color};
  --reveal-heading-line-height: #{$heading-line-height};
  --reveal-heading-letter-spacing: #{$heading-letter-spacing};
  --reveal-heading-text-transform: #{$heading-text-transform};
  --reveal-heading-text-shadow: #{$heading-text-shadow};
  --reveal-heading-font-weight: #{$heading-font-weight};
  --reveal-heading1-text-shadow: #{$heading1-text-shadow};
  --reveal-heading1-size: #{$heading1-size};
  --reveal-heading2-size: #{$heading2-size};
  --reveal-heading3-size: #{$heading3-size};
  --reveal-heading4-size: #{$heading4-size};
  --reveal-code-font: #{$code-font};
  --reveal-link-color: #{$link-color};
  --reveal-link-color-hover: #{$link-color-hover};
  --reveal-selection-background-color: #{$selection-background-color};
  --reveal-selection-color: #{$selection-color};
}
