@mixin light-bg-text-color($color) {
  section.has-light-background {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color;
    }
  }
}

@mixin dark-bg-text-color($color) {
  section.has-dark-background {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color;
    }
  }
}

@mixin vertical-gradient($top, $bottom) {
  background: $top;
  background: linear-gradient(to bottom, $top 0%, $bottom 100%);
}

@mixin horizontal-gradient($left, $right) {
  background: $left;
  background: linear-gradient(to right, $left 0%, $right 100%);
}

@mixin radial-gradient($outer, $inner, $type: circle) {
  background: $outer;
  background: radial-gradient(
    center,
    $type farthest-corner,
    $inner 0%,
    $outer 100%
  );
}

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin body-background() {
  background: $background-color;
}
