@use "sass:color";

// Base settings for all themes that can optionally be overridden by the super-theme

// Background of the presentation
$background-color: #2b2b2b !default;

// Primary/body text
$main-font: "Lato", sans-serif !default;
$main-font-size: 40px !default;
$main-color: #eee !default;

// Vertical spacing between blocks of text
$block-margin: 20px !default;

// Headings
$heading-margin: 0 0 $block-margin 0 !default;
$heading-font: "League Gothic", impact, sans-serif !default;
$heading-color: #eee !default;
$heading-line-height: 1.2 !default;
$heading-letter-spacing: normal !default;
$heading-text-transform: uppercase !default;
$heading-text-shadow: none !default;
$heading-font-weight: normal !default;
$heading1-text-shadow: $heading-text-shadow !default;
$heading1-size: 3.77em !default;
$heading2-size: 2.11em !default;
$heading3-size: 1.55em !default;
$heading4-size: 1em !default;
$code-font: monospace !default;

// Links and actions
$link-color: #13daec !default;
$link-color-hover: color.scale($link-color, $lightness: 20%) !default;

// Text selection
$selection-background-color: #ff5e99 !default;
$selection-color: #fff !default;
