// Base theme template for reveal.js

/*********************************************
 * GLOBAL STYLES
 *********************************************/

@use "sass:color";

@mixin theme($theme) {
  .reveal-viewport#{$theme} {
    @include body-background;
    background-color: $background-color;
  }

  .reveal#{$theme} {
    color: $main-color;
    font-weight: normal;
    font-size: $main-font-size;
    font-family: $main-font;

    @media print {
      .backgrounds {
        background-color: $background-color;
      }
    }

    ::selection {
      background: $selection-background-color;
      color: $selection-color;
      text-shadow: none;
    }

    // stylelint-disable selector-max-compound-selectors
    .slides section,
    .slides section > section {
      font-weight: inherit;
      line-height: 1.3;
    }
    // stylelint-enable selector-max-compound-selectors

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: $heading-margin;

      color: $heading-color;

      font-weight: $heading-font-weight;
      font-family: $heading-font;
      line-height: $heading-line-height;
      letter-spacing: $heading-letter-spacing;
      text-transform: $heading-text-transform;
      text-shadow: $heading-text-shadow;
      word-wrap: break-word;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1 {
      font-size: $heading1-size;
      text-shadow: $heading1-text-shadow;
    }

    h2 {
      font-size: $heading2-size;
    }

    h3 {
      font-size: $heading3-size;
    }

    h4 {
      font-size: $heading4-size;
    }

    /*********************************************
     * OTHER
     *********************************************/

    p {
      margin: $block-margin 0;
      line-height: 1.3;
    }

    /* Ensure certain elements are never larger than the slide itself */
    img,
    video,
    iframe {
      max-width: 95%;
      max-height: 95%;
    }

    strong,
    b {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    ol,
    dl,
    ul {
      display: inline-block;
      margin: 0 0 0 1em;
      text-align: left;
    }

    ol {
      list-style-type: decimal;
    }

    ul {
      list-style-type: disc;

      ul {
        list-style-type: square;

        // stylelint-disable selector-max-compound-selectors
        ul {
          list-style-type: circle;
        }
        // stylelint-enable selector-max-compound-selectors
      }
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
      display: block;
      margin-left: 40px;
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin-left: 40px;
    }

    blockquote {
      position: relative;

      display: block;

      width: 70%;
      margin: $block-margin auto;
      padding: 5px;

      background: rgb(255 255 255 / 5%);
      box-shadow: 0 0 2px rgb(0 0 0 / 20%);

      font-style: italic;

      p {
        &:first-child,
        &:last-child {
          display: inline-block;
        }
      }
    }

    q {
      font-style: italic;
    }

    pre {
      position: relative;

      display: block;

      width: 90%;
      margin: $block-margin auto;
      padding: 0;

      box-shadow: 0 5px 15px rgb(0 0 0 / 15%);

      font-size: 0.55em;
      font-family: $code-font;
      line-height: 1.2em;
      text-align: left;
      word-wrap: break-word;
    }

    code {
      font-family: $code-font;
      text-transform: none;
    }

    pre code {
      display: block;

      overflow: auto;

      max-height: 400px;
      padding: 5px;

      word-wrap: normal;
    }

    table {
      margin: auto;
      border-spacing: 0;
      border-collapse: collapse;
    }

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.2em 0.5em;
      border-bottom: 1px solid;
      text-align: left;

      &[align="center"] {
        text-align: center;
      }

      &[align="right"] {
        text-align: right;
      }
    }

    // stylelint-disable selector-max-compound-selectors
    tbody tr:last-child {
      th,
      td {
        border-bottom: none;
      }
    }
    // stylelint-enable selector-max-compound-selectors

    sup {
      vertical-align: super;
      font-size: smaller;
    }

    sub {
      vertical-align: sub;
      font-size: smaller;
    }

    small {
      display: inline-block;
      vertical-align: top;
      font-size: 0.6em;
      line-height: 1.2em;

      * {
        vertical-align: top;
      }
    }

    img {
      margin: $block-margin 0;
    }

    a {
      color: $link-color;
      text-decoration: none;
      transition: color 0.15s ease;

      &:hover {
        border: none;
        color: $link-color-hover;
        text-shadow: none;
      }
    }

    .roll span::after {
      background: color.scale($link-color, $lightness: -15%);
      color: #fff;
    }

    .r-frame {
      border: 4px solid $main-color;
      box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    }

    a .r-frame {
      transition: all 0.15s linear;
    }

    a:hover .r-frame {
      border-color: $link-color;
      box-shadow: 0 0 20px rgb(0 0 0 / 55%);
    }

    .controls {
      color: $link-color;
    }

    .progress {
      background: rgb(0 0 0 / 20%);
      color: $link-color;
    }

    table.hljs-ln {
      display: table;
      width: 100%;

      tr {
        border: none;

        &:nth-child(2n) {
          background-color: inherit !important;
        }
      }

      td {
        border: none;
      }
    }
  }
}
