.chart-title {
  margin: 0.5rem auto;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.chart-loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grey14);

  .loading-icon {
    width: 4em;
    height: 4em;
    margin: 2.5em auto;
    color: var(--c-brand);
  }
}

.chart-wrapper {
  overflow-x: auto;
  padding: 0.6em 0.4em;
  text-align: center;
  transition: all 1s;

  @media (max-width: hope-config.$tablet) {
    margin: 0 -1rem;
    padding: 0.6em 0;
  }
}
