.chartjs-title {
  margin: 0.5rem auto;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.chartjs-loading {
  color: var(--vp-c-accent-bg);
}

.chartjs-wrapper {
  overflow-x: auto;
  padding: 0.6em 0.4em;
  text-align: center;
  transition: all 1s;

  @media print {
    page-break-inside: avoid;
  }

  @media (max-width: hope-config.$tablet) {
    margin: 0 -1rem;
    padding: 0.6em 0;
  }
}
