@use "vuepress-shared/styles/arrow";
@use "vuepress-shared/styles/reset";

:root {
  --code-demo-header-bg-color: #eee;
}

#{hope-config.$dark-selector} {
  --code-demo-header-bg-color: #333;
}

.code-demo-wrapper {
  margin: 10px 0;
  border: 1px solid var(--c-border, #eaecef);
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 2px 12px var(--card-shadow);
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grey14);
  }

  .loading-icon {
    width: 4em;
    height: 4em;
    margin: 2.5em auto;
    color: var(--c-brand);
  }
}

.code-demo-header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 12px;
  border-radius: 8px 8px 0 0;

  background-color: var(--code-demo-header-bg-color);

  text-align: left;

  .toggle-button {
    @include reset.button;
    @include arrow.arrow;
    position: relative;

    margin: 8px 12px 8px 8px;
    border-color: transparent;
    border-radius: 50%;

    background-color: #ccc;
    outline: none;

    font-size: 24px;

    cursor: pointer;

    #{hope-config.$dark-selector} & {
      background-color: #555;
    }

    &:hover {
      background-color: #aaa;

      #{hope-config.$dark-selector} & {
        background-color: #777;
      }
    }
  }

  .title {
    display: inline-block;
    vertical-align: top;
    flex: 1;

    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2.5rem;

    &:first-child {
      margin-left: 16px;
    }
  }

  .codepen-button,
  .jsfiddle-button {
    @include reset.button;
    position: relative;

    box-sizing: content-box;

    width: 1.25rem;
    height: 1.25rem;
    margin: 0 4px;
    padding: 4px;
    border-radius: 50%;

    background-color: #ccc;
    outline: none;

    #{hope-config.$dark-selector} & {
      background-color: #555;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: #777;

      #{hope-config.$dark-selector} & {
        fill: #aaa;
      }
    }

    &:hover {
      background-color: #aaa;

      #{hope-config.$dark-selector} & {
        background-color: #777;
      }

      svg {
        fill: #333;

        #{hope-config.$dark-selector} & {
          fill: #fff;
        }
      }
    }
  }
}

.code-demo-container {
  position: relative;

  overflow: auto;

  max-height: 400px;
  padding: 20px;
  border-bottom: 1px solid var(--c-border, #eaecef);
}

.code-demo-code-wrapper {
  overflow: hidden;
  transition: height 0.5s;
}

.code-demo-codes {
  > p {
    margin: 0.75rem;
  }

  > div[class*="language-"] {
    border-radius: 0;

    @media (max-width: hope-config.$mobile) {
      margin: 0.8rem 0;

      &.line-numbers-mode::after {
        display: none;
      }

      .line-numbers-wrapper {
        display: none;
      }

      pre[class*="language-"] {
        padding: 1.25rem 1.25rem 1rem;
      }
    }

    &:first-child pre {
      margin-top: 0 !important;
    }

    &.language-json {
      display: none;
    }

    &.line-numbers-mode::after {
      border-radius: 0;
    }

    .copy-code-button {
      right: 0;
      bottom: 0;

      width: 28px;
      height: 28px;
      border-radius: 50% 10% 0;

      // stylelint-disable selector-max-compound-selectors
      svg {
        position: relative;
        top: 1px;
        left: 1px;
      }
      // stylelint-enable selector-max-compound-selectors
    }
  }
}
