@use "vuepress-shared/styles/arrow";
@use "vuepress-shared/styles/reset";

:root {
  --code-demo-header-bg-color: #eee;
}

#{hope-config.$dark-selector} {
  --code-demo-header-bg-color: #333;
}

.vp-code-demo {
  margin: 8px 0;
  border: 1px solid var(--vp-brc);
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 2px 12px var(--card-shadow);
  }
}

.vp-code-demo-header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 12px;
  border-radius: 8px 8px 0 0;

  background: var(--code-demo-header-bg-color);

  text-align: start;

  .codepen-button,
  .jsfiddle-button {
    @include reset.button;
    position: relative;

    box-sizing: content-box;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 4px;
    padding: 4px;
    border-radius: 50%;

    background: #ccc;
    outline: none;

    @media print {
      display: none;
    }

    #{hope-config.$dark-selector} & {
      background: #555;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: #777;

      #{hope-config.$dark-selector} & {
        fill: #aaa;
      }
    }

    &:hover {
      background: #aaa;

      #{hope-config.$dark-selector} & {
        background: #777;
      }

      svg {
        fill: #333;

        #{hope-config.$dark-selector} & {
          fill: #fff;
        }
      }
    }
  }
}

.vp-code-demo-toggle-button {
  @include reset.button;
  @include arrow.arrow;

  position: relative;

  margin: 8px 12px 8px 8px;
  padding: 0;
  border-color: transparent;
  border-radius: 50%;

  background-color: #ccc;
  outline: none;

  font-size: 24px;

  cursor: pointer;

  @media print {
    display: none;
  }

  #{hope-config.$dark-selector} & {
    background-color: #555;
  }

  &:hover {
    background-color: #aaa;

    #{hope-config.$dark-selector} & {
      background-color: #777;
    }
  }
}

.vp-code-demo-title {
  display: inline-block;
  vertical-align: top;
  flex: 1;

  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.5rem;

  &:first-child {
    margin-inline-start: 0.5rem;
  }
}

.vp-code-demo-loading {
  color: var(--vp-tc);
}

.vp-code-demo-display {
  position: relative;

  overflow: auto;

  max-height: 400px;
  padding: 20px;
  border-bottom: 1px solid var(--vp-brc);

  @media print {
    page-break-inside: avoid;
  }
}

.vp-code-demo-code-wrapper {
  overflow: hidden;
  transition: height 0.5s;

  @media print {
    height: auto !important;
  }
}

.vp-code-demo-codes {
  > p {
    margin: 0.75rem;
  }

  > div[class*="language-"] {
    border-radius: 0;

    @media (max-width: hope-config.$mobile) {
      margin: 0.8rem 0;

      &.line-numbers-mode::after {
        display: none;
      }

      .line-numbers-wrapper {
        display: none;
      }

      pre[class*="language-"] {
        padding: 1.25rem 1.25rem 1rem;
      }
    }

    &:first-child pre {
      margin-top: 0 !important;
    }

    &.language-json {
      display: none;
    }

    &.line-numbers-mode::after {
      border-radius: 0;
    }
  }
}
