@use "@mr-hope/vuepress-shared/styles/arrow";
@use "@mr-hope/vuepress-shared/styles/reset";

.code-demo-wrapper {
  margin-top: 10px;
  border: 1px solid var(--c-border, #eaecef);
  border-radius: 4px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 2px 12px var(--card-shadow);
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grey15);
  }

  .loading-icon {
    width: 4em;
    height: 4em;
    margin: 2.5em auto;
    color: var(--c-brand);
  }

  .demo-wrapper {
    position: relative;

    overflow: auto;

    max-height: 400px;
    padding: 20px;
    border-bottom: 1px solid var(--c-border, #eaecef);
  }
}

.code-wrapper {
  overflow: hidden;
  transition: height 0.5s;

  .code-container {
    > p {
      margin: 0.75rem;
    }

    // stylelint-disable selector-max-compound-selectors
    > div[class*="language-"] {
      border-radius: 0;

      @media (max-width: hope-config.$mobileS) {
        margin: 0.8rem 0;

        &.line-numbers-mode::after {
          display: none;
        }

        .line-numbers-wrapper {
          display: none;
        }

        pre[class*="language-"] {
          padding: 1.25rem 1.25rem 1rem;
        }
      }

      &:first-child pre {
        margin-top: 0 !important;
      }

      &.language-json {
        display: none;
      }

      &.line-numbers-mode::after {
        border-radius: 0;
      }

      .copy-code-button {
        right: -2px;
        bottom: -10px;

        width: 28px;
        height: 28px;
        border-top-right-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
      }
      // stylelint-enable selector-max-compound-selectors
    }
  }
}

.code-demo-footer {
  position: relative;
  text-align: left;

  .toggle-button {
    @include reset.button;
    @include arrow.arrow;
    position: relative;

    margin: 8px;
    border-color: transparent;

    background-color: transparent;
    outline: none;

    font-size: 24px;

    cursor: pointer;
  }

  .title {
    display: inline-block;
    vertical-align: top;
    line-height: 40px;

    &:first-child {
      margin-left: 16px;
    }
  }

  .code-demo-jsfiddle,
  .code-demo-codepen {
    float: right;
    margin: 8px 4px;

    &:hover {
      opacity: 1;
    }
  }

  .button {
    @include reset.button;
    position: relative;

    margin: 0;
    padding: 0;

    color: #3eaf7c;
    outline: none;

    font-size: 14px;

    &:hover {
      &::before {
        content: attr(data-tip);

        position: absolute;
        top: -28px;
        left: 50%;
        z-index: 100;

        padding: 6px;
        border-radius: 4px;

        background-color: rgb(0 0 0 / 80%);
        color: #eee;

        font-size: 12px;
        line-height: 1;
        white-space: nowrap;

        transform: translateX(-50%);
      }

      &::after {
        content: "" !important;

        position: absolute;
        top: -5px;
        left: 50%;

        display: block;

        border: 5px solid transparent;
        border-top-color: rgb(0 0 0 / 80%);

        transform: translateX(-50%);
      }

      svg {
        fill: var(--c-brand, #3eaf7c);
      }
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: var(--grey12);
    }
  }
}
