:root {
  --container-c-bg-header: #eee;
}

[data-theme="dark"] {
  --container-c-bg-header: #333;
}

.vp-container {
  overflow: hidden;
  margin: 0.75rem 0;
  border: 1px solid var(--vp-c-border);
  border-radius: 0.5rem;
}

.vp-container-header {
  position: relative;

  display: flex;
  align-items: center;

  padding: 0.5rem 0.75rem;

  background: var(--container-c-bg-header, #eee);

  font-weight: 500;
  text-align: start;

  transition:
    background var(--vp-t-color),
    border-color var(--vp-t-color);
}

.vp-container-title {
  flex: 1;

  overflow: hidden;

  font-size: 1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
