.echarts-title {
  margin: 1rem auto 0.5rem;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.echarts-wrapper {
  position: relative;
  text-align: center;
  transition: all 1s;

  @media (max-width: hope-config.$tablet) {
    margin: 0 -1rem;
  }

  .echarts-container {
    min-height: 360px;

    @media print {
      page-break-inside: avoid;
    }
  }

  .echarts-loading {
    position: absolute;
    inset: 0 0 auto;
    color: var(--vp-tc);
  }
}
