#{hope-config.$content-class} {
  figure {
    position: relative;

    display: flex;
    flex-flow: column;

    width: auto;
    margin: 1rem auto;

    text-align: center;

    transition: transform var(--vp-tt);

    > a[href*="://"],
    > a[target=_blank] {
      &::after {
        display: none !important;
      }
    }

    img {
      overflow: hidden;
      margin: 0 auto;
      border-radius: 8px;

      &[tabindex] {
        // stylelint-disable-next-line max-nesting-depth
        &:hover,
        // stylelint-disable-next-line max-nesting-depth
        &:focus {
          box-shadow: 2px 2px 10px 0 var(--card-shadow);
        }
      }
    }

    figcaption {
      display: inline-block;
      margin: 6px auto;
      font-size: 0.8rem;
    }
  }
}
