.flowchart-loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grey15);

  .loading-icon {
    width: 4em;
    height: 4em;
    margin: 2.5em auto;
    color: var(--c-brand);
  }
}

.flowchart-wrapper {
  overflow-x: scroll;
  padding: 0.6em 0.4em;
  text-align: center;
  transition: all 1s;

  @media (max-width: hope-config.$mobile) {
    margin: 0 -1.5rem;
    padding: 0.6em 0;
  }

  &.vue {
    .start-element,
    .end-element,
    .operation-element,
    .parallel-element {
      rx: 5px;
      ry: 5px;
    }
  }
}
