.flowchart-loading {
  color: var(--vp-tc);
}

.flowchart-wrapper {
  overflow-x: auto;

  padding: 0.6em 0.4em;

  text-align: center;
  direction: ltr;

  transition: all 1s;

  @media print {
    page-break-inside: avoid;
  }

  @media (max-width: hope-config.$tablet) {
    margin: 0 -1.5rem;
    padding: 0.6em 0;
  }

  &.vue {
    .start-element,
    .end-element,
    .operation-element,
    .parallel-element {
      rx: 5px;
      ry: 5px;
    }
  }
}
