// footnote anchor position
.footnote-item {
  margin-top: calc(0rem - var(--navbar-height, 3.6rem));
  padding-top: calc(var(--navbar-height, 3.6rem) + 0.5rem);

  > p {
    margin-bottom: 0;
  }
}

.footnote-ref {
  position: relative;
}

.footnote-anchor {
  position: absolute;
  top: calc(-0.5rem - var(--navbar-height, 3.6rem));
}
