// footnote anchor fix
.footnotes .footnotes-list .footnote-item {
  margin-top: calc(0rem - var(--navbar-height));
  padding-top: calc(var(--navbar-height) + 0.5rem);

  @media (max-width: hope-config.$pad) {
    margin-top: calc(0rem - var(--navbar-mobile-height, --navbar-height));
    padding-top: calc(var(--navbar-mobile-height, --navbar-height) + 0.5rem);
  }

  & > p {
    margin-bottom: 0;
  }
}

.footnote-ref {
  position: relative;
  margin-top: calc(0rem - var(--navbar-height) - 0.5rem);
  padding-top: calc(var(--navbar-height) + 0.5rem);

  @media (max-width: hope-config.$pad) {
    margin-top: calc(
      0rem - var(--navbar-mobile-height, --navbar-height) - 0.5rem
    );
    padding-top: calc(var(--navbar-mobile-height, --navbar-height) + 0.5rem);
  }

  .footnote-anchor {
    position: absolute;
    top: 0;
  }
}
