@use "@hope/config";

// footnote anchor fix
.footnotes .footnotes-list .footnote-item {
  margin-top: calc(0rem - var(--navbar-height));
  padding-top: calc(var(--navbar-height) + 0.5rem);

  & > p {
    margin-bottom: 0;
  }
}

.footnote-ref {
  position: relative;
  margin-top: calc(0rem - var(--navbar-height) - 0.5rem);
  padding-top: calc(var(--navbar-height) + 0.5rem);

  .footnote-anchor {
    position: absolute;
    top: 0;
  }
}
