#{hope-config.$light-selector} {
  figure:has(img[data-mode="darkmode-only"]),
  img[data-mode="darkmode-only"] {
    display: none !important;
  }
}

#{hope-config.$dark-selector} {
  figure:has(img[data-mode="lightmode-only"]),
  img[data-mode="lightmode-only"] {
    display: none !important;
  }
}
