@use "vuepress-shared/styles/reset";

:root {
  --playground-header-bg-color: #eee;
}

#{hope-config.$dark-selector} {
  --playground-header-bg-color: #333;
}

.vp-playground {
  overflow: hidden;

  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--vp-brc);
  border-radius: 6px;

  @media print {
    display: none !important;
  }
}

.vp-playground-header {
  display: flex;
  flex-flow: row wrap;

  padding: 8px 10px;
  border-bottom: 1px solid var(--vp-brc);

  background: var(--playground-header-bg-color, #eee);

  font-weight: 500;

  transition:
    background var(--vp-ct),
    border-color var(--vp-ct);
}

.vp-playground-title {
  flex: 1;

  overflow: hidden;

  font-size: 1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vp-playground-actions {
  display: flex;
  align-items: center;
}

.vp-playground-action {
  display: inline-flex;
  margin-inline-start: 10px;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #777;
  }

  &:hover .icon {
    fill: var(--vp-tc);
  }
}

.vp-playground-container {
  position: relative;
  overflow: hidden;
  background: var(--vp-bg);
  transition: background var(--vp-ct);

  @media print {
    page-break-inside: avoid;
  }

  iframe {
    display: block;

    resize: vertical;

    width: 100%;
    height: 100%;
    min-height: 400px;
    border: none;
  }
}
