@use "vuepress-shared/styles/reset";

:root {
  --playground-header-bg-color: #eee;
}

#{hope-config.$dark-selector} {
  --playground-header-bg-color: #333;
}

.playground-wrapper {
  overflow: hidden;

  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--c-border, #ddd);
  border-radius: 6px;

  .title-wrapper {
    display: flex;
    flex-flow: row wrap;

    padding: 8px 10px;
    border-bottom: 1px solid var(--c-border, #ddd);

    background: var(--playground-header-bg-color, #eee);

    font-weight: 500;

    transition: background var(--color-transition),
      border-color var(--color-transition);
  }

  .title {
    flex: 1;

    overflow: hidden;

    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .actions {
    display: flex;
    align-items: center;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #777;
  }

  .action {
    display: inline-flex;
    margin-left: 10px;

    &:hover .icon {
      transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
      transform: scale(1.2);
    }
  }

  .preview-container {
    position: relative;
    overflow: hidden;
    background: var(--c-bg);
    transition: background var(--color-transition);

    iframe {
      display: block;

      width: 100%;
      height: 100%;
      min-height: 400px;
      border: none;

      resize: vertical;
    }
  }

  .preview-loading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--grey15);

    transition: background var(--color-transition);

    .loading-icon {
      width: 4em;
      height: 4em;
      margin: 2.5em auto;
      color: var(--c-brand);
    }
  }
}
