@use "vuepress-shared/styles/reset";

.vp-reveal-page {
  .vp-reveal {
    min-width: 100vw;
    min-height: 100vh;
  }

  .menu-button {
    left: 2rem;
    z-index: 50;
    vertical-align: middle;
    transition: transform 0.2s ease-in-out;

    &::before {
      content: " ";
      margin-top: 0.125em;
    }

    &::after {
      content: " ";
      margin-bottom: 0.125em;
    }

    .icon {
      margin: 0.2em 0;
    }

    &::before,
    &::after,
    .icon {
      display: block;

      width: 100%;
      height: 0.2em;
      border-radius: 0.05em;

      background: var(--white);

      transition: transform 0.2s ease-in-out;
    }
  }

  .back-button {
    left: 2rem;
    z-index: 49;

    opacity: 0;
    fill: var(--white);

    transition:
      left 0.2s ease-out,
      opacity 0.2s ease-out;
  }

  .home-button {
    left: 2rem;
    z-index: 48;

    opacity: 0;
    fill: var(--white);

    transition:
      left 0.2s ease-out,
      opacity 0.2s ease-out;
  }

  .menu-button,
  .back-button,
  .home-button {
    @include reset.button;
    position: fixed;
    bottom: 2rem;

    box-sizing: content-box;

    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    border-radius: 50%;

    background: rgb(127 127 127 / 35%);
    color: var(--white);
    outline: none;

    &:hover {
      background: var(--vp-tc);
    }
  }

  // stylelint-disable selector-max-compound-selectors
  .active {
    .menu-button {
      &::before {
        transform: translateY(0.4em) rotate(135deg);
      }

      .icon {
        transform: scale(0);
      }

      &::after {
        transform: translateY(-0.4em) rotate(-135deg);
      }
    }
    // stylelint-enable selector-max-compound-selectors

    .back-button {
      left: 4.5rem;
      opacity: 1;
    }

    .home-button {
      left: 7rem;
      opacity: 1;
    }
  }
}
