@use "vuepress-shared/styles/reset";

:root {
  --tab-bg-color: var(--vp-bg);
  --tab-nav-text-color: var(--vp-c);
  --tab-nav-bg-color: #e0e0e0;
  --tab-nav-hover-color: #eee;
}

#{hope-config.$dark-selector} {
  --tab-nav-bg-color: #34343f;
  --tab-nav-hover-color: #2d2d38;
}

.vp-tabs {
  margin: 1.5rem 0;
  border: 2px solid var(--vp-brc);
  border-radius: 8px;

  @media (max-width: hope-config.$mobile) {
    #{hope-config.$content-class} > & {
      margin-inline: -1.5rem;
      border-radius: 0;
    }
  }
}

.vp-tabs-nav {
  overflow-x: auto;

  margin: 0;
  padding: 0;
  border-radius: 8px 8px 0 0;

  background: var(--tab-nav-bg-color);
  list-style: none;

  white-space: nowrap;

  transition: background var(--vp-ct);

  @media print {
    display: none;
  }

  @media (max-width: hope-config.$mobile) {
    border-radius: 0;
  }
}

.vp-tab-nav {
  @include reset.button;

  position: relative;

  min-width: 4rem;
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 8px 8px 0 0;

  background: transparent;
  color: var(--tab-nav-text-color);

  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.75;

  cursor: pointer;

  transition:
    background var(--vp-ct),
    color var(--vp-ct);

  &:hover {
    background: var(--tab-nav-hover-color);
  }

  &::before,
  &::after {
    content: " ";

    position: absolute;
    bottom: 0;
    z-index: 1;

    width: 8px;
    height: 8px;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }

  &.active {
    background: var(--tab-bg-color);

    &::before {
      background: radial-gradient(
        16px at left top,
        transparent 50%,
        var(--tab-bg-color) 50%
      );
    }

    &::after {
      background: radial-gradient(
        16px at right top,
        transparent 50%,
        var(--tab-bg-color) 50%
      );
    }
  }

  &:first-child {
    &::before {
      display: none;
    }
  }
}

.vp-tab {
  display: none;
  padding: 1rem 0.75rem;
  background: var(--tab-bg-color);
  transition: background var(--vp-ct);

  @media print {
    display: block;
    padding: 0.5rem;
  }

  &.active {
    display: block;
  }

  &:nth-child(n + 2) .vp-tab-title {
    border-top: none;
  }
}

.vp-tab-title {
  display: none;
  padding: 0.25rem 0;
  border-top: 1px solid var(--vp-brc);
  font-weight: 500;

  @media print {
    display: block;
  }
}
