.task-list-container {
  padding-inline-start: 0;
  list-style-position: inside;

  .task-list-container {
    padding-inline-start: 1.5em;
  }
}

.task-list-item {
  list-style: none;
}

// FIXME: Firefox does not support ::before and ::after on input[type=checkbox]
// this can be a bug
.task-list-item-checkbox {
  position: relative;

  // width: 0;
  // margin-inline-end: 1.5em;
  cursor: pointer;

  &::after {
    content: " ";

    position: absolute;
    top: 0;

    display: inline-block;

    box-sizing: border-box;

    width: 1em;
    height: 1em;
    padding-inline-start: 0;
    border: 1px solid #ddd;
    border-radius: 2px;

    background: #fff;

    text-align: center;

    visibility: visible;

    transition:
      background var(--vp-ct),
      border-color var(--vp-ct);

    @media print {
      border-color: var(--vp-c);
    }

    #{hope-config.$dark-selector} & {
      border-color: #666;
      background: #333;
    }
  }

  &:checked {
    &::after {
      content: "";
      border-color: var(--vp-tc);
      background: var(--vp-tc);

      @media print {
        border-color: var(--vp-c);
        background: transparent;
      }

      #{hope-config.$dark-selector} & {
        border-color: var(--vp-tc);
        background: var(--vp-tc);
      }
    }

    &::before {
      content: "";

      position: absolute;
      top: 0.1em;
      inset-inline-start: 0.4em;
      z-index: 1;

      width: 0.2em;
      height: 0.5em;
      border: solid var(--white);
      border-width: 0 0.15em 0.15em 0;

      transform: rotate(45deg);

      @media print {
        border-color: var(--vp-c);
      }
    }
  }
}
