.task-list-container {
  padding-inline-start: 0;
  list-style-position: inside;

  .task-list-container {
    padding-inline-start: 1.5em;
  }
}

.task-list-item {
  list-style: none;
}

.task-list-item-checkbox {
  position: relative;

  vertical-align: text-bottom;

  height: 1em;
  margin-inline-end: 1.5em;

  cursor: pointer;

  appearance: none;

  &::after {
    content: " ";

    position: absolute;
    top: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 1em;
    height: 1em;
    padding-inline-start: 0;
    border: 1px solid var(--vp-c-border);
    border-radius: 2px;

    background: var(--vp-c-control);

    text-align: center;

    visibility: visible;

    transition:
      border-color var(--vp-t-color),
      background var(--vp-t-color);

    @media print {
      border-color: var(--vp-c-text);
    }
  }

  &:checked {
    &::after {
      content: "";
      border-color: var(--vp-c-accent-bg);
      background: var(--vp-c-accent-bg);

      @media print {
        border-color: var(--vp-c-text);
        background: transparent;
      }
    }

    &::before {
      content: "";

      position: absolute;
      inset-inline-start: 0.35em;
      top: 0.1em;
      z-index: 1;

      width: 0.2em;
      height: 0.5em;
      border: solid var(--vp-c-white);
      border-width: 0 0.15em 0.15em 0;

      transition: border-color var(--vp-t-color);

      transform: rotate(45deg);

      @media print {
        border-color: var(--vp-c-text);
      }
    }
  }
}
