@use "vuepress-shared/styles/reset";

.vp-color-mode-switch {
  @include reset.button;
  vertical-align: middle;

  padding: 6px;

  color: var(--grey-dark);

  cursor: pointer;

  transition: color var(--color-transition);

  &:hover {
    color: var(--theme-color);
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
