@use "vuepress-shared/styles/reset";

.full-screen,
.cancel-full-screen {
  @include reset.button;

  vertical-align: middle;
  padding: 0.25rem;
  color: var(--vp-c-text-mute);
  cursor: pointer;

  @media print {
    display: none;
  }

  &:hover {
    color: var(--vp-c-accent-hover);
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
