@import "vuepress-plugin-sass-palette/styles/default/palette";

/* responsive breakpoints */

// wide screen
$wide: 1440px !default;
// desktop
$desktop: 1280px !default;
// narrow desktop / iPad
$pad: 959px !default;
// wide mobile
$mobile: 719px !default;
// narrow mobile
$mobileS: 419px !default;

// code languages
$codeLang: "c" "cpp" "cs" "css" "dart" "docker" "fs" "go" "html" "java" "js"
  "json" "kt" "less" "makefile" "md" "php" "py" "rb" "rs" "sass" "scss" "sh"
  "styl" "ts" "toml" "vue" "yml" !default;

/* Content Class */
$contentClass: ".theme-hope-content" !default;

/** dark mode selecters */
$darkSelector: 'html[data-theme="dark"]' !default;
$lightSelector: 'html[data-theme="light"]' !default;

/* Color list */
$colors: #cf1322, #fa541c, #f39c12, #2ecc71, #25a55b, #10a5a5, #096dd9, #aa6fe9,
  #eb2f96 !default;

/* Code Theme */
$codeLightTheme: "one-light" !default;
$codeDarkTheme: "one-dark" !default;
