@import "vuepress-plugin-sass-palette/styles/default/palette";

/** dark mode selecters */
$light-selector: 'html[data-theme="light"]';
$dark-selector: 'html[data-theme="dark"]';

/* responsive breakpoints */

// wide screen
$pc: 1440px !default;

// desktop
$laptop: 1280px !default;

// narrow desktop / iPad
$pad: 959px !default;

// wide mobile
$tablet: 719px !default;

// narrow mobile
$mobile: 419px !default;

/* Content Class */
$content-class: ".theme-hope-content" !default;

/* Color list */
$colors: #cf1322, #fa541c, #f39c12, #2ecc71, #25a55b, #10a5a5, #096dd9, #aa6fe9,
  #eb2f96 !default;

/* Code Block */
// theme
$code-light-theme: "one-light" !default;
$code-dark-theme: "one-dark" !default;
