@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "@sass-palette/helper";

$textColorLight: (
  light:
    color.scale(helper.get-color($textColor, $isDark: false), $lightness: 10%),
  dark:
    color.scale(helper.get-color($textColor, $isDark: true), $lightness: 10%),
) !default;

$textColorLighter: (
  light:
    color.scale(helper.get-color($textColor, $isDark: false), $lightness: 20%),
  dark:
    color.scale(helper.get-color($textColor, $isDark: true), $lightness: 20%),
) !default;

$textColorBright: (
  light:
    color.scale(helper.get-color($textColor, $isDark: false), $lightness: 40%),
  dark:
    color.scale(helper.get-color($textColor, $isDark: true), $lightness: 40%),
) !default;

$themeColorDark: (
  light:
    color.scale(helper.get-color($themeColor, $isDark: false), $lightness: -10%),
  dark:
    color.scale(helper.get-color($themeColor, $isDark: true), $lightness: -10%),
) !default;

$themeColorLight: (
  light:
    color.scale(helper.get-color($themeColor, $isDark: false), $lightness: 10%),
  dark:
    color.scale(helper.get-color($themeColor, $isDark: true), $lightness: 10%),
) !default;

$themeColorMask: (
  light:
    color.change(helper.get-color($themeColor, $isDark: false), $alpha: 0.15),
  dark: color.change(helper.get-color($themeColor, $isDark: true), $alpha: 0.15),
) !default;
