@use "@mr-hope/vuepress-shared/styles/reset";

.copy-code-button {
  @include reset.button;
  width: 32px;
  height: 32px;
  padding: 7px 8px;
  border-radius: 50%;

  background: #339af0;
  color: #fff;
  outline: none;

  &:hover {
    background: #228be6;
    cursor: pointer !important;
  }

  div[class*="language-"] & {
    position: absolute;
    right: -14px;
    bottom: -14px;
    z-index: 100;

    @media (max-width: hope-config.$mobileS) {
      right: -2px;
      border-top-right-radius: 50% 20%;
      border-bottom-right-radius: 50% 20%;
    }
  }

  .icon-copy-code {
    width: 100%;
    height: 100%;
  }
}

.copy-code-pure-button {
  @include reset.button;
  box-sizing: content-box;

  width: 0.75rem;
  height: 0.75rem;
  padding: 0.8em;

  color: var(--code-ln-color, #9e9e9e);
  outline: none;

  &:hover {
    background-color: var(--code-hl-bg-color, rgb(0 0 0 / 66%));
    cursor: pointer !important;
  }

  div[class*="language-"] & {
    position: absolute;
    top: 0;
    right: 3em;
    z-index: 100;
  }

  .icon-copy-code {
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }
}
