@use "vuepress-shared/styles/reset";
@use "vuepress-shared/styles/svg";

$copy-icon: '<svg viewBox="0 0 24 24" fill="none" height="20" width="20" stroke="rgba(128,128,128,1)" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2"/></svg>';
$copied-icon: '<svg viewBox="0 0 24 24" fill="none" height="20" width="20" stroke="rgba(128,128,128,1)" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4"/></svg>';

:root {
  --copy-icon: #{svg.encode-svg($copy-icon)};
  --copied-icon: #{svg.encode-svg($copied-icon)};
}

div[class*="language-"] {
  > button.copy-code-button {
    @include reset.button;
    position: absolute;
    outline: none;
    cursor: pointer;

    @media print {
      display: none;
    }

    .copy-icon {
      background: currentcolor;

      -webkit-mask-image: var(--copy-icon);
      mask-image: var(--copy-icon);
      -webkit-mask-position: 50%;
      mask-position: 50%;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 1em;
      mask-size: 1em;
    }

    &:not(.fancy) {
      @include reset.button;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      z-index: 5;

      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
      border-radius: 0.5rem;

      opacity: 0;

      transition: opacity 0.4s;

      &:hover,
      &.copied {
        background: var(--code-hl-bg-color, rgb(0 0 0 / 66%));
      }

      &:focus,
      &.copied {
        opacity: 1;
      }

      &.copied::after {
        content: attr(data-copied);

        position: absolute;
        top: 0;
        right: calc(100% + 0.25rem);

        display: block;

        height: 1.25rem;
        padding: 0.625rem;
        border-radius: 0.5rem;

        background: var(--code-hl-bg-color, rgb(0 0 0 / 66%));
        color: var(--code-ln-color, #9e9e9e);

        font-weight: 500;
        line-height: 1.25rem;
        white-space: nowrap;
      }

      .copy-icon {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.625rem;

        color: var(--code-ln-color, #9e9e9e);

        font-size: 1.25rem;
      }
    }

    &.fancy {
      right: -14px;
      bottom: -14px;
      z-index: 5;

      width: 2rem;
      height: 2rem;
      padding: 7px 8px;
      border-radius: 50%;

      background: #339af0;
      color: #fff;

      @media (max-width: hope-config.$mobile) {
        right: 0;
        bottom: 0;

        width: 28px;
        height: 28px;
        border-radius: 50% 10% 0;
      }

      &:hover {
        background: #228be6;
      }

      .copy-icon {
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1.25rem;

        @media (max-width: hope-config.$mobile) {
          position: relative;
          top: 2px;
          left: 2px;
        }
      }
    }

    &.copied {
      .copy-icon {
        -webkit-mask-image: var(--copied-icon);
        mask-image: var(--copied-icon);
      }
    }
  }

  &:hover {
    &::before {
      display: none;
    }

    > button.copy-code-button:not(.fancy) {
      opacity: 1;
    }
  }
}
