@use "sass:list";
@use "sass:map";
@import "variables";
@import "@user/palette";
@import "@user/config";

/* responsive breakpoints */

// wide screen
$wide: 1440px !default;
// desktop
$desktop: 1280px !default;
// narrow desktop / iPad
$pad: 959px !default;
// wide mobile
$mobile: 719px !default;
// narrow mobile
$mobileS: 419px !default;

/* theme-color */
$colorPicker: (
  "red": #e74c3c,
  "blue": #3498db,
  "green": #3eaf7c,
  "orange": #f39c12,
  "purple": #8e44ad,
) !default;

/* code block */
$codeLang: js ts html md vue css sass scss less stylus go java c sh yaml py
  docker dockerfile makefile !default;

/* Content Class */
$contentClass: ".theme-default-content" !default;

$darkSelecter: '[data-theme="dark"]' !default;
$lightSelecter: '[data-theme="dark"]' !default;

/* Color list */
$colors: #cf1322, #fa541c, #f39c12, #2ecc71, #25a55b, #13c2c2, #096dd9, #aa6fe9,
  #eb2f96 !default;
