.audio-player-wrapper {
  --plyr-audio-controls-background: var(--vp-bg);
  --plyr-audio-control-color: var(--vp-c);
  --plyr-color-main: var(--vp-tc);

  position: relative;

  display: flex;
  align-items: center;

  margin-top: 0.375rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

  box-shadow: 2px 2px 10px 0 var(--card-shadow);

  @media print {
    display: none;
  }

  .audio-print {
    display: none;

    @media print {
      display: block;
    }
  }

  .audio-poster {
    width: 4rem;
    height: 4rem;
  }

  .audio-info {
    flex: 1;
  }

  .audio-title {
    padding: 0.5rem 1rem 0.25rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;
  }

  audio {
    display: block;

    @media print {
      display: none;
    }
  }
}
