.audio-wrapper {
  --plyr-audio-controls-background: var(--c-bg, #fff);
  --plyr-audio-control-color: var(--c-text, #2c3e50);

  position: relative;

  display: flex;
  align-items: center;

  margin-top: 5px;
  padding: 8px;
  border-radius: 8px;

  box-shadow: 2px 2px 10px 0 var(--card-shadow);

  @media print {
    display: none;
  }

  .audio-print {
    display: none;

    @media print {
      display: block;
    }
  }

  .audio-poster {
    width: 4rem;
    height: 4rem;
  }

  .audio-info {
    flex: 1;
  }

  .audio-title {
    padding: 8px 16px 4px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;
  }

  audio {
    display: block;

    @media print {
      display: none;
    }
  }
}
