/* stylelint-disable-next-line selector-class-pattern */
.plyr--audio {
  --plyr-audio-controls-background: var(--vp-c-bg);
  --plyr-audio-control-color: var(--vp-c-text);
  --plyr-color-main: var(--vp-c-accent-bg);

  box-shadow: 2px 2px 10px 0 var(--vp-c-shadow);
}
