@use "@mr-hope/vuepress-shared/styles/reset";

.back-to-top {
  @include reset.button;
  position: fixed !important;
  right: 1rem;
  bottom: 4rem;
  z-index: 10;
  width: 3rem;
  height: 3rem;
  padding: 8px;

  &:hover {
    color: var(--accent-color-l25);
  }

  svg {
    width: 100%;
    border-radius: 50%;
    background: var(--bg-color);
    color: var(--accent-color);
    overflow: hidden;
    fill: currentcolor;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
