@use "vuepress-shared/styles/reset";

.vp-back-to-top-button {
  @include reset.button;

  position: fixed !important;
  bottom: 64px;
  inset-inline-end: 1rem;
  z-index: 100;

  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 50%;

  background: var(--vp-bg);
  color: var(--vp-tc);
  box-shadow: 2px 2px 10px 4px var(--card-shadow);

  transition:
    background var(--vp-ct),
    color var(--vp-ct),
    box-shadow var(--vp-ct);

  @media (max-width: hope-config.$tablet) {
    width: 36px;
    height: 36px;
  }

  @media print {
    display: none;
  }

  &:hover {
    color: var(--vp-tcl);
  }

  .back-to-top-icon {
    overflow: hidden;
    width: 100%;
    border-radius: 50%;
    fill: currentcolor;
  }
}

.vp-scroll-progress {
  position: absolute;
  right: -2px;
  bottom: -2px;

  width: 52px;
  height: 52px;

  @media (max-width: hope-config.$tablet) {
    width: 40px;
    height: 40px;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  circle {
    opacity: 0.9;
    fill: none;
    stroke: var(--vp-tc);

    transform: rotate(-90deg);
    transform-origin: 50% 50%;

    r: 22;

    stroke-dasharray: 0% 314.1593%;
    stroke-width: 3px;

    @media (max-width: hope-config.$tablet) {
      r: 18;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--vp-ct);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
