@use "vuepress-shared/styles/reset";

.back-to-top {
  @include reset.button;

  position: fixed !important;
  right: 1rem;
  bottom: 4rem;
  z-index: 100;

  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 1rem;

  background-color: var(--c-bg, #fff);
  color: var(--c-brand, #3eaf7c);
  box-shadow: 2px 2px 10px 0 var(--card-shadow);

  @media (max-width: hope-config.$tablet) {
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
  }

  &:hover {
    color: var(--c-brand-light, #4abf8a);
  }

  svg {
    overflow: hidden;
    width: 100%;
    border-radius: 50%;
    fill: currentcolor;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--color-transition, 0.3s ease);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
