:root {
  --badge-tip-color: #42b983;
  --badge-warning-color: #f4cd00;
  --badge-danger-color: #f55;
  --badge-info-color: #0295ff;
  --badge-note-color: #666;
}

.vp-badge {
  display: inline-block;
  vertical-align: top;

  height: 18px;
  padding: 0 6px;
  border-radius: 3px;

  background: var(--vp-tc);
  color: var(--white);

  font-size: 14px;
  line-height: 18px;

  transition: background var(--vp-ct), color var(--vp-ct);

  & + & {
    margin-inline-start: 5px;
  }

  // compatible with toc
  .table-of-contents &,
  #toc & {
    vertical-align: middle;
  }

  &.tip {
    background: var(--badge-tip-color);
  }

  &.warning {
    background: var(--badge-warning-color);
  }

  &.danger {
    background: var(--badge-danger-color);
  }

  &.info {
    background: var(--badge-info-color);
  }

  &.note {
    background: var(--badge-note-color);
  }
}
