@use "@mr-hope/vuepress-shared/styles/wrapper";

// Fix top boarder of heading1
#{hope-config.$contentClass}:not(.custom) {
  > *:first-child {
    margin-top: 0;
  }
}

.breadcrumb {
  @include wrapper.horizontal-wrapper;

  position: relative;

  padding-top: 0.5rem;

  font-size: 15px;
  z-index: 2;

  @media (max-width: hope-config.$pad) {
    font-size: 14px;
  }

  @media (max-width: hope-config.$mobileS) {
    font-size: 12.8px;
  }

  .icon {
    margin-right: 0.25em;
  }

  ol {
    margin: 0;
    padding-left: 0px;
    list-style: none;
  }

  li {
    display: inline-block;

    &:first-child a {
      padding-left: 0;
    }

    &:last-child a {
      padding-right: 0;
    }

    &.is-active a {
      color: var(--light-grey);
      cursor: default;
      pointer-events: none;
    }
  }

  li + li::before {
    color: var(--light-grey);
    content: "/";
  }

  a {
    display: inline-block;
    padding: 0 0.5em;
    line-height: 2;

    &:before {
      position: relative;
      bottom: 0.125rem;
      margin-right: 0.25em;
    }

    &:hover {
      color: var(--c-brand-light, #4abf8a);
    }
  }
}
