.codepen-wrapper {
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid var(--vp-brc);

  text-align: center;

  transition:
    background var(--vp-ct),
    border var(--vp-ct);

  .codepen-button {
    display: block;

    margin: 16px auto;
    padding: 8px 16px;
    border: 1px solid var(--vp-tc);
    border-radius: 4px;

    background: transparent;
    color: var(--vp-tc);

    font-size: 16px;

    cursor: pointer;

    transition:
      background var(--vp-ct),
      border var(--vp-ct),
      color var(--vp-ct);

    &:hover {
      background: var(--vp-tcl);
      color: var(--vp-bg);
    }
  }
}

iframe[src*="codepen.io"] {
  border: none;
}
