@use "@mr-hope/vuepress-shared/styles/reset";

.full-screen,
.cancel-full-screen {
  @include reset.button;

  padding: 6px;
  color: var(--dark-grey);
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    color: var(--theme-color);
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.enter-fullscreen-icon:hover,
.cancel-fullscreen-icon {
  color: var(--c-brand, #3eaf7c);
}

.cancel-fullscreen-icon:hover {
  color: var(--dark-grey);
}
