:root {
  --notice-width: 250px;
}

.notice-fade-enter-active,
.notice-fade-leave-active {
  transition: opacity 0.5s;
}

.notice-fade-enter,
.notice-fade-leave-to {
  opacity: 0;
}

.vp-notice-mask {
  position: fixed;
  inset: 0;
  z-index: 1499;
  backdrop-filter: blur(10px);

  @media print {
    display: none;
  }
}

.vp-notice-wrapper {
  position: fixed;
  top: 80px;
  inset-inline-end: 20px;
  z-index: 1500;

  overflow: hidden;

  width: var(--notice-width);
  border-radius: 8px;

  background: var(--vp-bg);
  box-shadow: 0 2px 6px 0 var(--card-shadow);

  @media print {
    display: none;
  }

  &.fullscreen {
    top: 50vh;
    right: 50vw;
    left: unset;
    transform: translate(50%, -50%);
  }
}

.vp-notice-title {
  position: relative;

  margin: 0;
  padding: 8px 12px;

  background: var(--vp-tc);
  color: var(--white);

  font-weight: 500;
  text-align: start;

  .close-icon {
    vertical-align: middle;
    float: right;

    width: 1em;
    height: 1em;
    margin: auto;
    padding: 4px;
    border-radius: 50%;

    background-color: rgb(0 0 0 / 20%);
    color: var(--white);

    cursor: pointer;

    #{hope-config.$rtl-selector} & {
      float: left;
    }

    &:hover {
      background-color: rgb(0 0 0 / 30%);
    }
  }
}

.vp-notice-content {
  margin: 1rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
}

.vp-notice-footer {
  padding-bottom: 8px;
  text-align: center;
}

.vp-notice-footer-action {
  display: inline-block;

  margin: 4px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;

  background-color: var(--vp-bglt);
  color: var(--vp-c);

  cursor: pointer;

  &:hover {
    background-color: var(--vp-bgl);
  }

  &.primary {
    background-color: var(--vp-tc);
    color: var(--white);

    &:hover {
      background-color: var(--vp-tcl);
    }
  }
}
