@use "vuepress-shared/styles/reset";

.pdf-viewer-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  &.fullscreen {
    position: fixed;
    inset: 0;
    z-index: 9998;
    border-radius: 0;
  }
}

.pdf-viewer-container {
  width: 100%;
  height: 100%;
}

.pdf-viewer {
  width: 100%;
  height: 100%;
}

.pdf-fullscreen-button {
  @include reset.button;
  position: absolute;
  inset-inline-end: 1rem;
  bottom: 1rem;

  width: 2rem;
  height: 2rem;
  padding: 2px;
  border-radius: 0.5rem;

  background-color: var(--vp-tc);

  &:hover {
    background-color: var(--vp-tcl);
  }
}

.pdf-fullscreen-icon {
  width: 100%;
  height: 100%;
  color: var(--white) !important;
}
