@use "vuepress-shared/styles/reset";

.pdf-preview {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.pdf-open-button {
  @include reset.button;
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 8px;
  border-radius: 8px;

  background: var(--c-bg);

  transition: background var(--color-transition);

  &:hover {
    background: var(--c-bg-light);
  }
}

.pdf-iframe {
  width: 100%;
  height: 100%;
}
