@use "vuepress-shared/styles/reset";

.replit-wrapper {
  margin: 8px 0;
  border: none;
  text-align: center;

  .replit-button {
    @include reset.button;

    display: inline-block;

    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    background: var(--vp-bglt);
    color: var(--vp-c);

    font-weight: 600;
    line-height: 1.5;

    transition:
      background 0.3s ease,
      color 0.3s ease;

    &:hover {
      background: var(--vp-tc);
      color: var(--white, #fff);
    }
  }
}

.replit-iframe {
  border: none;
  border-radius: 8px;
}
