@use "vuepress-shared/styles/reset";

.replit-wrapper {
  margin: 8px 0;
  border: none;
  text-align: center;

  .replit-button {
    @include reset.button;

    display: inline-block;

    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    background: var(--vp-c-control);
    color: var(--vp-c-text);

    font-weight: 600;
    line-height: 1.5;

    transition: background var(--vp-t-color);

    &:hover {
      background: var(--vp-c-control-hover);
    }
  }
}

.replit-iframe {
  border: none;
  border-radius: 8px;
}
