@use "vuepress-shared/styles/reset";
@use "balloon-css/balloon.css";

.share-button {
  @include reset.button;

  display: inline-block;
  padding: 0.25em;
}

.share-icon {
  width: 2em;
  height: 2em;
  color: #fff;
  transition: transform var(--t-transform, 0.3s ease);

  &.plain {
    width: 1.5em;
    height: 1.5em;
    color: var(--dark-grey);

    :hover {
      color: var(--c-brand, #3eaf7c);
    }
  }

  &:not(.plain):hover {
    transform: scale(1.1);
  }

  &.color-wrapper {
    width: 1.5em;
    height: 1.5em;
    padding: 0.25em;
    border-radius: 50%;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }
}
