.vp-site-info {
  position: relative;

  display: inline-block;

  overflow: hidden;

  width: calc(50% - 1rem);
  margin: 0.25rem 0.5rem;
  border-radius: 0.5rem;

  color: inherit;
  box-shadow: 1px 1px 8px var(--vp-c-shadow);

  cursor: pointer;

  transition: box-shadow var(--vp-t-transform);

  @media (max-width: hope-config.$pad) {
    width: calc(100% - 1rem);
  }

  &:hover {
    box-shadow: 1px 4px 16px var(--vp-c-shadow);

    &::after {
      content: attr(data-name);

      position: absolute;
      inset-inline-start: 0.5rem;
      top: 0.5rem;

      display: block;

      padding: 0.5rem;
      border-radius: 0.25em;

      background: rgb(55 55 55 / 50%);
      color: #fff;
    }
  }

  &::before {
    content: "";
    display: inline-block;
    width: 0;
    padding-top: 55%;
  }

  &-navigator {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: block;
  }

  &-preview {
    position: absolute;
    inset: 0;
  }

  &-detail {
    position: absolute;
    inset: 0;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 1rem;

    text-align: center;

    opacity: 1;

    transition: opacity ease 0.6s;

    &::before {
      content: " ";

      position: absolute;
      inset: 0;

      background-color: var(--vp-c-bg);

      opacity: 0.75;
    }

    .vp-site-info:hover & {
      opacity: 0;
    }
  }

  &-logo {
    z-index: 1;
    height: 3rem;
    margin: 0 auto;
  }

  &-name {
    z-index: 1;

    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--vp-c-text);

    color: var(--vp-c-black);

    font-weight: bold;
    font-size: 1.25rem;
  }

  &-desc {
    z-index: 1;

    flex-shrink: 1;

    overflow: hidden;

    color: var(--vp-c-black);

    font-size: 0.875rem;
    line-height: 1.25;
    text-overflow: ellipsis;
  }

  &-repo-wrapper {
    position: absolute;
    inset-inline-end: 1rem;
    bottom: 1rem;
    z-index: 3;
  }

  &-repo {
    display: inline-block;

    width: 1.25rem;
    height: 1.25rem;
    padding: 0.25rem;
    border-radius: 50%;

    background: var(--vp-c-black);

    transition: transform var(--vp-t-transform);

    + .vp-site-info-repo {
      margin-inline-start: 0.5rem;
    }

    .icon {
      width: 100%;
      height: 100%;
      color: var(--vp-c-white);

      &.gitlab-icon {
        color: #fc6d26;
      }

      &.gitee-icon {
        color: #c71d23;
      }

      &.bitbucket-icon {
        color: #2684ff;
      }
    }
  }
}
