@use "vuepress-shared/styles/reset";

.stackblitz-container {
  margin: 8px 0;
  border-radius: 8px;
  text-align: center;
}

.stackblitz-button {
  @include reset.button;

  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  background: var(--vp-bglt);
  color: var(--vp-c);

  font-weight: 600;
  line-height: 1.5;

  transition:
    background var(--vp-ct),
    color var(--vp-ct);

  &:hover {
    background: var(--vp-tc);
    color: var(--white);
  }
}
