$headings: (2, 3, 4, 5, 6);

.toc-place-holder {
  position: sticky;
  top: calc(var(--navbar-height) + 2rem);
  max-width: var(--content-width);
  margin: 0 auto;
  z-index: 99;

  @media (max-width: hope-config.$pad) {
    padding: 0 1.5rem;
  }

  & + #{hope-config.$contentClass}:not(.custom) {
    padding-top: 0;
  }
}

#toc-list {
  display: none;
  position: absolute;
  left: calc(100% + 0.5rem);
  min-width: 10rem;
  max-width: 15rem;
  max-height: 80vh;
  overflow-y: scroll;

  @media (min-width: hope-config.$wide) {
    .has-toc & {
      display: block;
    }
  }

  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    background: #ddd;

    #{hope-config.$darkSelector} & {
      background: #333;
    }
  }

  .toc-header {
    margin: 0 0 0.75rem 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .toc-wrapper {
    position: relative;
    margin: 0 0.5rem;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0px;
      bottom: 0;
      width: 2px;
      background: var(--border-color);
      z-index: -1;
    }
  }

  .toc-list {
    // overide ul default margin
    margin: 0;
    // overide ul default padding
    padding: 0;
  }

  .toc-item {
    position: relative;
    box-sizing: border-box;
    height: 1.7rem;
    padding: 0 0.5rem;
    list-style: none;
    line-height: 1.7rem;

    &::before {
      content: " ";
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: -8px;
      width: 2px;
      background: transparent;
    }

    &:hover {
      > .toc-link {
        color: var(--theme-color);
      }
    }

    &.active {
      > .toc-link {
        color: var(--theme-color);
        font-weight: bold;
      }

      &::before {
        background: var(--theme-color);
      }
    }
  }

  .toc-link {
    display: block;
    position: relative;
    max-width: 100%;
    color: var(--light-grey);
    line-height: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @each $heading in $headings {
      &.level#{$heading} {
        padding-left: ($heading * 8 - 16) * 1px;
        font-size: (16 - $heading) * 1px;
      }
    }
  }
}
