/* stylelint-disable-next-line selector-class-pattern */
.plyr--video {
  --plyr-audio-controls-background: var(--vp-c-bg);
  --plyr-audio-control-color: var(--vp-c-text);
  --plyr-color-main: var(--vp-c-accent-bg);

  @media print {
    display: none;
  }
}
