.vds-audio-layout,
.vds-video-layout {
  box-shadow: 2px 2px 10px 0 var(--card-shadow);

  &,
  &.light,
  &.dark {
    --default-brand: var(--vp-tc);
    --audio-bg: var(--vp-bg);
    --default-controls-color: var(--grey-darker);
    --default-focus-ring-color: var(--vp-tc);
    --default-border-radius: 8px;
    --audidefaulto-border: 1px solid var(--vp-brc);
  }
}
