@use "@mr-hope/vuepress-shared/styles/arrow";
@use "@mr-hope/vuepress-shared/styles/reset";

.dropdown-wrapper {
  cursor: pointer;

  &:not(:hover) {
    .arrow {
      transform: rotate(-180deg);
    }
  }

  &:hover,
  &.open {
    .nav-dropdown {
      z-index: 2;
      transform: scale(1);
      visibility: visible;
      opacity: 1;
    }
  }

  .dropdown-title {
    @include reset.button;

    padding: 0 0.25rem;

    color: var(--dark-grey);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    cursor: inherit;

    &:hover {
      border-color: transparent;
    }

    &::after {
      border-left: 5px solid var(--theme-color);
    }

    .icon {
      font-size: 1em;
      margin-right: 0.25em;
    }

    .arrow {
      @include arrow.arrow();
      font-size: 1.2em;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-dropdown {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    right: 0;

    max-height: calc(100vh - var(--navbar-height));
    margin: 0;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--grey14);
    border-radius: 0.25rem;
    background: var(--bg-color);
    box-shadow: 2px 2px 10px var(--card-shadow);

    text-align: left;
    white-space: nowrap;

    overflow-y: auto;
    transform: scale(0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.18s ease-out;
  }

  .dropdown-item {
    color: inherit;
    line-height: 1.7rem;

    &:last-child .dropdown-subitem-wrapper {
      padding-bottom: 0;
      border-bottom-width: 0;
    }
  }

  .dropdown-subtitle {
    margin: 0;
    padding: 0 0.25rem;
    color: var(--light-grey);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 2;
    text-transform: uppercase;
    transition: color var(--color-transition);
  }

  .dropdown-subitem-wrapper {
    padding: 0 0 0.5rem 0;
    border-bottom: 1px solid var(--grey14);
  }

  .nav-link {
    display: block;
    position: relative;
    margin-bottom: 0;
    border-bottom: none;
    color: var(--dark-grey);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.7rem;
    transition: color var(--color-transition);

    &:hover {
      color: var(--theme-color);
    }

    &.active {
      color: var(--theme-color);
    }
  }
}
