.navbar {
  .logo {
    height: var(--navbar-line-height);
    margin-right: 0.8rem;
    vertical-align: top;

    &.light {
      display: inline-block;
    }

    &.dark {
      display: none;
    }

    #{hope-config.$darkSelector} & {
      &.light {
        display: none;
      }

      &.dark {
        display: inline-block;
      }
    }
  }

  .site-name {
    font-size: 1.25rem;
    color: var(--text-color);
    position: relative;

    .home-link:hover & {
      color: var(--theme-color);
    }

    @media (max-width: hope-config.$mobile) {
      width: calc(100vw - 9.4rem);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
