.nav-actions-wrapper {
  display: flex;
  align-items: center;

  margin-left: 0.5rem;

  > * {
    position: relative;
    margin: 0 0.25rem !important;

    &:first-child {
      margin-left: 0 !important;
    }

    &:last-child {
      margin-right: 0 !important;
    }
  }

  .repo-link {
    display: inline-block;
    margin: auto;
    padding: 6px;
    color: var(--dark-grey);
    // fix icon position
    line-height: 1;

    &:hover,
    &:active {
      color: var(--theme-color);
    }
  }
}
