.navbar {
  --navbar-line-height: calc(
    var(--navbar-height) - var(--navbar-vertical-padding) * 2
  );

  display: flex;
  justify-content: space-between;

  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;

  box-sizing: border-box;
  height: var(--navbar-height);
  padding: var(--navbar-vertical-padding) var(--navbar-horizontal-padding);

  background: var(--navbar-bg-color);
  box-shadow: 0 2px 8px var(--card-shadow);
  backdrop-filter: saturate(150%) blur(12px);

  line-height: var(--navbar-line-height);
  white-space: nowrap;

  transition: transform ease-in-out 0.3s,
    background-color var(--color-transition), box-shadow var(--color-transition);

  @media (max-width: hope-config.$pad) {
    --navbar-line-height: calc(
      var(--navbar-mobile-height) - var(--navbar-mobile-vertical-padding) * 2
    );

    height: var(--navbar-mobile-height);
    padding: var(--navbar-mobile-vertical-padding)
      var(--navbar-mobile-horizontal-padding);
  }

  @media (max-width: hope-config.$mobile) {
    padding-left: calc(var(--navbar-mobile-horizontal-padding) + 2.4rem);

    .disable-sidebar & {
      padding-left: var(--navbar-mobile-horizontal-padding);
    }
  }

  .hide-navbar &.auto-hide {
    transform: translateY(-100%);
  }

  &.hide-icon .icon {
    display: none !important;
  }

  .nav-link {
    color: var(--dark-grey);
    padding: 0 0.25rem;

    &.active {
      color: var(--theme-color);
    }

    .icon {
      font-size: 1em;
      margin-right: 0.25em;
    }
  }
}

.DocSearch {
  &.DocSearch-Button {
    margin-left: 0;
  }

  &.DocSearch-Container {
    position: fixed !important;
  }
}
