/**
 * toggle dark button
 */
.toggle-dark-button {
  padding: 6px;
  border: 0;
  background: none;
  color: var(--dark-grey);
  cursor: pointer;

  &:hover {
    color: var(--theme-color);
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
