@use "@mr-hope/vuepress-shared/styles/reset";

.toggle-sidebar-button {
  @include reset.button();

  display: none;
  box-sizing: content-box;
  vertical-align: middle;

  position: absolute;
  top: calc(50% - 1.075rem);
  left: 1rem;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;

  font: unset;
  transition: transform 0.2s ease-in-out;

  @media screen and (max-width: hope-config.$mobile) {
    display: block;

    .disable-sidebar & {
      display: none;
    }
  }

  &::before,
  &::after,
  .icon {
    display: block;
    width: 100%;
    height: 2px;
    transition: transform 0.2s ease-in-out;
    border-radius: 0.05em;
    background: var(--dark-grey);
  }

  &::before {
    content: " ";
    margin-top: 0.125em;

    .sidebar-open & {
      transform: translateY(0.34rem) rotate(135deg);
    }
  }

  &::after {
    content: " ";
    margin-bottom: 0.125em;

    .sidebar-open & {
      transform: translateY(-0.34rem) rotate(-135deg);
    }
  }

  .icon {
    margin: 0.2em 0;

    .sidebar-open & {
      transform: scale(0);
    }
  }
}
