/**
 * toggle dark button
 */
.toggle-dark-button {
  display: flex;
  margin: auto;
  border: 0;
  background: none;
  color: var(--text-color);
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
