.katex-playground {
  textarea {
    width: 100%;
    border-color: var(--border-color);
    border-radius: 0.5rem;

    background: var(--bgcolor-light);
    color: var(--text-color);

    font-size: 18px;

    resize: vertical;

    &:active,
    &:focus-visible {
      background: var(--bg-color-secondary);
      outline: 1px solid var(--light-grey);
    }
  }
}
