@use '@mr-hope/vuepress-palette' as *;
@use '@mr-hope/vuepress-shared/styles/wrapper';

.page {
  .page-title {
    @include wrapper.wrapper;
    padding-bottom: 0.2rem;
    position: relative;
    z-index: 1;

    h1 {
      margin-top: -3.1rem !important;
      padding-top: 4.6rem !important;
      margin-bottom: 0.5rem;

      .iconfont {
        color: var(--accent-color);
        font-size: 0.9em;
      }
    }

    + #{$contentClass}:not(.custom) {
      padding-top: 0;
    }

    + #{$contentClass}:not(.custom) > h1:first-child {
      display: none;
    }
  }

  .page-info {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    color: var(--dark-grey);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    & > span {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 0.5em;
      line-height: 2;

      @media (min-width: $screenXXL) {
        font-size: 1.1em;
      }

      @media (max-width: $screenS) {
        font-size: 0.875em;
      }

      &.origin {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin: 0 0.5em;
        padding: 0 0.5em;
        border: 0.5px solid var(--dark-grey);
        border-radius: 0.75em;
        background: var(--bg-color);
        font-size: 0.75em;
        line-height: 1.5;
        overflow: hidden;
      }
    }

    .icon {
      width: 1em;
      height: 1em;
      margin-right: 0.25em;
    }
  }
}
