@use '@mr-hope/vuepress-shared/styles/wrapper';

.page {
  .waline-wrapper {
    @include wrapper.wrapper;

    --waline-accent-color: var(--accent-color);
    --waline-text-color: var(--text-color);
    --waline-active-color: var(--accent-color-l10);
    --waline-border: none;
    --waline-box-shadow: 0 12px 40px rgba(134, 151, 168, 0.25);

    [data-theme="dark"] & {
      --waline-active-color: var(--accent-color-d10);
      --waline-box-shadow: 0 12px 40px #0f0e0d;
    }
  }
}
