@use '@mr-hope/vuepress-shared/styles/wrapper';

.page {
  .waline-wrapper {
    @include wrapper.wrapper;

    --waline-accent-color: var(--accent-color);
    --waline-text-color: var(--text-color);
    --waline-active-color: var(--accent-color-light);
    --waline-border: none;
    --waline-box-shadow: var(--box-shadow);
  }
}
