.full-screen-title {
  display: block;
  margin: 0;
  padding: 0 0.25rem;
  color: var(--light-grey);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 2;
  transition: color var(--color-transition);
}
