@use "sass:color";
@use "sass:list";

.categories-wrapper {
  margin: 0;
  padding-left: 0;
  list-style: none;

  .category {
    display: inline-block;

    margin: 0 0.25em;
    padding: 0 0.25em;
    border-radius: 0.25em;

    font-weight: bold;
    font-size: 0.75rem;
    line-height: 2;

    transition: background-color var(--color-transition),
      color var(--color-transition);

    > span {
      &::after {
        content: ", ";
      }

      &:last-child::after {
        content: "";
      }
    }

    &.clickable {
      > span:hover {
        color: var(--theme-color);
        cursor: pointer;
      }
    }
  }

  @each $color in hope-config.$colors {
    $index: list.index(hope-config.$colors, $color) - 1;

    .category#{$index} {
      background: color.scale($color, $lightness: 90%);
      color: color.scale($color, $lightness: 20%);

      #{hope-config.$dark-selector} & {
        background: color.scale($color, $lightness: -75%);
        color: color.scale($color, $lightness: -10%);
      }

      &:hover {
        background: color.scale($color, $lightness: 75%);

        #{hope-config.$dark-selector} & {
          background: color.scale($color, $lightness: -60%);
        }
      }
    }
  }
}
