.page-original-info {
  position: relative;

  display: inline-block;
  vertical-align: middle;

  overflow: hidden;

  padding: 0 0.5em;
  border: 0.5px solid var(--dark-grey);
  border-radius: 0.75em;

  background: var(--bg-color);

  font-size: 0.75em;
  line-height: 1.5 !important;
}
