.page-info {
  display: flex;
  flex-wrap: wrap;
  place-content: stretch flex-start;
  align-items: center;

  color: var(--vp-c-text-mute);

  font-size: 0.875rem;

  @media print {
    display: flex !important;
  }

  > span {
    display: flex;
    align-items: center;

    max-width: 100%;
    margin-inline-end: 0.5em;

    line-height: 2;

    @media (min-width: hope-config.$pc) {
      font-size: 1.1em;
    }

    @media (max-width: hope-config.$mobile) {
      margin-inline-end: 0.3em;
      font-size: 0.875em;
    }

    @media print {
      display: flex !important;
    }
  }

  .icon {
    position: relative;

    display: inline-block;
    vertical-align: middle;

    width: 1em;
    height: 1em;
    margin-inline-end: 0.25em;
  }

  a {
    color: inherit;

    &:hover,
    &:active {
      color: var(--vp-c-accent);
    }
  }
}
