/* 主页更改 */
.home
  .features
    .feature
      max-width 33%
      padding 0 1.5%
      transition all 0.5s

      &:hover
        transform scale(1.05)
        box-shadow 1px 1px 6px 0 rgba(32, 33, 36, 0.28)

@media (max-width: $MQMobile)
  .home
    .features
      .feature
        align-items stretch
        width calc(100% - 5rem)
        max-width calc(100% - 5rem)
        padding 0 2.5rem