.theme-hope-content a {
  &[href*="/guide/"],
  &[href*="/config.html"] {
    &::before {
      position: relative;
      bottom: 0.125em;

      vertical-align: middle;

      margin-inline-end: 0.25em;

      color: var(--theme-color);

      font-family: iconfont, sans-serif;
    }
  }

  &[href*="/config.html"] {
    &::before {
      content: "\e656";
    }
  }

  &[href*="/guide/"] {
    ::before {
      content: "\e718";
    }
  }
}
