name: Publish Packages

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    name: Publish packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Restore Build Result
        uses: actions/download-artifact@v7
        with:
          name: build-result

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Publish packages
        run: pnpm publish -r --no-git-checks

      - name: Sync npmmirror
        run: pnpm release:sync
